.hdr .hdr-topline {
    color: #fff;
    background-color: orange;
    color: black;
}
.cart-table-prd-image img {
    width: 33px;
}
.logo-holder img, .logo-holder-s img {
    max-width: 300px !important;
}