<!-- -->
<header class="hdr global_width hdr_sticky hdr-mobile-style2">

    <!-- Mobile Menu -->
    <div class="mobilemenu js-push-mbmenu">
        <div class="mobilemenu-content">
            <div class="mobilemenu-close mobilemenu-toggle">CLOSE</div>
            <div class="mobilemenu-scroll">
                <div class="mobilemenu-search"></div>
                <div class="nav-wrapper show-menu">
                    <div class="nav-toggle"><span class="nav-back"><i class="icon-arrow-left"></i></span> <span class="nav-title"></span></div>
                    <ul class="nav nav-level-1">
                        <li><a href="index.html">Rings<span class="menu-label menu-label--color1">NEW</span></a><span class="arrow"></span>
                            <ul class="nav-level-2">
                                <li><a href="#" title="">New Rings</a></li>
                               <li><a href="#" title="">New Rings</a></li>
                               <li><a href="#" title="">New Rings</a></li>
                               <li><a href="#" title="">New Rings</a></li>
                               <li><a href="#" title="">New Rings</a></li>
                               <li><a href="#" title="">New Rings</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="">dd</a><span class="arrow"></span>
                            <ul class="col-md-6">
                                <li><a href="product.html" title="">Product page variant 1</a></li>
                                <li><a href="product-2.html" title="">Product page variant 2</a></li>
                                <li><a href="product-3.html" title="">Product page variant 3</a></li>
                                <li><a href="product-4.html" title="">Product page variant 4</a></li>
                                <li><a href="product-5.html" title="">Product page variant 5</a></li>
                            </ul>
                            <ul class="col-md-6">
                                <li><a href="product.html" title="">Product page variant 1</a></li>
                                <li><a href="product-2.html" title="">Product page variant 2</a></li>
                                <li><a href="product-3.html" title="">Product page variant 3</a></li>
                                <li><a href="product-4.html" title="">Product page variant 4</a></li>
                                <li><a href="product-5.html" title="">Product page variant 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="">Pendants</a><span class="arrow"></span>
                            <ul class="nav-level-2">
                                <li><a href="index.html" title="">Demo Text</a><span class="arrow"></span>
                                    <ul class="nav-level-3">
                                        <li><a href="index.html" title="">Menu 1</a></li>
                                        <li><a href="index-fashion-2.html" title="">Menu 2</a></li>
                                        <li><a href="index-electronics.html" title="">Menu 3</a></li>
                                        <li><a href="index-sport.html" title="">Menu 4</a></li>
                                        <li><a href="typography.html" title="">Menu 5</a></li>
                                        <li><a href="index-tools.html" title="">Menu 6</a></li>
                                        <li><a href="index-watches.html" title="">Menu 7</a></li>
                                        <li><a href="index-toys-2.html" title="">Menu 8</a></li>
                                    </ul>
                                </li>
                                <li><a href="index.html" title="">Demo Text 2</a><span class="arrow"></span>
                                    <ul class="nav-level-3">
                                        <li><a href="index.html" title="">Menu 1</a></li>
                                        <li><a href="index-sport.html" title="">Menu 2</a></li>
                                        <li><a href="index-tools.html" title="">Menu 3</a></li>
                                        <li><a href="index-furniture.html" title="">Menu 4</a></li>
                                        <li><a href="index-plumbing.html" title="">Menu 5</a></li>
                                        <li><a href="index-electronics.html" title="">Menu 6</a></li>
                                        <li><a href="index-watches.html" title="">Menu 7</a></li>
                                        <li><a href="index-fashion-2.html" title="">Menu 8</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="category.html">All Jewelery</a><span class="arrow"></span>
                            <ul class="nav-level-2">
                                <li><a href="category.html" title="">Demo Text</a><span class="arrow"></span>
                                    <ul class="nav-level-3">
                                        <li><a href="category.html">Menu</a></li>
                                        <li><a href="category.html">Menu</a></li>
                                        <li><a href="category.html">Menu</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html" title="">Demo Text 2</a><span class="arrow"></span>
                                    <ul class="nav-level-3">
                                        <li><a href="category.html">Menu</a></li>
                                        <li><a href="category.html">Menu</a></li>
                                        <li><a href="category.html">Menu</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html" title="">Menu 3</a><span class="arrow"></span>
                                    <ul class="nav-level-3">
                                        <li><a href="category.html">Menu</a></li>
                                        <li><a href="category.html">Menu</a></li>
                                        <li><a href="category.html">Menu</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html" title="">Menu 4</a><span class="arrow"></span>
                                    <ul class="nav-level-3">
                                        <li><a href="category.html">Menu</a></li>
                                        <li><a href="category.html">Menu</a></li>
                                        <li><a href="category.html">Menu</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" target="_blank">Next Day Delivery<span class="menu-label menu-label--color3">HOT!</span></a><span class="arrow"></span></li>
                    </ul>
                </div>
                <div class="mobilemenu-bottom">
                    <div class="mobilemenu-currency"></div>
                    <div class="mobilemenu-language"></div>
                    <div class="mobilemenu-settings"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Mobile Menu -->
    
    <div class="hdr-mobile show-mobile">
        <div class="hdr-content">
            <div class="container">
                <!-- Menu Toggle -->
                <div class="menu-toggle"><a routerLink="/" class="mobilemenu-toggle"><i class="icon icon-menu"></i></a></div>
                <!-- /Menu Toggle -->
                <div class="logo-holder"><a routerLink="/" class="logo"><img src="../../../../assets/images/savya-jwels.png" srcset="../../../../assets/images/savya-jwels.png 2x" alt=""></a></div>
                <div class="hdr-mobile-right">
                    <div class="hdr-topline-right links-holder"></div>
                    <div class="minicart-holder"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="hdr-desktop hide-mobile">
        <div class="hdr-topline">
            <div class="container">
                <div class="row">
                    <div class="col-auto hdr-topline-left">
                        <!-- Header Language -->
                        <div class="dropdn dropdn_language">
                            <div class="dropdn dropdn_caret"><a href="#" class="dropdn-link">EN</a>
                                <div class="dropdn-content">
                                    <div class="container">
                                        <ul>
                                            <li class="active"><a href="#"><img src="../../../../assets/images/flags/en.png" alt="">English</a></li>
                                            <li><a href="#"><img src="../../../../assets/images/flags/sp.png" alt="">Spanish</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Header Language -->
                        <!-- Header Currency -->
                        <div class="dropdn dropdn_currency">
                            <div class="dropdn dropdn_caret"><a href="#" class="dropdn-link">₹ INR</a>
                                <div class="dropdn-content">
                                    <div class="container">
                                        <ul>
                                            <li class="active"><a href="#"><span>₹ INR</span><span>Indian Rupees</span></a></li>
                                            <li><a href="#"><span>₹USD</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Header Currency -->
                    </div>
                    <div class="col hdr-topline-center">
                        <div class="custom-text"><span>FREE</span> STANDARD DELIVERY ON ORDERS OVER ₹10,050</div>
                        <div class="custom-text"><i class="icon icon-phone"></i><b>+91-80 3966 4955</b></div>
                    </div>
                    <div class="col-auto hdr-topline-right links-holder">
                        <!-- Header Search -->
                        <div class="dropdn dropdn_search hide-mobile @@classes"><a href="#" class="dropdn-link"><i class="icon icon-search2"></i><span>Search</span></a>
                            <div class="dropdn-content">
                                <div class="container">
                                    <form action="#" class="search">
                                    <button type="submit" class="search-button"><i class="icon-search2"></i></button> <input type="text" class="search-input" placeholder="search keyword">
                                        <div class="search-popular js-search-autofill"><span class="search-popular-label">popular searches:</span><a href="#">RINGS</a> <a href="#">Solitaries</a> <a href="#">Diamond</a> <a href="#">Discount</a> <a href="#">Valentine’s gift</a> <a href="#">Gift for Wife</a> <a href="#">Gold Coin</a><a href="#">New Design</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /Header Search -->
                        
                        <!-- Header Wishlist -->
                        <div class="dropdn dropdn_wishlist @@classes"><a routerLink="/account-wishlist" class="dropdn-link"><i class="icon icon-clock"></i><span>Recently viewed</span></a></div>
                        <!-- /Header Wishlist -->
                        
                        <!-- Header Account -->
                        <div class="dropdn dropdn_account @@classes"><a href="#" class="dropdn-link"><i class="icon icon-person"></i><span>My Account</span></a>
                            <div class="dropdn-content">
                                <div class="container">
                                    <div class="dropdn-close">CLOSE</div>
                                    <ul>
                                        <li><a routerLink="/account-details"><i class="icon icon-person-fill"></i><span>My Account</span></a></li>
                                        <li><a routerLink="/login"><i class="icon icon-lock"></i><span>Log In</span></a></li>
                                        <li><a routerLink="/register"><i class="icon icon-person-fill-add"></i><span>Register</span></a></li>
                                        <li><a routerLink="/checkout"><i class="icon icon-check-box"></i><span>Checkout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Header Account -->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="hdr-content hide-mobile">
            <div class="container">
                <div class="row">
                    <div class="col-auto logo-holder"><a routerLink="/" class="logo"><img src="../../../../assets/images/savya-jwels.png" srcset="../../../../assets/images/savya-jwels.png 2x" alt=""></a></div>
                    <!--navigation-->
                    <div class="prev-menu-scroll icon-angle-left prev-menu-js"></div>
                    <div class="nav-holder">
                        <div class="hdr-nav">
                            <!--mmenu-->
                            <ul class="mmenu mmenu-js">
                                <li class="mmenu-item--simple"><a href="#" title="">Rings<span class="menu-label menu-label--color1">NEW</span></a>
                                    <div class="mmenu-submenu">
                                     <ul class="submenu-list">
                                       <li><a href="#" title="">New Rings</a></li>
                                       <li><a href="#" title="">New Rings</a></li>
                                       <li><a href="#" title="">New Rings</a></li>
                                       <li><a href="#" title="">New Rings</a></li>
                                       <li><a href="#" title="">New Rings</a></li>
                                       <li><a href="#" title="">New Rings</a></li>
                                      </ul>
                                   </div>
                                </li>
                                
                                <li class="mmenu-item--mega"><a href="category.html">Pendants</a>
                                    <div class="mmenu-submenu mmenu-submenu-with-sublevel">
                                        <div class="mmenu-submenu-inside">
                                            <div class="container">
                                                <div class="mmenu-right width-20">
                                                    <h4 class="text-center submenu-title">Featured</h4>
                                                    <div class="prd-carousel-menu" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": true}'>
                                                        <div class="prd-sm"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-10.jpg" class="lazyload" alt=""></a>
                                                            <div class="prd-info">
                                                                <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                                                <div class="prd-price">
                                                                    <div class="price-new">₹9000</div>
                                                                    <div class="price-old">₹15,000</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="prd-sm"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-06.jpg" class="lazyload" alt=""></a>
                                                            <div class="prd-info">
                                                                <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                                                <div class="prd-price">
                                                                    <div class="price-new">₹11,000</div>
                                                                    <div class="price-old">₹21,000</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="prd-sm"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-08.jpg" class="lazyload" alt=""></a>
                                                            <div class="prd-info">
                                                                <h2 class="prd-title"><a href="product.html">Product NAme</a></h2>
                                                                <div class="prd-price">
                                                                    <div class="price-new">₹21,000</div>
                                                                    <div class="price-old">₹31,000</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="mmenu-cols column-5">
                                                    <div class="mmenu-col">
                                                    
                                                        <h3 class="submenu-title"><a href="category.html">Ne Pendants</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html">Sub Menu Level 1</a>
                                                                <ul class="sub-level">
                                                                    <li><a href="#">Sub Menu Level 2</a>
                                                                        <ul class="sub-level">
                                                                            <li><a href="#">Sub Menu Level 3</a>
                                                                                <ul class="sub-level">
                                                                                    <li><a href="#">Sub Menu Level 4</a>
                                                                                        <ul class="sub-level">
                                                                                            <li><a href="#">Sub Menu Level 5</a>
                                                                                                <ul class="sub-level">
                                                                                                    <li><a href="#">Sub Menu Level 6</a>
                                                                                                        <ul class="sub-level">
                                                                                                            <li><a href="#">Sub Menu Level 7</a></li>
                                                                                                            <li><a href="#">Sub Menu Level 7</a></li>
                                                                                                            <li><a href="#">Sub Menu Level 7</a></li>
                                                                                                        </ul>
                                                                                                    </li>
                                                                                                    <li><a href="#">Sub Menu Level 6</a></li>
                                                                                                    <li><a href="#">Sub Menu Level 6</a></li>
                                                                                                    <li><a href="#">Sub Menu Level 6</a></li>
                                                                                                    <li><a href="#">Sub Menu Level 6</a></li>
                                                                                                    <li><a href="#">Sub Menu Level 6</a></li>
                                                                                                    <li><a href="#">Sub Menu Level 6</a></li>
                                                                                                    <li><a href="#">Sub Menu Level 6</a></li>
                                                                                                </ul>
                                                                                            </li>
                                                                                            <li><a href="#">Sub Menu Level 5</a></li>
                                                                                            <li><a href="#">Sub Menu Level 5</a></li>
                                                                                            <li><a href="#">Sub Menu Level 5</a></li>
                                                                                            <li><a href="#">Sub Menu Level 5</a></li>
                                                                                        </ul>
                                                                                    </li>
                                                                                    <li><a href="#">Sub Menu Level 4</a></li>
                                                                                    <li><a href="#">Sub Menu Level 4</a></li>
                                                                                    <li><a href="#">Sub Menu Level 4</a></li>
                                                                                    <li><a href="#">Sub Menu Level 4</a></li>
                                                                                    <li><a href="#">Sub Menu Level 4</a></li>
                                                                                    <li><a href="#">Sub Menu Level 4</a></li>
                                                                                    <li><a href="#">Sub Menu Level 4</a></li>
                                                                                </ul>
                                                                            </li>
                                                                            <li><a href="#">Sub Menu Level 3</a></li>
                                                                            <li><a href="#">Sub Menu Level 3</a></li>
                                                                            <li><a href="#">Sub Menu Level 3</a></li>
                                                                            <li><a href="#">Sub Menu Level 3</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                    <li><a href="#">Sub Menu Level 2</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="category.html">New Pendants</a></li>
                                                            <li><a href="category.html">New Pendants</a></li>
                                                            <li><a href="category.html">New Pendants</a></li>
                                                            <li><a href="category.html">New Pendants</a></li>
                                                        </ul><a href="category.html" class="submenu-view-more">View More</a>
                                                        <div class="submenu-img"><a href="category.html"><img src="../../../../assets/images/placeholder.png" data-src="../../../../assets/images/menu/category-img-01.jpg" class="lazyload" alt=""></a></div>
                                                    </div>
                                                    <div class="mmenu-col">
                                                        <h3 class="submenu-title"><a href="category.html">By price Range</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html">Below ₹10,000</a></li>
                                                            <li><a href="category.html">Below ₹10,000</a></li>
                                                            <li><a href="category.html">Below ₹10,000</a></li>
                                                            <li><a href="category.html">Below ₹10,000</a></li>
                                                        </ul>
                                                        <div class="submenu-img"><a href="category.html"><img src="../../../../assets/images/placeholder.png" data-src="../../../../assets/images/menu/category-img-02.jpg" class="lazyload" alt=""></a></div>
                                                    </div>
                                                    <div class="mmenu-col">
                                                        <h3 class="submenu-title"><a href="category.html">Popular Types</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html">Alphabets</a></li>
                                                            <li><a href="category.html">Heart Shaped</a></li>
                                                            <li><a href="category.html">Fashion</a></li>
                                                            <li><a href="category.html">For Men</a></li>
                                                            <li><a href="category.html">For Kids</a></li>
                                                        </ul><a href="category.html" class="submenu-view-more">View More</a>
                                                        <div class="submenu-img"><a href="category.html"><img src="../../../../assets/images/placeholder.png" data-src="../../../../assets/images/menu/category-img-03.jpg" class="lazyload" alt=""></a></div>
                                                    </div>
                                                    <div class="mmenu-col">
                                                        <h3 class="submenu-title"><a href="category.html">By Metal Stone</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html">Diamond</a></li>
                                                            <li><a href="category.html">Gold</a></li>
                                                            <li><a href="category.html">White Gold</a></li>
                                                            <li><a href="category.html">Rose Gold</a></li>
                                                            <li><a href="category.html">Gem Stone</a></li>
                                                        </ul><a href="category.html" class="submenu-view-more">View More</a>
                                                        <div class="submenu-img"><a href="category.html"><img src="../../../../assets/images/placeholder.png" data-src="../../../../assets/images/menu/category-img-04.jpg" class="lazyload" alt=""></a></div>
                                                    </div>
                                                    <div class="mmenu-col">
                                                        <h3 class="submenu-title"><a href="category.html">More Category</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html">Mangalsutra</a></li>
                                                            <li><a href="category.html">Fod Gift</a></li>
                                                            <li><a href="category.html">Zodiac</a></li>
                                                            <li><a href="category.html">Pearl</a></li>
                                                        </ul><a href="category.html" class="submenu-view-more">View More</a>
                                                        <div class="submenu-img"><a href="category.html"><img src="../../../../assets/images/placeholder.png" data-src="../../../../assets/images/menu/category-img-05.jpg" class="lazyload" alt=""></a></div>
                                                    </div>
                                                </div>
                                                <div class="mmenu-bottom">
                                                    <div class="custom-text"><span>FREE</span> Try At Home</div>
                                                    <div class="custom-text"><span>100%</span> money back guarantee</div>
                                                    <div class="custom-text"><span>Next Day</span> Delivery</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="mmenu-item--mega"><a href="collections.html">All Jewelery<span class="menu-label menu-label--color4">SALE</span></a>
                                    <div class="mmenu-submenu">
                                        <div class="mmenu-submenu-inside">
                                            <div class="container">
                                                <div class="mmenu-right width-25">
                                                    <!--banners grid from the editor Banner21 --> <a href="product.html" class="bnr-wrap">
                                                        <div class="bnr bnr21 bnr--style-1-1 bnr--left bnr--bottom bnr-hover-scale" data-fontratio="2.63"><img src="../../../../assets/images/menu/mega-banner.jpg" alt=""> <span class="bnr-caption" style="padding: 8% 8%; color:#222;"><span class="bnr-text-wrap"><span class="bnr-text5">try<br>to be 1-st</span> <span class="btn-decor btn-decor--xs bnr-btn">shop new arrivals<span class="btn-line"></span></span></span></span></div>
                                                    </a>
                                                    <!--banners grid from the editor -->
                                                </div>
                                                <div class="mmenu-cols column-5">
                                                    <div class="mmenu-col">
                                                        <h3 class="submenu-title"><a href="category.html">Men</a></h3>
                                                        <h3 class="submenu-title"><a href="category.html">Women</a></h3>
                                                        <h3 class="submenu-title"><a href="category.html">Kids</a></h3>
                                                        <h3 class="submenu-title"><a href="category.html">Lorem</a></h3>
                                                        <h3 class="submenu-title"><a href="category.html">Sale</a></h3>
                                                    </div>
                                                    <div class="mmenu-col mmenu-col--double">
                                                        <h3 class="submenu-title"><a href="category.html">Shop By Brand</a></h3>
                                                        <ul class="submenu-list two-cols">
                                                            <li><a href="category.html">all brands a-z</a></li>
                                                            <li><a href="category.html">Lorem</a></li>
                                                            <li><a href="category.html">Ipsum</a></li>
                                                            <li><a href="category.html">Sit</a></li>
                                                            <li><a href="category.html">AMet</a></li>
                                                            <li><a href="category.html">Dollor</a></li>
                                                            <li><a href="category.html">Dummy Text</a></li>
                                                            <li><a href="category.html">Replace this</a></li>
                                                            <li><a href="category.html">DUmmy </a></li>
                                                            <li><a href="category.html">Text</a></li>
                                                            <li><a href="category.html">Lorem Ipsum</a></li>
                                                            <li><a href="category.html">Simply Dummy</a></li>
                                                        </ul><a href="category.html" class="submenu-view-more">View More</a>
                                                    </div>
                                                    <div class="mmenu-col">
                                                        <h3 class="submenu-title"><a href="category.html">Shop By Color</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html"><span class="color" style="background-color: #ff0000;"></span><span>Red</span></a></li>
                                                            <li><a href="category.html"><span class="color" style="background-color: #000000;"></span><span>Black</span></a></li>
                                                            <li><a href="category.html"><span class="color" style="background-color: #ffffff;"></span><span>White</span></a></li>
                                                            <li><a href="category.html"><span class="color" style="background-color: #15c979;"></span><span>Green</span></a></li>
                                                            <li><a href="category.html"><span class="color" style="background-color: #d81f5e;"></span><span>Purple</span></a></li>
                                                            <li><a href="category.html"><span class="color" style="background-color: #ff9f15;"></span><span>Orange</span></a></li>
                                                            <li><a href="category.html"><span class="color" style="background-color: #2196f3;"></span><span>Blue</span></a></li>
                                                        </ul><a href="category.html" class="submenu-view-more">View More</a>
                                                    </div>
                                                    <div class="mmenu-col">
                                                        <h3 class="submenu-title"><a href="category.html">shop by Ethnicity</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html">Lorem </a></li>
                                                            <li><a href="category.html">Dummy Cat</a></li>
                                                            <li><a href="category.html">Dummy Cat</a></li>
                                                            <li><a href="category.html">Dummy Cat</a></li>
                                                            <li><a href="category.html">gifts</a></li>
                                                            <li><a href="category.html">Dummy Cat</a></li>
                                                        </ul><a href="category.html" class="submenu-view-more">View More</a>
                                                    </div>
                                                </div>
                                                <div class="mmenu-bottom">
                                                    <div class="custom-text"><span>FREE</span> STANDARD DELIVERY ON ORDERS OVER ₹10,500</div>
                                                    <div class="custom-text"><span>100%</span> money back guarantee</div>
                                                    <div class="custom-text"><span>Try at home</span> free of cost</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="mmenu-item--mega"><a href="collections.html">Gift</a>
                                    <div class="mmenu-submenu">
                                        <div class="mmenu-submenu-inside">
                                            <div class="container">
                                                <div class="mmenu-right width-25">
                                                    <!--banners grid from the editor Banner21 --> <a href="product.html" class="bnr-wrap">
                                                        <div class="bnr bnr21 bnr--style-1-1 bnr--left bnr--bottom bnr-hover-scale" data-fontratio="2.63"><img src="../../../../assets/images/menu/mega-banner.jpg" alt=""> <span class="bnr-caption" style="padding: 8% 8%; color:#222;"><span class="bnr-text-wrap"><span class="bnr-text5">try<br>to be 1-st</span> <span class="btn-decor btn-decor--xs bnr-btn">shop new arrivals<span class="btn-line"></span></span></span></span></div>
                                                    </a>
                                                    <!--banners grid from the editor -->
                                                </div>
                                                <div class="mmenu-cols column-3">
                                                    <div class="mmenu-col">
                                                        <h3 class="submenu-title"><a href="category.html">Gift By Occasion</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html">Anniversary</a></li>
                                                            <li><a href="category.html">Birthday</a></li>
                                                            <li><a href="category.html">Engagement</a></li>
                                                            <li><a href="category.html">Wedding</a></li>

                                                        </ul>
                                                    </div>
                                                    <div class="mmenu-col">
                                                        <h3 class="submenu-title"><a href="category.html">By Price range</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html">Below 5,000</a></li>
                                                            <li><a href="category.html">Between 5k to 10k</a></li>
                                                            <li><a href="category.html">Between 10k to 20k</a></li>
                                                            <li><a href="category.html">Between 20k to 30k</a></li>
                                                            <li><a href="category.html">30,000 and above</a></li>
                                                        </ul>
                                                    </div>
                                                    
                                                    
                                                    <div class="mmenu-col someone-special">
                                                        <h3 class="submenu-title"><a href="category.html">Gifts For Special Someone</a></h3>
                                                        <ul class="submenu-list">
                                                            <li><a href="category.html">For HER</a> <span class="d-block">Starting at Rs. 2,861/- </span></li>
                                                            <li><a href="category.html">For HIM</a> <span class="d-block">Starting at Rs. 5,820/-</span></li>
                                                            <li><a href="category.html">For SISTER</a> <span class="d-block">Starting at Rs. 5,820/-</span></li>
                                                            <li><a href="category.html">For BROTHER</a> <span class="d-block">Starting at Rs. 5,820/-</span></li>
                                                            <li><a href="category.html">For MOTHER</a> <span class="d-block">Starting at Rs. 5,820/-</span></li>
                                                            <li><a href="category.html">For FATHER</a> <span class="d-block">Starting at Rs. 5,820/-</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="mmenu-bottom">
                                                    <div class="custom-text"><span>FREE</span> STANDARD DELIVERY ON ORDERS OVER ₹10,500</div>
                                                    <div class="custom-text"><span>100%</span> money back guarantee</div>
                                                    <div class="custom-text"><span>Try at home</span> free of cost</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="mmenu-item--simple"><a href="#" title="">Stores</a>
                                    <div class="mmenu-submenu stores-menu">
                                     <ul class="submenu-list row">
                                        <div class="col-md-6">
                                        <li><h5>North</h5></li>
                                            <li><a href="#" title="">Store Name</a></li>
                                            <li><a href="#" title="">Store Name</a></li>
                                            <li><a href="#" title="">Store Name</a></li>
                                            <li><a href="#" title="">Store Name</a></li>
                                       </div>
                                        <div class="col-md-6">
                                        <li><h5>South</h5></li>
                                            <li><a href="#" title="">Store Name 2</a></li>
                                            <li><a href="#" title="">Store Name 2</a></li>
                                            <li><a href="#" title="">Store Name 2</a></li>
                                            <li><a href="#" title="">Store Name 2</a></li>
                                       </div>
                                       <div class="col-md-6">
                                        <li><h5>North</h5></li>
                                            <li><a href="#" title="">Store Name</a></li>
                                            <li><a href="#" title="">Store Name</a></li>
                                            <li><a href="#" title="">Store Name</a></li>
                                            <li><a href="#" title="">Store Name</a></li>
                                       </div>
                                        <div class="col-md-6">
                                        <li><h5>South</h5></li>
                                            <li><a href="#" title="">Store Name 2</a></li>
                                            <li><a href="#" title="">Store Name 2</a></li>
                                            <li><a href="#" title="">Store Name 2</a></li>
                                            <li><a href="#" title="">Store Name 2</a></li>
                                       </div>
                                       
                                      </ul>
                                   </div>
                                </li>
                                
                                <li><a href="#" target="_blank">Next Day Delivery<span class="menu-label menu-label--color3">Hot!</span></a></li>
                            
                            </ul>
                                
                            <!--/mmenu-->
                        </div>
                    </div>
                    <div class="next-menu-scroll icon-angle-right next-menu-js"></div>
                    <!--//navigation-->
                    <div class="col-auto minicart-holder">
                        <div class="minicart minicart-js"><a href="#" class="minicart-link"><i class="icon icon-handbag"></i> <span class="minicart-qty">3</span> <span class="minicart-title">Shopping Cart</span> <span class="minicart-total">₹750.00</span></a>
                            <div class="minicart-drop">
                                <div class="container">
                                    <div class="minicart-drop-close">CLOSE</div>
                                    <div class="minicart-drop-content">
                                        <h3>Recently added items:</h3>
                                        <div class="minicart-prd">
                                            <div class="minicart-prd-image"><a href="#"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-05.jpg" class="lazyload" alt=""></a></div>
                                            <div class="minicart-prd-name">
                                                <h5><a href="#">Category</a></h5>
                                                <h2><a href="#">Product Name</a></h2>
                                            </div>
                                            <div class="minicart-prd-qty"><span>qty:</span> <b>1</b></div>
                                            <div class="minicart-prd-price"><span>price:</span> <b>₹75.00</b></div>
                                            <div class="minicart-prd-action"><a href="#" class="icon-heart js-label-wishlist"></a> <a href="product.html" class="icon-pencil"></a> <a href="#" class="icon-cross js-product-remove"></a></div>
                                        </div>
                                        <div class="minicart-prd">
                                            <div class="minicart-prd-image"><a href="#"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-02.jpg" class="lazyload" alt=""></a></div>
                                            <div class="minicart-prd-name">
                                                <h5><a href="#">Category</a></h5>
                                                <h2><a href="#">Product name</a></h2>
                                            </div>
                                            <div class="minicart-prd-qty"><span>qty:</span> <b>1</b></div>
                                            <div class="minicart-prd-price"><span>price:</span> <b>₹2000</b></div>
                                            <div class="minicart-prd-action"><a href="#" class="icon-heart js-label-wishlist"></a> <a href="product.html" class="icon-pencil"></a> <a href="#" class="icon-cross js-product-remove"></a></div>
                                        </div>
                                        <div class="minicart-prd">
                                            <div class="minicart-prd-image"><a href="#"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-10.jpg" class="lazyload" alt=""></a></div>
                                            <div class="minicart-prd-name">
                                                <h5><a href="#">Category</a></h5>
                                                <h2><a href="#">Product name</a></h2>
                                            </div>
                                            <div class="minicart-prd-qty"><span>qty:</span> <b>1</b></div>
                                            <div class="minicart-prd-price"><span>price:</span> <b>₹19900</b></div>
                                            <div class="minicart-prd-action"><a href="#" class="icon-heart js-label-wishlist"></a> <a href="product.html" class="icon-pencil"></a> <a href="#" class="icon-cross js-product-remove"></a></div>
                                        </div>
                                        <div class="minicart-drop-total">
                                            <div class="float-right"><span class="minicart-drop-summa"><span>Cart Subtotal:</span> <b>₹294.00</b></span>
                                                <div class="minicart-drop-btns-wrap"><a href="checkout.html" class="btn"><i class="icon-check-box"></i><span>checkout</span></a> <a href="cart.html" class="btn btn--alt"><i class="icon-handbag"></i><span>view cart</span></a></div>
                                            </div>
                                            <div class="float-left"><a href="cart.html" class="btn btn--alt"><i class="icon-handbag"></i><span>view cart</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-holder compensate-for-scrollbar">
        <div class="container">
            <div class="row"><a href="#" class="mobilemenu-toggle show-mobile"><i class="icon icon-menu"></i></a>
                <div class="col-auto logo-holder-s"><a href="index.html" class="logo"><img src="../../../../assets/images/logo.png" srcset="../../../../assets/images/logo-retina.png 2x" alt=""></a></div>
                <!--navigation-->
                <div class="prev-menu-scroll icon-angle-left prev-menu-js"></div>
                <div class="nav-holder-s"></div>
                <div class="next-menu-scroll icon-angle-right next-menu-js"></div>
                <!--//navigation-->
                <div class="col-auto minicart-holder-s"></div>
            </div>
        </div>
    </div>
</header>