<!-- -->
<header class="hdr global_width hdr_sticky hdr-mobile-style2">

    <!-- Mobile Menu -->
    <div [ngClass]='{active:activ==1}' class="mobilemenu js-push-mbmenu">
        <div class="mobilemenu-content">
            <div (click)='mobile()' class="mobilemenu-close mobilemenu-toggle">CLOSE</div>
            <div class="mobilemenu-scroll">
                <div class="mobilemenu-search">
                    <form action="javascript:void(0)" class="search">
                        <button type="submit" class="search-button" ><i class="icon-search2"></i></button> <input type="text" (keyup.enter)="search()" (keyup)="change($event)" class="search-input" placeholder="search keyword">
                           
                        <div class="search-popular js-search-autofill"><span class="search-popular-label">popular searches:</span><a href="javascript:void(0)" (click)="popularSearch('RINGS')">RINGS</a><a href="javascript:void(0)" (click)="popularSearch('DIAMOND')">Diamond</a><a href="javascript:void(0)" (click)="popularSearch('GOLD')">GOLD</a></div>
                        </form>
                       
                        
                </div>
                <div class="nav-wrapper show-menu" style="min-height:200vh;">
                    <div class="nav-toggle"><span class="nav-back"><i class="icon-arrow-left"></i></span> <span class="nav-title"></span></div>
                    <ul class="nav nav-level-1">
                        <li class="text-center"><a [routerLink]="['/']">HOME</a></li>
                        <li *ngFor='let s of catall;let i = index'>
                            <ng-container *ngIf="s.category != 'MACHINERY'">
                                <a id='{{i}}' href="javascript:void(0)">
                                    <div class="cart-table-prd-image"><img onerror="this.src='../../../../assets/images/logo-bw.png'" src="{{baseurl+'category/' + s.image}}"  alt=""></div>
                                    {{s.category}}</a></ng-container>
                        <ng-container *ngIf="s.category == 'MACHINERY'">
                            <a [routerLink]="['jewelry/', s.category  | category]" [queryParams]="{'category': s.category_id}">
                                <div class="cart-table-prd-image"><img onerror="this.src='../../../../assets/images/logo-bw.png'" src="{{baseurl+'category/' + s.image}}"  alt=""></div>
                                {{s.category}}</a>
                        </ng-container>

                        <span class="arrow"></span>
                            <ul class="nav-level-2">
                                
                                <ng-container *ngIf="s.category != 'MACHINERY'">
                                    <li *ngFor='let p of s.subcategory'>
                                        <a href="javascript:void(0)" [routerLink]="['jewelry/', s.category  | category,p.subcategory | subcategory]" [queryParams]="{'subcategory': p.subcategory_id}">
                                        <!-- <div class="cart-table-prd-image"><img  src="{{baseurl+'subcategory/' + s.image}}"  alt=""></div> -->
                                        {{p.subcategory}}</a>
                                    </li>
                                </ng-container>
                                
                            </ul>
                        </li>
                        <li class="text-center"><a [routerLink]="['/bullion-dealers']">Bullion</a></li>
                        <li class="text-center"><a [routerLink]="['/events/']">Events</a></li>
                        <li>
                            <div class="row text-center">
                                <div class="col-6  border">
                                    <a [routerLink]="['/about/']">About Us</a>
                                </div>
                                <div class="col-6  border">
                                    <a [routerLink]="['/contact/']">Contact Us</a>
                                </div>
                            </div>
                        </li>
                        <li class="text-center">
                                    <a [routerLink]="['/privacy/']">Our Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="mobilemenu-bottom">
                    <div class="mobilemenu-currency"></div>
                    <div class="mobilemenu-language"></div>
                    <div class="mobilemenu-settings"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Mobile Menu -->
    
    <div class="hdr-mobile show-mobile">
        <div class="hdr-content">
            <div class="container">
                <!-- Menu Toggle -->
                <div class="menu-toggle"><a [ngClass]='{active:activ==1}'  class="mobilemenu-toggle"><i (click)='mobile()' class="icon icon-menu"></i></a></div>
                <!-- /Menu Toggle -->
                <div *ngIf='logochange != 1' class="col-auto logo-holder"><a routerLink="/" class="logo"><img src="assets/images/savyalogoblack.png" srcset="assets/images/savyalogoblack.png 2x" alt=""></a></div>
            <div *ngIf='logochange ==  1' class="col-auto logo-holder"><a [routerLink]="newurl" class="logo"><img src="assets/images/SJB_Machinery-1.png" srcset="assets/images/SJB_Machinery-1.png" alt=""></a></div>
                <div class="hdr-mobile-right">
                    <div class="hdr-topline-right links-holder">

                        <div class="dropdn dropdn_wishlist @@classes"><a routerLink="/account/account-wishlist" class="dropdn-link"><i class="icon icon-heart-fill"></i><span>Wishlist</span></a></div>
                        <!-- /Header Wishlist -->
                        
                        <!-- Header Account -->
                        <div id="account2" class="dropdn dropdn_account @@classes"><a class="dropdn-link" ><i class="icon icon-person"></i><span *ngIf="!drop">Login/Register</span><span *ngIf="drop==1">My Account</span></a>

                            
                      
                            <div class="dropdn-content">
                                <div class="container">
                                    <div id='close' class="dropdn-close">CLOSE</div>
                                    <ul>
                                        <li><a routerLink="/account/account-details" *ngIf="drop"><i class="icon icon-person-fill"></i><span>Profile</span></a></li>
                                        
                                        <li><a routerLink="/login"  *ngIf="!drop"><i class="icon icon-lock"></i><span>Log In</span></a></li>
                                        <li><a *ngIf="drop"><i class=" icon-signout"></i><span (click)="logout()">Log Out</span></a></li>
                                        <li><a routerLink="/register" *ngIf="!drop"><i class="icon icon-person-fill-add"></i><span>Register</span></a></li>
                                        <li><a routerLink="/account/checkout" *ngIf="drop"><i class="icon icon-check-box"></i><span>Checkout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto minicart-holder">
                        <div class="minicart"><a routerLink="/account/cart" class="minicart-link"><i class="icon icon-handbag"></i> <span class="minicart-qty">{{ProductsInCart()}}</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="hdr-desktop hide-mobile">
        <div class="hdr-topline">
            <div class="container">
                <div class="row">
                    <div class="col hdr-topline-center">
                        <div class="custom-text" style="text-transform: initial;"><i class="icon icon-phone" style="color: black;"></i><b>Toll Free Number 
                           <a href="tel:18004199612" style="color: black;"> 18004199612</a></b></div>
                    </div>
                    <div class="col-auto hdr-topline-right links-holder">
                        
                 
                        <div id='searcher' class="dropdn dropdn_search hide-mobile @@classes" ><a href="javascript:void(0)" class="dropdn-link"><i style="color: black;" class="icon icon-search2"></i><span style="color: black;">Search</span></a>
                            <div class="dropdn-content">
                                <div class="container">
                                        <button class="search-button"><i class="icon-search2"></i></button>
                                    <div class="form-group"><input type="text" (keyup.enter)="search()" (keyup)="change($event)" class="form-control" class="search-input" placeholder="search keyword"></div> 
                                    <div class="form-group"><button class="btn" (click)="search()" style="color: black;">Search</button></div>
                                    <div class="col-lg-12" >
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-6" >
                                        <ngb-alert [dismissible]="false" *ngIf="alert()" >
                                            <strong>{{message}}</strong> 
                                        </ngb-alert>
                                        </div>
                                    </div>
                                    <div class="search-popular js-search-autofill"><span class="search-popular-label">Popular searches:</span><a href="javascript:void(0)" (click)="popularSearch('RINGS')">RINGS</a><a href="javascript:void(0)" (click)="popularSearch('DIAMOND')">Diamond</a><a href="javascript:void(0)" (click)="popularSearch('GOLD')">GOLD</a></div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /Header Search -->
                        
                        <!-- Header Wishlist -->
                        <div  class="dropdn dropdn_wishlist @@classes"><a routerLink="/account/account-wishlist" class="dropdn-link"><i class="icon icon-heart-fill" style="color: black;"></i><span style="color: black;">Wishlist</span></a></div>
                        <!-- /Header Wishlist -->
                        
                        <!-- Header Account -->
                        <div id='account' class="dropdn dropdn_account @@classes"><a class="dropdn-link" ><i style="color: black;" class="icon icon-person"></i><span *ngIf="!drop" style="color: black;">Login/Register</span><span *ngIf="drop==1" style="color: black;">My Account</span></a>

                            
                      
                            <div class="dropdn-content">
                                <div class="container">
                                    <div class="dropdn-close">CLOSE</div>
                                    <ul>
                                        <li><a routerLink="/account/account-details"*ngIf="drop"><i class="icon icon-person-fill"></i><span>Profile</span></a></li>
                                        
                                        <li><a routerLink="/login" *ngIf="!drop"><i class="icon icon-lock"></i><span>Log In</span></a></li>
                                        <li><a *ngIf="drop"><i class=" icon-signout"></i><span (click)="logout()">Log Out</span></a></li>
                                        <li><a routerLink="/register" *ngIf="!drop"><i class="icon icon-person-fill-add"></i><span>Register</span></a></li>
                                        <li><a routerLink="/checkout" *ngIf="drop"><i class="icon icon-check-box"></i><span>Checkout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="sticky-holder compensate-for-scrollbar">
        <div class="container-fluid">
            <div class="row"><a href="#" class="mobilemenu-toggle show-mobile"><i class="icon icon-menu"></i></a>
                <div *ngIf='logochange != 1' class="col-auto logo-holder"><a routerLink="/" class="logo"><img src="assets/images/savyalogoblack.png" srcset="assets/images/savyalogoblack.png 2x" alt=""></a></div>
            <div *ngIf='logochange ==  1' class="col-auto logo-holder"><a [routerLink]="newurl" class="logo"><img src="assets/images/SJB_Machinery-1.png" srcset="assets/images/SJB_Machinery-1.png" alt=""></a></div>
                <!--navigation-->
                <div class="prev-menu-scroll icon-angle-left prev-menu-js"></div>
                <div class="nav-holder-s">
                    
                </div>
                <div class="next-menu-scroll icon-angle-right next-menu-js"></div>
                <!--//navigation-->
                <div class="minicart-holder">
                    <div class="minicart"><a routerLink="/account/cart" class="minicart-link"><i class="icon icon-handbag"></i> <span class="minicart-qty">{{ProductsInCart()}}</span></a></div>
                </div>
            </div>
        </div>
    </div>
</header>