<div class="page-content" style="margin-bottom: 65px;">
    <div class="holder mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a routerLink="/home">Home</a></li>
                <li><span>Create an Account</span></li>
            </ul>
        </div>
    </div>
    
    <div class="holder mt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <h2 class="text-center">CREATE AN ACCOUNT</h2>
                    <div *ngIf="alert">
                        <p>
                            <ngb-alert [dismissible]="false" type="danger" >
                              <strong>{{message}}</strong> .
                            </ngb-alert>
                          </p>
                    </div>
                    <div class="form-wrapper">
                        <p class="text-center">To access your whishlist, address book and contact preferences and to take advantage of our speedy checkout, create an account with us now.</p>
                        <form #f="ngForm" (ngSubmit)="SignUp(f.value)">
                         
                                    <div class="form-group" *ngIf="mobile"><input type="text" #name="ngModel"  ngModel  name="name" class="form-control"  placeholder="First name" required>
                                        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                                            Name is required.
                                        </div>
                                    </div>
                                
                            <div class="form-group" *ngIf="mobile">
                                <input type="text"  #email="ngModel"  ngModel  name="email" class="form-control" placeholder="E-mail" required email>
                                <div class="alert alert-danger" *ngIf="email.touched && email.invalid" >
                                    <div *ngIf="email.errors.required">Email is required.</div>
                                    <div *ngIf="email.errors.email">Please enter a valid Email</div>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="mobile">
                                <input type="number"  #mobile_no="ngModel"  ngModel  name="mobile_no" class="form-control" (ngModelChange)="changeNumber($event)" placeholder="Mobile No*" required >
                                <div class="alert alert-danger" *ngIf="mobile_no.touched && mobile_no.invalid">
                                    <div *ngIf="mobile_no.errors.required">Mobile No. is required.</div>
                                </div>
                               <div *ngIf="mob" class="alert alert-danger">Mobile no. should be atleast 10 digits  </div>
                                
                            </div>
                            <div class="form-group" *ngIf="mobile">
                                <textarea #address="ngModel"  ngModel  name="address" class="form-control" placeholder="Address" required ></textarea>
                                <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
                                    <div *ngIf="address.errors.required">address is required.</div>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="mobile">
                                <input type="text"  #referal="ngModel"  ngModel  name="referal" class="form-control" placeholder="Referral Code">
                            </div>  
                            <div class="form-group" *ngIf="!mobile">
                                <input type="password"  #password="ngModel"  name="password" ngModel class="form-control" placeholder="Enter Otp" required>
                                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                                   otp is required.
                                </div>
                            </div>
                     
                               
                            <div class="text-center" ><input  class="btn"  *ngIf="sign" type="submit" value="create an account" [disabled]="!f.valid" ></div>
                            <div class="text-center"><input  class="btn"   *ngIf="loading" type="submit" value="Loading..."  disabled></div>
                            <button type="submit" *ngIf="otpcheck" class="btn">Verify Otp</button>
                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>