<div class="page-content" style="margin-bottom: 65px;">
    <div class="holder mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li><span>Create an Account</span></li>
            </ul>
        </div>
    </div>
    
    <div class="holder mt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <h2 class="text-center">CREATE AN ACCOUNT</h2>
                  
                    <div class="form-wrapper">
                        <p class="text-center">To access your whishlist, address book and contact preferences and to take advantage of our speedy checkout, create an account with us now.</p>
                        <form #f="ngForm" (ngSubmit)="SignUp(f.value)">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group"><input type="text" #name="ngModel"  ngModel  name="name" class="form-control" placeholder="First name" required>
                                        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                                            Name is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group"><input type="text" #name="ngModel"  ngModel  name="name" class="form-control" placeholder="Last name"></div>
                                </div>
                            </div>
                            <div class="form-group"> <label for='register'>Register type</label>
                                <select id="register" #register_type="ngModel"  ngModel  name="register_type"  class="form-control" required>
                                    <option value=""></option>
                                    <option >customer</option>
                                    <option >Manufacturer</option>
                                    <option >Retailer</option>
                                    <option >Wholesaler</option>
                                    <option >Franchise</option>
                                </select>
                                <div class="alert alert-danger" *ngIf="register_type.touched && register_type.invalid">
                                    Register Type is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"  #designation="ngModel"  ngModel  name="designation" class="form-control" placeholder="Designation*" required>
                                <div class="alert alert-danger" *ngIf="designation.touched && designation.invalid">
                                    Designation is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"  #company_name="ngModel"  ngModel  name="company_name" class="form-control" placeholder="Company/Firm Name" required>
                                <div class="alert alert-danger" *ngIf="company_name.touched && company_name.invalid">
                                    company name is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"  #gstno="ngModel"  ngModel  name="gstno" class="form-control" placeholder="GST No.*" required>
                                <div class="alert alert-danger" *ngIf="gstno.touched && gstno.invalid">
                                    Gst no. is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"  #panno="ngModel"  ngModel  name="panno" class="form-control" placeholder="Pan Card No.*" required>
                                <div class="alert alert-danger" *ngIf="panno.touched && panno.invalid">
                                    Pan no. is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"  #email="ngModel"  ngModel  name="email" class="form-control" placeholder="E-mail" required>
                                <div class="alert alert-danger" *ngIf="email.touched && email.invalid" >
                                    Email is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="number"  #mobile_no="ngModel"  ngModel  name="mobile_no" class="form-control" placeholder="Mobile No*" required>
                                <div class="alert alert-danger" *ngIf="mobile_no.touched && mobile_no.invalid">
                                    Mobile No. is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"  #address="ngModel"  ngModel  name="address" class="form-control" placeholder="Address*" required>
                                <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
                                    Address is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"  #city="ngModel"  ngModel  name="city" class="form-control" placeholder="City*" required>
                                <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
                                    City is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="number"  #pincode="ngModel"  ngModel  name="pincode" class="form-control" placeholder="Pin Code" required>
                                <div class="alert alert-danger" *ngIf="pincode.touched && pincode.invalid">
                                    Pin code is required.
                                </div>
                            </div>
                            <div class="form-group"> <label for='state'>Select State</label>
                                <select id="register" #state="ngModel"  ngModel  name="state"  class="form-control" required >
                                    <option value=""></option>
                                    <option >Rajasthan</option>
                                    <option >Haryana</option>
                                    <option >Gujrat</option>
                                    <option >Himachal Pradesh</option>
                                </select>
                                <div class="alert alert-danger" *ngIf="state.touched && state.invalid">
                                    State is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password"  #password="ngModel"  ngModel  name="password" class="form-control" placeholder="Password" required>
                                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                                    Password is required.
                                </div>
                            </div>
                            <div class="form-group">                                                                                        
            
                                <input type="password"  #retyped="ngModel"  ngModel  name="retyped" class="form-control" placeholder="Retype Password"  >
                                <!-- <div class="alert alert-danger" *ngIf="retyped.touched && retyped.invalid">
                                   Confirmed Password is required.
                                </div> -->
                                <div class="alert alert-danger" *ngIf="retyped.errors?.equalTo">
                                    Password doesn't match
                                 </div>

                            </div>
                            <div class="clearfix">
                                <input id="checkbox1"  name="checkbox1" type="checkbox" checked="checked" required> 
                                <label for="checkbox1">By registering your details you agree to our Terms and Conditions and privacy and cookie policy</label></div>
                                <div *ngIf="alert">
                                    <p>
                                      <ngb-alert [type]="type" >
                                      <strong>{{message}}</strong> .
                                      </ngb-alert>
                                    </p>
                              </div>
                            <div class="text-center" ><input  class="btn"  *ngIf="sign" type="submit" value="create an account" [disabled]="!f.valid||password.value!=retyped.value" ></div>
                            <div class="text-center"><input  class="btn"   *ngIf="loading" type="submit" value="Loading..."  disabled></div>
                            
                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>