<footer class="page-footer footer-style-3 global_width mt-0">
    <div class="footer-top container">

        <div class="text-center"><a href="#"><img src="assets/images/savya-jwels-white_old.png" class="img-fluid" alt="" style="width: 200px;"></a></div>

        <div class="row lined shop-features-style3">
            <div class="col-md"><a href="#" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-box3"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">Free worlwide delivery</div>
                        <div class="text2">Lorem ipsum dolor sit amet</div>
                    </div>
                </a></div>
            <div class="col-md"><a href="#" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-arrow-left-circle"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">100% money back guarantee</div>
                        <div class="text2">Lorem ipsum dolor sit amet</div>
                    </div>
                </a></div>
            <div class="col-md"><a href="#" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-call"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">Lorem ipsum dummy</div>
                        <div class="text2">Lorem ipsum dolor sit amet</div>
                    </div>
                </a></div>
        </div>
        <div class="row lined py-md-2 py-lg-4">
            <div class="col-md-6 col-lg-3">
                <div class="footer-block collapsed-mobile">
                    <div class="title">
                        <h4>Customer Service</h4>
                        <div class="toggle-arrow"></div>
                    </div>
                    <div class="collapsed-content">
                        <ul>
                            <li><a routerLink="/terms">Terms of Use</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="faq.html">F.A.Q.</a></li>
                            <li><a routerLink="/contact">Contact Info</a></li>
                            <li><a routerLink="/about">About Us</a></li>
                            <li><a routerLink="/payment">Payment</a></li>
                            <li><a routerLink="/register" class="js-back-to-top">Create Account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="footer-block collapsed-mobile">
                    <div class="title">
                        <h4>My Account</h4>
                        <div class="toggle-arrow"></div>
                    </div>
                    <div class="collapsed-content">
                        <ul>
                            <li><a routerLink="/account-details" class="js-back-to-top">My Account</a></li>
                            <li><a routerLink="/cart" class="js-back-to-top">View Cart</a></li>
                            <li><a routerLink="/account-wishlist" class="js-back-to-top">My Wishlist</a></li>
                            <li><a routerLink="/account-history" class="js-back-to-top">Order Status</a></li>
                            <li><a routerLink="/account-history" class="js-back-to-top">Track My Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="footer-block collapsed-mobile">
                    <div class="title">
                        <h4>contact us</h4>
                        <div class="toggle-arrow"></div>
                    </div>
                    <div class="collapsed-content">
                        <ul class="contact-list">
                            <li><i class="icon-phone"></i><span><span class="h6-style">Call Us:</span><span>{{values.mobile}}<br>{{values.landline}}</span></span></li>
                            <li><i class="icon-mail-envelope1"></i><span><span class="h6-style">E-mail:</span><span><a [href]="'mailto:'+values.email">{{values.email}}</a></span></span></li>
                            <li><i class="icon-location1"></i><span><span class="h6-style">Address:</span><span>{{values.address}}</span></span></li>
                        </ul>
                        <ul class="social-list">
                            <li><a [href]="values.facebook" class="icon icon-facebook"></a></li>
                            <li><a href="#" class="icon icon-twitter"></a></li>
                            <li><a href="#" class="icon icon-google"></a></li>
                            <li><a [href]="values.instagram" class="icon icon-instagram"></a></li>
                            <li><a href="#" class="icon icon-youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 hide-mobile">
                <div class="app-footer">
                    <div class="app-title">
                        <h5>Download Our App</h5>
                    </div>
                    <div class="details-app">
                        We present you the brand new shining app just made for you.
                    </div>
                    <div class="download-app">
                        <span class="playstore">
                            <a href="https://play.google.com/store/apps/details?id=savyajewels.business" target="new">
                                <img src="https://www.designpieces.com/wp-content/uploads/2016/02/google-play-badge.png">
                            </a>
                        </span>
                        <span class="appstore">
                            <a href="https://apps.apple.com/in/app/savya-jewels-business/id1472834371" target="new">
                                <img src="https://www.designpieces.com/wp-content/uploads/2016/02/download-on-the-app-store.png">
                            </a>
                        </span>
                    </div>
                    
                    <div class="app-mockup">
                        <img src="assets/images/iPhones_black_base.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-bottom">
        <div class="row lined py-4 justify-content-center">
            <div class="col-md-6 text-center">
                <div class="footer-copyright">
                    <p class="footer-copyright-text"><span>© Copyright</span> 2019 <a href="#">Savya Jewels</a>. <span>All rights reserved.</span></p>
                    <p class="footer-copyright-links"><a href="#">Terms & conditions</a> <a href="#">Privacy policy</a></p>
                </div>
                <div class="payment-icons mt-2"><img src="assets/images/placeholder.png" data-srcset="assets/images/payment/payment-card-visa.png 1x, images/payment/payment-card-visax2.png 2x" class="lazyload" alt=""> <img src="assets/images/placeholder.png" data-srcset="assets/images/payment/payment-card-mastecard.png 1x, images/payment/payment-card-mastecardx2.png 2x" class="lazyload" alt=""> <img src="assets/images/placeholder.png" data-srcset="assets/images/payment/payment-card-discover.png 1x, images/payment/payment-card-discoverx2.png 2x" class="lazyload" alt=""></div>
            </div>
        </div>
    </div>
</footer>

<a class="back-to-top js-back-to-top" href="#" title="Scroll To Top"><i class="icon icon-angle-up"></i></a>

<div class="modal--quickview" id="modalQuickView" style="display: none;">
    <div class="modal-header">
        <div class="modal-header-title">Quick View</div>
    </div>
    <div class="modal-content">
        <div class="modal-body">
            <div class="prd-block" id="prdGalleryModal">
                <div class="prd-block_info">
                    <div class="prd-block_info-row info-row-1 mb-md-1">
                        <div class="info-row-col-1">
                            <h1 class="prd-block_title">Product Name</h1>
                        </div>
                        <div class="info-row-col-2">
                            <div class="product-sku">SKU: <span>#0005</span></div>
                            <div class="prd-block__labels"><span class="prd-label--sale">SALE</span> <span class="prd-label--new">NEW</span></div>
                            <div class="prd-block_link"><a href="#" class="icon-heart-1"></a></div>
                        </div>
                    </div>
                    <div class="prd-block_info-row info-row-2">
                        <form action="#">
                            <div class="info-row-col-3">
                                <div class="prd-block_price"><span class="prd-block_price--actual">₹18,000</span> <span class="prd-block_price--old">₹21,000</span></div>
                            </div>
                            <div class="info-row-col-4">
                                <div class="prd-block_price"><span class="prd-block_price--actual">₹180.00</span> <span class="prd-block_price--old">₹21,000</span></div>
                                <div class="prd-block_qty"><span class="option-label">Qty:</span>
                                    <div class="qty qty-changer qty-changer--lg">
                                        <fieldset><input type="button" value="&#8210;" class="decrease"> <input type="text" class="qty-input" value="2" data-min="0" data-max="10"> <input type="button" value="+" class="increase"></fieldset>
                                    </div>
                                </div>
                                <div class="prd-block_options">
                                    <div class="form-group select-wrapper-sm">
                                        <select class="form-control" tabindex="0">
                                            <option value="">36 / silver ₹3400</option>
                                            <option value="">38 / silver ₹3400</option>
                                            <option value="">36 / gold ₹4500</option>
                                            <option value="">38 / gold ₹4500</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="prd-block_actions">
                                    <div class="btn-wrap"><button class="btn btn--add-to-cart-sm"><i class="icon icon-handbag"></i><span>Add to cart</span></button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="prd-block_info js-prd-m-holder"></div><!-- Product Gallery -->
                <div class="product-previews-wrapper">
                    <div class="product-quickview-carousel slick-arrows-aside-simple js-product-quickview-carousel">
                        <div><a href="assets/images/products/product-01.jpg" data-fancybox="gallery"><img src="assets/images/products/product-01.jpg" alt=""></a></div>
                        <div><a href="assets/images/products/product-04.jpg" data-fancybox="gallery"><img src="assets/images/products/product-02.jpg" alt=""></a></div>
                        <div><a href="assets/images/products/product-05.jpg" data-fancybox="gallery"><img src="assets/images/products/product-03.jpg" alt=""></a></div>
                        <div><a href="assets/images/products/product-10.jpg" data-fancybox="gallery"><img src="assets/images/products/product-04.jpg" alt=""></a></div>
                        <div><a href="assets/images/products/product-03.jpg" data-fancybox="gallery"><img src="assets/images/products/product-05.jpg" alt=""></a></div>
                    </div>
                    <div class="gdw-loader"></div>
                </div>
                <!-- /Product Gallery -->
                <div class="mt-3 mt-md-4">
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error expedita hic iure nemo, nihil quam. Ab blanditiis eligendi fugit impedit, magni minus omnis placeat recusandae rem, sunt ut vitae voluptates? Fuga pariatur provident reiciendis veritatis voluptates voluptatum. A accusantium aliquam amet deleniti ea esse ex minus obcaecati perferendis tempore? Cupiditate distinctio incidunt molestiae, nam nesciunt non quaerat quas ratione repellendus! Ab aperiam assumenda consequatur delectus ea exercitationem facilis, in itaque iusto labore maiores nemo nostrum odio officiis optio placeat quas qui quibusdam ratione rem soluta suscipit totam voluptas voluptatem voluptatum.</p>
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless">
                            <tbody>
                                <tr>
                                    <td>Option</td>
                                    <td>Lorem isum sit amet dollor</td>
                                </tr>
                                <tr>
                                    <td>STYLE</td>
                                    <td>Lorem Ipsum</td>
                                </tr>
                                <tr>
                                    <td>MANUFACTURE</td>
                                    <td>Made in India</td>
                                </tr>
                                <tr>
                                    <td>Stone</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>WEIGHT</td>
                                    <td>0.05, 0.06, 0.07</td>
                                </tr>
                                <tr>
                                    <td>Stone Type</td>
                                    <td>Diamond</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalWishlistAdd" class="modal-info modal--success" style="display: none;">
    <div class="modal-text"><i class="icon icon-heart-fill modal-icon-info"></i><span>Product added to wishlist</span></div>
</div>

<div id="modalWishlistRemove" class="modal-info modal--error" style="display: none;">
    <div class="modal-text"><i class="icon icon-heart modal-icon-info"></i><span>Product removed from wishlist</span></div>
</div>

<div id="modalCheckOut" class="modal--checkout" style="display: none;">
    <div class="modal-header">
        <div class="modal-header-title"><i class="icon icon-check-box"></i><span>Product added to cart successfully!</span></div>
    </div>
    <div class="modal-content">
        <div class="modal-body">
            <div class="modalchk-prd">
                <div class="row h-font">
                    <div class="modalchk-prd-image col"><a href="product.html"><img src="assets/images/products/product-01.jpg" alt="Glamor shoes"></a></div>
                    <div class="modalchk-prd-info col">
                        <h2 class="modalchk-title"><a href="product.html">Glamor shoes</a></h2>
                        <div class="modalchk-price">₹34.00</div>
                        <div class="prd-options"><span class="label-options">Sizes:</span><span class="prd-options-val">xs</span></div>
                        <div class="prd-options"><span class="label-options">Qty:</span><span class="prd-options-val">1</span></div>
                        <div class="prd-options"><span class="label-options">Color:</span><span class="prd-options-val">silver</span></div>
                        <div class="shop-features-modal d-none d-sm-block"><a href="#" class="shop-feature">
                            <div class="shop-feature-icon"><i class="icon-box3"></i></div>
                            <div class="shop-feature-text">
                                <div class="text1">Delivery</div>
                                <div class="text2">Lorem ipsum dolor sit amet conset</div>
                            </div>
                        </a></div>
                    </div>
                    <div class="shop-features-modal d-sm-none"><a href="#" class="shop-feature">
                            <div class="shop-feature-icon"><i class="icon-box3"></i></div>
                            <div class="shop-feature-text">
                                <div class="text1">Delivery</div>
                                <div class="text2">Lorem ipsum dolor sit amet conset</div>
                            </div>
                        </a></div>
                    <div class="modalchk-prd-actions col">
                        <h3 class="modalchk-title">There is <span class="custom-color">3</span> items in your cart</h3>
                        <div class="prd-options"><span class="label-options">Total:</span><span class="modalchk-total-price">₹600.00</span></div>
                        <div class="modalchk-custom"><img src="assets/images/payment/guaranteed.png" alt="Guaranteed"></div>
                        <div class="modalchk-btns-wrap"><a href="checkout.html" class="btn">proceed to checkout</a> <a href="#" class="btn btn--alt" data-fancybox-close>continue shopping</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>