<footer class="page-footer footer-style-3 global_width mt-0">
    <div class="footer-top container">

        <div class="text-center"><a routerLink="/"><img onerror="this.src='../../../../assets/images/logo-bw.png'" src="assets/images/savya-jwels-white-new.png" class="img-fluid" alt="" style="width: 200px;"></a></div>
       


        <div class="row lined shop-features-style3">
            <div class="col-md"><a href="javascript:void(0)" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-box3"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">Worlwide delivery</div>
                    </div>
                </a></div>
            <div class="col-md"><a href="javascript:void(0)" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-arrow-left-circle"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">100% money back guarantee</div>
                    </div>
                </a></div>
            <div class="col-md"><a href="javascript:void(0)" class="shop-feature light-color">
                    <div class="shop-feature-icon"><i class="icon-call"></i></div>
                    <div class="shop-feature-text">
                        <div class="text1">24/7 customer support</div>
                    </div>
                </a></div>
        </div>
        <div class="row lined py-md-2 py-lg-4">
            <div class="col-md-6 col-lg-3">
                <div class="footer-block collapsed-mobile">
                    <div class="title">
                        <h4>Customer Service</h4>
                        <div class="toggle-arrow"></div>
                    </div>
                    <div class="collapsed-content">
                        <ul>
                            <li><a routerLink="/terms">Terms of Use</a></li>
                            <li><a routerLink="/privacy">Privacy Policy</a></li>
                            <li><a routerLink="/contact">Contact Info</a></li>
                            <li><a routerLink="/about">About Us</a></li>
                            <li><a routerLink="/payment">Payment & Refunds</a></li>
                            <li><a *ngIf="drop!=1" routerLink="/register" class="js-back-to-top">Create Account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="footer-block collapsed-mobile">
                    <div class="title">
                        <h4>My Account</h4>
                        <div class="toggle-arrow"></div>
                    </div>
                    <div class="collapsed-content">
                        <ul>
                            <li><a routerLink="/account-details" class="js-back-to-top">My Account</a></li>
                            <li><a routerLink="/cart" class="js-back-to-top">View Cart</a></li>
                            <li><a routerLink="/account-wishlist" class="js-back-to-top">My Wishlist</a></li>
                            <li><a routerLink="/account-history" class="js-back-to-top">Order Status</a></li>
                            <li><a routerLink="/account-history" class="js-back-to-top">Track My Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3" *ngIf='values'>
                <div class="footer-block collapsed-mobile">
                    <div class="title">
                        <h4>contact us</h4>
                        <div class="toggle-arrow"></div>
                    </div>
                    <div class="collapsed-content">
                        <ul class="contact-list">
                            <li><i class="icon-phone"></i><span><span class="h6-style" style="text-transform: initial;">Call Us:</span><span style="text-transform: initial;">{{values.mobile}}<br>{{values.landline}}</span></span></li>
                            <li><i class="icon-mail-envelope1"></i><span><span class="h6-style" style="text-transform: initial;">E-mail:</span><span style="text-transform: lowercase;"><a [href]="'mailto:'+values.email">{{values.email}}</a></span></span></li>
                            <li><i class="icon-location1"></i><span><span class="h6-style" style="text-transform: initial;">Address:</span><span style="text-transform: initial;">{{values.address}}</span></span></li>
                        </ul>
                        <ul class="social-list">
                            <li><a href="https://www.facebook.com/SavyaJewelsBusiness" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/savyajewelsbusiness/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/SavyaBusiness" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://in.linkedin.com/in/savya-jewels-business" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UC3Uvsiij6fpfzD8h01ildpA" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4 hide-mobile">
                <div class="app-footer">
                    <div class="app-title">
                        <h5>Download Our App</h5>
                    </div>
                    <div class="details-app">
                        We present you the brand new shining app just made for you.
                    </div>
                    <div class="download-app">
                        <span class="playstore">
                            <a href="https://play.google.com/store/apps/details?id=savyajewels.business" target="new">
                                <img src="https://www.designpieces.com/wp-content/uploads/2016/02/google-play-badge.png">
                            </a>
                        </span>
                        <span class="appstore">
                            <a href="https://apps.apple.com/in/app/savya-jewels-business/id1472834371" target="new">
                                <img src="https://www.designpieces.com/wp-content/uploads/2016/02/download-on-the-app-store.png">
                            </a>
                        </span>
                    </div>
                    
                    <div class="app-mockup">
                        <img src="assets/images/iPhones_black_base.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-bottom">
        <div class="row lined py-4 justify-content-center">
            <div class="col-md-6 text-center">
                <div class="footer-copyright">
                    <p class="footer-copyright-text"><span>© Copyright</span> 2019 <a routerLink="/">Savya Business Jewels</a>. <span>All rights reserved.</span></p>
                    <p class="footer-copyright-links"><a href="#">Terms & conditions</a> <a href="#">Privacy policy</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<a id='top' class="back-to-top js-back-to-top" href="javascript:void(0)" title="Scroll To Top"><i class="icon icon-angle-up"></i></a>


<div id="modalWishlistAdd" class="modal-info modal--success" style="display: none;">
    <div class="modal-text"><i class="icon icon-heart-fill modal-icon-info"></i><span>Product added to wishlist</span></div>
</div>

<div id="modalWishlistRemove" class="modal-info modal--error" style="display: none;">
    <div class="modal-text"><i class="icon icon-heart modal-icon-info"></i><span>Product removed from wishlist</span></div>
</div>

<div id="modalCheckOut" class="modal--checkout" style="display: none;">
    <div class="modal-header">
        <div class="modal-header-title"><i class="icon icon-check-box"></i><span>Product added to cart successfully!</span></div>
    </div>
</div>
<simple-notifications [options]="{position: ['top', 'right']}"></simple-notifications>
