<div class="contact-details-wrapper">
    <div class="container">
        <div class="contact-heading text-center">
            <h2>CONTACT DETAIL</h2>
        </div>
        <div class="call-us text-center">
            <div class="call-us-icon">
                <span><i class="icon-phone"></i></span>
                <p>Call Us</p>
            </div>
            <div class="call-us-numbers">
                <ul>
                    <li><a href="">18004199612</a></li>
                    <li><a href="">01204576620</a></li>
                </ul>
            </div>
        </div>
        <div class="call-us text-center">
            <div class="call-us-icon">
                <span><i class="icon-mail-envelope1"></i></span>
                <p>Email</p>
            </div>
            <div class="call-us-numbers">
                <ul>
                    <li><a href="">INFO@SAVYAJEWELSBUSINESS.COM</a></li>
                </ul>
            </div>
        </div>
        <div class="call-us text-center address">
            <div class="call-us-icon">
                <span><i class="icon-location1"></i></span>
                <p>Address:</p>
            </div>
            <div class="call-us-numbers">
                <p>B-122, IIIRD FLOOR, SECTOR-2, NOIDA, <br>UTTAR PRACDESH - 201301</p>
            </div>
        </div>
    </div>
</div>
 