<div class="container events-listing">
  <div class='text-center'><h2>Events</h2></div>
<div class="card-columns  p-2">
    <div *ngFor="let slide of events" (click)='detail(slide)' class="card border">
        <div class="embed-responsive embed-responsive-16by9">

            <img alt="Card image cap" onerror="this.src='../../../../assets/images/logo-bw.png'" class="card-img-top w-100 embed-responsive-item" src="{{ url + slide.image }}" />

         </div>
      <div class="card-body">
        <h5 class="card-title">{{slide.title}}</h5>
        <p class="card-text">{{slide.eventtime}}<br>{{slide.date}}<br>{{slide.address}}</p>
      </div>
    </div>
</div>
</div>