<div class="row" style="padding:5%;" *ngIf="rates">
        <div class="col-sm-6">
        <h2 class='text-center'>Gold [₹]</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><strong>Bid</strong></th>
                  <th><strong>Ask</strong></th>
                  <th><strong>High</strong></th>
                  <th><strong>Low</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{rates[0].Bid}}</td>
                  <td>{{rates[0].Ask}}</td>
                  <td>{{rates[0].High}}</td>
                  <td>{{rates[0].Low}}</td>
                </tr>
              </tbody>
            </table>
        </div>
      
          <div class="col-sm-6">
            <h2 class='text-center'>Silver [₹]</h2>        
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><strong>Bid</strong></th>
                  <th><strong>Ask</strong></th>
                  <th><strong>High</strong></th>
                  <th><strong>Low</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{rates[1].Bid}}</td>
                  <td>{{rates[1].Ask}}</td>
                  <td>{{rates[1].High}}</td>
                  <td>{{rates[1].Low}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-sm-6">
            <h2 class='text-center'>Gold [$]</h2>
                <table class="table table-striped ">
                  <thead>
                    <tr>
                      <th><strong>Bid</strong></th>
                      <th><strong>Ask</strong></th>
                      <th><strong>High</strong></th>
                      <th><strong>Low</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{rates[2].Bid}}</td>
                      <td>{{rates[2].Ask}}</td>
                      <td>{{rates[2].High}}</td>
                      <td>{{rates[2].Low}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          
              <div class="col-sm-6">
                <h2 class='text-center'>Silver [$]</h2>        
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th><strong>Bid</strong></th>
                      <th><strong>Ask</strong></th>
                      <th><strong>High</strong></th>
                      <th><strong>Low</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{rates[3].Bid}}</td>
                      <td>{{rates[3].Ask}}</td>
                      <td>{{rates[3].High}}</td>
                      <td>{{rates[3].Low}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-sm-12 text-center">
                <h2 class='text-center'>INR [₹]</h2>        
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th><strong>Bid</strong></th>
                      <th><strong>Ask</strong></th>
                      <th><strong>High</strong></th>
                      <th><strong>Low</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{rates[4].Bid}}</td>
                      <td>{{rates[4].Ask}}</td>
                      <td>{{rates[4].High}}</td>
                      <td>{{rates[4].Low}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
  </div>