
 <!-- BN Slider 1 -->

 <app-slider [slider_imgs] = 'Banner' [url] = 'baseUrl'></app-slider>

 <!-- //BN Slider 1 -->
<div class="subsub-listing-page" *ngIf="page">
    <div class="container">
        <div class="subsub-product-listing">
            <div class="subsub-product-listing-heading text-center">
                <h2>{{subcategory}}</h2>
            </div>
            <div class="row">
                <div class="col-lg-2 col-6 col-md-3" *ngFor="let s of data">
                        <div class="each-listing-product" (click)="gofilter(s.title,s.id) " [style.background-image]="getlink(s.image)">
                        <div class="contant-box">
                            
                        </div>
                    </div>
                    <div class="text-center">
                        <p >{{s.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <div *ngIf="!data.length">
            <div class="row" style="margin:auto;">
            <img src="../../../../assets/images/savya-jewels/no-product-show-category.png"  class="embed-responsive" alt="">
            </div>
        </div>
    
</div>
<div *ngIf="loader"><app-loader></app-loader></div>
