<div class=" page-content"  *ngIf="page">
    <div class="holder mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <!-- <li><a  routerLink="/">Home</a></li>
                <li *ngIf='subcategory'><a  routerLink="/subsub/{{data['subcategory_id']}}">{{subcategory}}</a></li>
                <li *ngIf='subsubcategory'><a routerLink="/filter/{{data['subsubcategory_id']}}">{{subsubcategory}}</a></li> -->
            </ul>
        </div>
    </div>
    
<ng-container>
    <div class="holder mt-0">
        <div class="container">
            <div class="row prd-block prd-block--mobile-image-first js-prd-gallery" id="prdGallery100">
                <div class="col-md-6 col-xl-4">
                    <div class="prd-block_main-image main-image--slide js-main-image--slide">
                        <div class="prd-block_main-image-holder js-main-image-zoom" data-zoomtype="inner">
                            <ngx-slick-carousel class="carousel" 
                                        #slickModal="slick-carousel" 
                                        [config]="slideConfig" >
                                        
                            <div ngxSlickItem *ngFor="let slide of prd_img;let i = index"  class="slide">
                                <ng-container *ngIf='slide.type == 1'>
                                    <lib-ngx-image-zoom
                                            [thumbImage]="url+'product'+'/'+slide.image"
                                            [magnification]=2
                                        ></lib-ngx-image-zoom>
                                    </ng-container>
                                    <ng-container *ngIf='slide.type == 2'>
                                        <video width="100%" controls>
                                            <source [src]="url+'product'+'/'+slide.image" type="video/mp4">
                                        </video>
                                    </ng-container>
                            </div>
                            </ngx-slick-carousel>
                            <span *ngFor="let slide of prd_img;let i = index">
                               
                                <img (click)="slickModal.slickGoTo(i+1)" src="{{ url+'product'+'/' + slide.image }}" class="thumbnail" style="max-height: 100px;" alt="" height="100px" width="100px">
                            </span>
                            

                        </div>
                    </div>
                   
                    <!-- /Product Gallery -->
                    <div class="prd-safecheckout topline slider-bottom-support-image">
                    <div> 
                        <h3 class="h2-style">Manufactured by:</h3>
                        <img [src]="url+ 'users/' + manufacture.logo" onerror="this.src='../../../../assets/images/logo-bw.png'"><h3 class="h2-style">{{manufacture.company_name}}</h3>
                    </div>
                </div>
                
            </div>
            <div class="col-6">
                <div class="container">
                    <!-- Nav tabs -->
                    <div class="prd-block_info">
                        <div class="js-prd-d-holder prd-holder product-name-details">
                            <div class="prd-block_title-wrap">
                                <h1 class="prd-block_title product-details-item-heading">{{data[0].product_name}}</h1>
                            </div>
                            <div class="prd-block_info-top">
                                <div class="product-sku product-price">Rs: {{data[0].amount}}</div>
                                
                            </div>
                        </div>   
                        
                        <div class="prd-block_actions topline">
                            <div class="prd-hover">
                                <div class="prd-action button-margin-none">

                                    
                                    <input type="hidden"> <button (click)="whislist()" class="btn" ><span>INTERESTED</span></button> 
                                      <!-- <button  *ngIf="loading==true"  class="btn">Loading...</button> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs product-tab">
                        <li class="nav-item"><a href="#Tab1" class="nav-link active show" data-toggle="tab">Description</a></li>
                    </ul><!-- Tab panes -->
                    <div class="tab-content">
                    
                        <div role="tabpanel" class="tab-pane fade active show" [innerHTML]="data[0].description" id="Tab1">
                            
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
        <!-- Recent Products -->
    <simple-notifications [options]="{position: ['top', 'right']}"></simple-notifications>
</div>
<div style="padding:200px" *ngIf="loader">  <app-loader  ></app-loader></div>

<app-machinery-holder [heading]="'Similar items'" [mostselling] = 'recents' ></app-machinery-holder>

