<div class="contact-details-wrapper">
    <div class="container">
        <div class="contact-heading text-center">
            <h2>CONTACT DETAIL</h2>
        </div>
        <div class="call-us text-center">
            <div class="call-us-icon">
                <span><i class="icon-phone"></i></span>
                <p>Call Us</p>
            </div>
            <div class="call-us-numbers">
                <ul>
                    <li><a href="">{{values.mobile}}</a></li>
                    <li><a href="">{{values.landline}}</a></li>
                </ul>
            </div>
        </div>
        <div class="call-us text-center">
            <div class="call-us-icon">
                <span><i class="icon-mail-envelope1"></i></span>
                <p>Email</p>
            </div>
            <div class="call-us-numbers">
                <ul>
                    <li><a href="">{{values.email}}</a></li>
                </ul>
            </div>
        </div>
        <div class="call-us text-center address">
            <div class="call-us-icon">
                <span><i class="icon-location1"></i></span>
                <p>Address:</p>
            </div>
            <div class="call-us-numbers">
                <p>{{values.address}}</p>
            </div>
        </div>
    </div>
</div>
 