<div class="filter-page-banner" style="background-image: url(assets/images/filter-page-banner.jpg);">

</div>
<div class="filter-bar">
    <ul>
        <li><a href="">PRICE</a>
            <div class="filter-listing">
                <ul class="subfilter">
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Under Rs.5000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.5001 To Rs.10000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.10001 To Rs.15000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.15001 To Rs.20000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.20001 To Rs.25000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.25001 To Rs.3 0000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.30001 To Rs.35000</div>
                        </div>
                    </li><li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.35001 To Rs.40000</div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="">Product Type</a>
            <div class="filter-listing">
                <ul class="subfilter">
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Under Rs.5000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.5001 To Rs.10000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.10001 To Rs.15000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.15001 To Rs.20000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.20001 To Rs.25000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.25001 To Rs.3 0000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.30001 To Rs.35000</div>
                        </div>
                    </li><li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.35001 To Rs.40000</div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="">WEIGHT RANGES</a></li>
        <li><a href="">MATERIAL</a></li>
        <li><a href="">METAL</a></li>
        <li><a href="">SEE MORE FILTERS</a></li>
    </ul>
</div>
