<div class="filter-page-banner" style="background-image: url(assets/images/filter-page-banner.jpg);">

</div>
<div class="filter-bar">
    <ul>
        <li><a href="">PRICE</a>
            <div class="filter-listing price-listing">
                <ul class="subfilter">
                    <li class="active">
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Under Rs.5000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.5001 To Rs.10000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.10001 To Rs.15000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.15001 To Rs.20000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.20001 To Rs.25000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.25001 To Rs.3 0000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.30001 To Rs.35000</div>
                        </div>
                    </li><li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.35001 To Rs.40000</div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="">Product Type</a>
            <div class="filter-listing">
                <ul class="subfilter">
                    <li class="active">
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Earrings</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rings</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Necklaces</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Pendants</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Bracelets</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Bangels</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Chains</div>
                        </div>
                    </li><li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Sets</div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="">WEIGHT RANGES</a>
            <div class="filter-listing">
                <ul class="subfilter">
                    <li class="active">
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">0 - 2grms</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">2 -5 grms</div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="">MATERIAL</a>
            <div class="filter-listing">
                <ul class="subfilter">
                    <li class="active">
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Gold</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Diamond</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Gemstone</div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="">METAL</a>
            <div class="filter-listing">
                <ul class="subfilter">
                    <li class="active">
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">22kt Yellow</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">18Kt Yellow</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">18Kt White</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">14Kt White</div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="">SEE MORE FILTERS</a>
            <div class="filter-listing sub-filter-listing">
                <ul class="subfilter">
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Ring size( Ready to ship )</div>
                                <ul class="subsub-dropdown">
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                </ul>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Ring size( Ready to ship )</div>
                                <ul class="subsub-dropdown">
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
