<div class="filter-bar hide-mobile">
    <ul>
        <li><a href="javascript:void(0)">PRICE</a>
            <div class="filter-listing price-listing">
                <ul class="subfilter">
                    <li >
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text"><input type="radio"  [checked]="checkedprice(price[0])"  value="{{price[0]}}-{{price[1]}}" (change)="getprice($event)" id="price" name="price"><label for="price">₹{{price[0]}}-₹{{price[1]}}</label></div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text"><input type="radio"  [checked]="checkedprice(price[1])" value="{{price[1]}}-{{price[2]}}" (change)="getprice($event)" id="price1" name="price"><label for="price1">₹{{price[1]}}-₹{{price[2]}}</label></div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text"><input type="radio" value="{{price[2]}}-{{price[3]}}"  [checked]="checkedprice(price[2])" (change)="getprice($event)" id="price2" name="price"><label for="price2">₹{{price[2]}}-₹{{price[3]}}</label></div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text"><input type="radio" value="{{price[3]}}-{{price[4]}}"  [checked]="checkedprice(price[3])" (change)="getprice($event)" id="price3" name="price"><label for="price3">₹{{price[3]}}-₹{{price[4]}}</label></div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text"><input type="radio" value="{{price[4]}}-1000000"  [checked]="checkedprice(price[4])"  (change)="getprice($event)" id="price4"  name="price"><label for="price4">Above ₹{{price[4]}}</label></div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.25001 To Rs.3 0000</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.30001 To Rs.35000</div>
                        </div>
                    </li><li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rs.35001 To Rs.40000</div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </li>
        <li><a href="javascript:void(0)">jewelery Type</a>
            <div class="filter-listing">
                <ul class="subfilter" *ngFor="let m of jewelery_type">
                    <li >
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text"><input type="radio"  id="{{m}}" [checked]="checkedjewelery_type(m)" (change)="changefilter($event,m)" name="jewelery_type"><label for="{{m}}">{{m}}</label></div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Rings</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Necklaces</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Pendants</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Bracelets</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Bangels</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Chains</div>
                        </div>
                    </li><li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Sets</div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </li>
        <li><a href="javascript:void(0)">purity</a>
            <div class="filter-listing">
                <ul class="subfilter" *ngFor="let m of purity">
                    <li >
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text"><input type="checkbox"  id="{{m}}" [checked]="checkedpurity(m)" (change)="changefilter($event,m)" name="purity"><label for="{{m}}">{{m}}</label></div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">2 -5 grms</div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </li>
        <li><a href="javascript:void(0)">jewelery for</a>
            <div class="filter-listing">
                <ul class="subfilter" *ngFor="let m of jewelery_for">
                    <li >
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text"><input type="checkbox" [checked]="checkedjewelery_for(m)" id="{{m}}" (change)="changefilter($event,m)" name="jewelery_for"><label for="{{m}}">{{m}}</label></div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Diamond</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Gemstone</div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </li>
        <li><a href="javascript:void(0)">METAL</a>
            <div class="filter-listing">
                <ul class="subfilter" *ngFor="let m of material">
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text"><input type="checkbox"  id="{{m}}" [checked]="checkedmaterial(m)" (change)="changefilter($event,m)" name="material"><label for="{{m}}">{{m}}</label></div>
                        </div>
                    </li>
                    <!-- <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">18Kt Yellow</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">18Kt White</div>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">14Kt White</div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </li>
        <!-- <li> -->
            <!-- <a href="">SEE MORE FILTERS</a> -->
            <!-- <a href="javascript:void(0)">Clear filter</a>
            <div class="filter-listing sub-filter-listing">
                <ul class="subfilter">
                    <li (click)="clear()">Clear Filter</li> -->
                    <!-- <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Ring size( Ready to ship )</div>
                                <ul class="subsub-dropdown">
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                </ul>
                        </div>
                    </li>
                    <li>
                        <div class="each-filter-listing">
                            <span class="icon-container">
                                <span class="icon blank-box"></span>
                            </span>
                            <div class="filter-text">Ring size( Ready to ship )</div>
                                <ul class="subsub-dropdown">
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                    <li><a href="#">Sub Sub Demo</a></li>
                                </ul>
                        </div>
                    </li> -->
                <!-- </ul>
            </div>
        </li> -->
    </ul>
 
</div>
<!-- *ngIf="Object.keys(this.filter.menu.price).length>0" -->



<div class="mobile-filter">
    <ul>
        <li class="filter-nav"><a href="javascript:vold(0)" (click)="filteropen(1)"> <span><i class="fa fa-filter" aria-hidden="true"></i></span>Filter</a></li>
        <li><a href="javascript:vold(0)" data-toggle="modal" data-target="#filterModal"> <span><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></span>Sort</a></li>
    </ul>
</div>
<div class="sort-by-content">
    <div class="modal" tabindex="-1" role="dialog" id="filterModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h4 class="text-center">Sort</h4>
                <form>
                    <input type="radio" name="price" value="low">
                    <label for="price">Price Low to high</label><br>
                    <input type="radio" name="price" value="high">
                    <label for="price">Price High to low</label><br>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="filter" class="filter-content">
    <div class="filter-content-header">
        <div (click)="filteropen(0)" class="close-filter"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
        <h4>FILTER</h4>
    </div>
    <div class="">
        <div class="filter-listing">
            <ul>
                <li class="sub-filtr"><a href="javascript:void(0)">Price</a>
                    <ul class="drop-filter">
                        <li><a href="#">Sub Filter</a></li>
                        <li class="sub-filtr"><a href="javascript:void(0)">Sub Filter</a>
                            <ul class="drop-filter">
                                <li><a href="#">Sub Sub Filter</a></li>
                                <li><a href="#">Sub Sub Filter</a></li>
                                <li><a href="#">Sub Sub Filter</a></li>
                                <li><a href="#">Sub Sub Filter</a></li>
                                <li><a href="#">Sub Sub Filter</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sub Filter</a></li>
                        <li><a href="#">Sub Filter</a></li>
                        <li><a href="#">Sub Filter</a></li>
                    </ul>
                </li>
                <li><a href="">jewelery Type</a></li>
                <li><a href="">purity</a></li>
                <li class="sub-filtr"><a href="javascript:void(0)">jewelery for</a>
                    <ul class="drop-filter">
                        <li><a href="#">Sub Filter</a></li>
                        <li><a href="#">Sub Filter</a></li>
                        <li><a href="#">Sub Filter</a></li>
                        <li><a href="#">Sub Filter</a></li>
                        <li><a href="#">Sub Filter</a></li>
                    </ul>
                </li>
                <li><a href="">Metal</a></li>
            </ul>
        </div>
    </div>
</div>








<ul class="row nav">
   <li class="nav-item" *ngIf="checkP()" >
     <a class="nav-link"  href="javascript:void(0)"><h2><span  class=" badge badge-pill badge-secondary">₹{{filter.menu.price['min']}}-₹{{filter.menu.price['max']}}<i class="icon-cross"  (click)="deleteSelected('price',filter.menu.price['min'])"></i></span></h2></a>
   </li>
    <li class="nav-item" *ngFor="let m of filter.menu.jewelery_type">
        <a class="nav-link" href="javascript:void(0)"><h2><span class=" badge badge-pill badge-secondary">{{m}}<i class="icon-cross" (click)="deleteSelected('jewelery_type',m)"></i></span></h2></a>
    </li>
    <li class="nav-item" *ngFor="let m of filter.menu.purity">
        <a class="nav-link" href="javascript:void(0)"><h2><span class=" badge badge-pill badge-secondary">{{m}}<i class="icon-cross" (click)="deleteSelected('purity',m)"></i></span></h2></a>
      </li>
    <li class="nav-item" *ngFor="let m of filter.menu.jewelery_for">
        <a class="nav-link " href="javascript:void(0)"><h2><span class=" badge badge-pill badge-secondary">{{m}}<i class="icon-cross" (click)="deleteSelected('jewelery_for',m)"></i></span></h2></a>
    </li>
    <li class="nav-item" *ngFor="let m of filter.menu.material">
        <a class="nav-link" href="javascript:void(0)"><h2><span class=" badge badge-pill badge-secondary">{{m}}<i class="icon-cross" (click)="deleteSelected('material',m)"></i></span></h2></a>
    </li>
    <li class="nav-item" *ngIf="checkClear()">
        <a class="nav-link" href="javascript:void(0)"><h2><span class=" badge badge-pill badge-secondary">Clear All<i class="icon-cross" (click)="clear()"></i></span></h2></a>
    </li>
  </ul>