.filter-page-banner{
    height:400px;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}
.filter-bar {
    width:100%;
}
.filter-bar > ul{
    list-style: none;
    width: 100%;
    background: #c59f59;
    position: relative;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
}
.filter-bar > ul > li{
    float: left;
    position: relative;
    width: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 170px;
}
.filter-bar > ul > li > a {
    display: block;
    background: #c59f59;
    height: 48px;
    padding: 15px 40px 15px 15px;
    font-size: 13px;
    color: #fff;
    line-height: 18px;
    font-family: 'Muli', sans-serif;
    border-right: 2px solid #dbbf8d;
    position: relative;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.5px;
    text-decoration:none !important;
    position:relative;
}
.filter-bar > ul > li > a:after{
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    background-image: url(/assets/images/dropdown-fliter.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 28px;
    height: 28px;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}
.filter-bar > ul:before {
    content: '';
    background-image: url(/assets/images/filter-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 46px;
    height: 48px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}
.filter-bar > ul > li:first-child {
    padding-left: 44px;
}
.subfilter:before{
    display:none;
}
.filter-listing{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #ffffff;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    z-index: 10;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: visibility 0s,opacity 0.4s;
    transition: visibility 0s,opacity 0.4s;
    box-shadow: 0 0 10px 1px rgba(153,152,163,0.8);
}
.filter-listing > ul{
    padding-left:0px;
}
.filter-listing > ul > li{
    display: block;
    cursor: pointer;
    list-style: none;
    cursor: pointer;
    height: 48px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    float:none;
}
.each-filter-listing{
    line-height:48px;
}
.filter-listing > ul > li:hover{
    background-color:#dbbf8d;
}
.icon-container {
    content: '';
    position: relative;
    float: left;
    top: 12px !important;
    margin: 0 10px;
    border-radius: 50%;
    line-height: normal;
}
.blank-box{
    width: 26px;
    height: 26px;
    display:block;
}
.filter-bar > ul > li:hover .filter-listing {
    opacity: 1;
    visibility: visible;
    height: auto;

}
.filter-bar > ul > li:hover, .filter-bar > ul > li:hover > a{
    background-color:#dbbf8d;
}
.filter-bar > ul > li:hover a:after{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.filter-listing .subfilter li .each-filter-listing .filter-text{
    position:relative;
}
.filter-listing ul.subfilter li .each-filter-listing .filter-text:after{
    position:absolute;
    width:14px;
    height:10px;
    top:50%;
    transform:translateY(-50%);
    background-image: url(/assets/images/tick.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content:'';
    right:12px;
    opacity: 0;
}
.filter-listing ul.subfilter li.active .each-filter-listing .filter-text:after{
    opacity: 1;
}