<div class="kyc-first-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="client-details text-center">
                    <div class="profile-image">
                        <img src="assets/images/user-13.jpg"/>
                    </div>
                    <div class="profile-business-name">
                        <h3>Savya jewellery <br>business</h3>
                    </div>
                    <div class="profile-name">
                        <h3>NAME : SUBHA PAUL</h3>
                    </div>
                    <div class="profile-contect">
                        <h3>EMAIL : </h3>
                        <h3>PHONE : </h3>
                    </div>
                </div>
                <div class="join-savya">
                    <h3>TO JOIN SAVYA TEAM </h3>
                    <input type="checkbox" id="demo1" >
                    <label for="demo1"> Demo Text</label><br>
                    <input type="checkbox" id="demo2" >
                    <label for="demo2"> Demo Text</label><br>
                    <input type="checkbox" id="demo3">
                    <label for="demo3">Demo Text</label><br>
                </div>
            </div>
            <div class="col-md-8">
                <div class="kyc-first-page-right">
                    <div class="welcome-image" style="background-image:url('/assets/images/filter-page-banner.jpg')"></div>
                </div>
                <div class="verified-content">
                    <h3>Verified Business</h3>
                    <p>verify yourself as a genius business on Savya Jewels Business. Follow these simple step to unlock great benefit</p>
                </div>
            </div>
        </div>
    </div>
</div>
