<div class="kyc-first-page">
    <div class="container">
        <div class="row"  *ngIf="page">
            <div class="col-md-4">
                <div class="client-details text-center bordershadow">
                    <div class="profile-image-wrapper">
                        <div class="profile-image">
                            <img id="image_preview" [src]="photo+'/'+ user.logo" onerror="this.src='../../../../assets/images/user.png'"/>
                            <div class="edit-pic">
                                <a href="javascript:void(0)" (click)="modal()"><img src="assets/images/edit.svg" onerror="this.src='../../../../assets/images/user.png'"/></a>
                                <input type="file" id="image" [hidden]="true" (change)=" changeImage($event)">
                            </div>
                        </div>
                    
                        <ng-container *ngIf='kyc!=null && kyc.document_verified == 2'>
                            <div class="verified-icon">
                                <img src="assets/images/green.png"/>
                            </div>
                            <span>Account Verified</span>
                        </ng-container>
    
                        <ng-container *ngIf='kyc==null || kyc.document_verified == 0'>
                            <div class="verified-icon">
                                <img src="assets/images/red.png"/>
                            </div>
                            <span>Account not verified upload Documents</span>
                        </ng-container>
    
                        <ng-container *ngIf='kyc!=null && kyc.document_verified == 1'>
                            <div class="verified-icon">
                                <img src="assets/images/yellow.png"/>
                            </div>
                            <span>Documents under verification process</span>
                        </ng-container>

                    </div>
                    <div class="profile-business-name">
                        <h3>Savya jewellery <br>business</h3>
                    </div>
                    

                    <div class="profile-name">
                        <h3>NAME :</h3>
                        <input type="text"  [(ngModel)]="user.name" (ngModelChange)=" changename($event)" class="input-style"/>
                    </div>
                    <div class="profile-contect">
                        <div class="input-documents-feild">
                            <label>EMAIL : </label>
                            <h3>{{user.email}}</h3>
                        </div>
                        <div class="input-documents-feild">
                            <label>Mobile : </label>
                            <h3>{{user.mobile_no}}</h3>
                        </div>
                        <input  class="btn" value="Update" (click)=" update()">
                    </div>
                </div>
                <div class="join-savya  bordershadow">
                    <h3>Make Every Customer Happy</h3>
                    <ul>
                        <li>Life time trust with Savya</li>
                        <li>24/7 Customer Support</li>
                        <li>Hassle Free Service</li>
                        <li>Trust Make you Happy</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="kyc-first-page-right">
                    <div class="welcome-image" style="background-image:url('/assets/images/kyc-bg.jfif');background-size:100% auto;"></div>
                </div>
                <div class="verified-content">
                    <h3>Verified Business</h3>
                    <p>verify yourself as a genius business on Savya Jewels Business. Follow these simple step to unlock great benefit</p>
                    <div class="exclusive-price">
                        <h3>Exclushive Price</h3>
                        <p>Exclusive access to schemes and programe to unlock the best prices on Savya Jewels Business</p>
                    </div>
                    <div class="exclusive-price excluive-selection">
                        <h3>Exclushive Price</h3>
                        <p>Exclusive access to schemes and programe to unlock the best prices on Savya Jewels Business</p>
                    </div>
                    
                    <div *ngIf='kyc!=null && kyc.document_verified == 2' class="link-button">
                        <a routerLink="/kyc" class="btn">Your Documents are Verified</a>
                    </div>

                    <div *ngIf='kyc==null || kyc.document_verified != 2' class="link-button">
                        <a routerLink="/kyc" class="btn">verify now</a>
                    </div>
                </div>
            </div>
        </div>
        <app-loader  *ngIf="loader" ></app-loader>
    </div>
</div>