<ng-container *ngIf='slider_imgs'>
    <ngb-carousel *ngIf="slider_imgs">
        <ng-template *ngFor="let slide of slider_imgs" ngbSlide>
          <div class="picsum-img-wrapper bordershadow">
            <img [routerLink]='["/jewelry/machinery",slide.title | subcategory]' [queryParams]="{'page' :1 ,'manufacture_id': slide.user_id}" onerror="this.src='../../../../assets/images/logo-bw.png'" [src]="url2 + slide.image" alt="Random first slide" >
          </div>
        </ng-template>
    </ngb-carousel>
</ng-container>
<div class="holder py-3 py-md-6 fullboxed aside--bg-none holder-bg-09">
    <div class="container">
        <!-- <div class="text-center">
            <h2 class="h1-style">Product with side filter</h2>
        </div> -->
        <div class="row" >
             <div class="col-lg aside">
                 <div class="prd-grid-wrap">
                   
                     <app-loader  *ngIf="loader"></app-loader>
                     <div *ngIf="page">
                             <div  class="prd-grid product-listing data-to-show-4 data-to-show-md-3 data-to-show-sm-2 js-category-grid" *ngIf="div" >
                                 
                                         <div class="prd" *ngFor="let s of products"  >
                                                 <div class="prd-inside product-border" >
                                                     <div class="prd-img-area"><a (click)='go(s)' class="prd-img">
                                                         <img onerror="this.src='../../../../assets/images/logo-bw.png'" [src]="s.image" alt="Tyssot 1853"></a>
                                                         
                                                         <div class="gdw-loader"></div>
                                                     </div>
                                                     <div class="prd-info text-center">
                                                         <h2 class="prd-title"><a (click)='go(s)'>{{s.machinery_name}}</a></h2>
                                                         </div>
                                                             <div class="prd-action">
                                                                
                                                                 <button class="btn middle-button" (click)='go(s)'><span>View Details</span></button> 
                                                                
                                                              </div>
                                                      </div>
                                                     
                                                 </div>
                                         </div>
                            </div>
                            <div *ngIf="products && !products.length">
                                <div class="row" style="margin:auto;">
                                <img src="../../../../assets/images/savya-jewels/no-product-show-category.png"  class="embed-responsive" alt="">
                                </div>
                            </div>
                             <div *ngIf='pages'  class="col-4 mx-auto" style="padding-top:2vh;">
                             <ng-container>
                                 <ngb-pagination [collectionSize]="pages*10" [(page)]="current_page" (pageChange)='pagechanged()' [maxSize]="5" [rotate]="true"></ngb-pagination>
                             </ng-container>
                           
                              </div>
                     </div>
                     
                 </div>
             </div>
         </div>
         <simple-notifications [options]="{position: ['top', 'right']}"></simple-notifications>
     </div>