/deep/.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f58220;;
    border-color: #f58220;;
}
/deep/.page-item .page-link:hover{
    z-index: 1;
    color: #fff;
    background-color: #0e0d0c;
    border-color: #111110;
}
.prd-title {
    min-height: 35px;;
}

.picsum-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.picsum-img-wrapper img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
