.logo-holder img, .logo-holder-s img {
    max-width: 300px !important;
}

#live:hover{
    color:green;
    
}
a#live::before {
    background-color: green;
}

/* .hdr-desktop .mmenu:not(.mmenu--vertical) > li> a#live:hover::before {
    background-color: green;
} */
