<div class="hdr-content hide-mobile">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf='logochange != 1' class="col-auto logo-holder"><a routerLink="/" class="logo"><img src="assets/images/savyalogoblack.png" srcset="assets/images/savyalogoblack.png 2x" alt=""></a></div>
            <div *ngIf='logochange ==  1' class="col-auto logo-holder"><a [routerLink]="newurl" class="logo"><img src="assets/images/SJB_Machinery-1.png" srcset="assets/images/SJB_Machinery-1.png" alt=""></a></div>
            
            <div class="prev-menu-scroll icon-angle-left prev-menu-js"></div>
            <div class="nav-holder" style="min-height:120px;">
                <div class="hdr-nav" >
                
                    <ul  class="mmenu mmenu-js">
                        
                        <ul class="mmenu mmenu-js">
                            <li class="mmenu-item--simple">
                                <a href="javascript:void(0)" routerLink="/" title="">HOME</a>
                            </li>
                            <ng-container *ngFor='let s of catwithsub;let i = index'>
                            <li class="mmenu-item--simple">
                                
                                <ng-container *ngIf="s.category != 'MACHINERY' && i != length"><a href="javascript:void(0)" [routerLink]="['/', s.category  | category]" title="">{{s.category}}</a></ng-container>
                                <ng-container *ngIf="i == length">
                                    <a id='live' href="javascript:void(0)" [routerLink]="['/gold-silver-live-rates']" title="">Live Rate</a>
                                </ng-container>
                                <ng-container *ngIf="s.category == 'MACHINERY'  && i != length"><a href="javascript:void(0)" [routerLink]="['/', s.category  | category]" title="">{{s.category}}</a></ng-container>
                                <div *ngIf='i!=length' class="mmenu-submenu">
                                    <ul class="submenu-list">
                                     <ng-container *ngIf="s.category != 'MACHINERY'">
                                         <li *ngFor='let p of s.subcategory'><a href="javascript:void(0)" [routerLink]="['/', s.category | category,p.subcategory  | subcategory]">{{p.subcategory}}</a>
                                        </li>
                                    </ng-container>
                                        <ng-container *ngIf="s.category == 'MACHINERY'">
                                            <li *ngFor='let p of s.subcategory'><a href="javascript:void(0)" [routerLink]="['/', s.category  | category,p.subcategory | subcategory]" [queryParams]="{'page' :1 ,'subcategory_id': p.subcategory_id}">{{p.subcategory}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </li>
                            <li class="mmenu-item--simple" *ngIf='i==length'>
                                <a href="javascript:void(0)" [routerLink]="['/', catall[i].category | category]" title="">{{catall[i].category}}</a>
                                <div class="mmenu-submenu">
                                    <ul class="submenu-list">
                                     
                                         <li *ngFor='let p of catall[i].subcategory'>
                                             <a href="javascript:void(0)" [routerLink]="['/', catall[i].category  | category,p.subcategory  | subcategory]">{{p.subcategory}}</a>
                                        </li>
                                    
                                    </ul>
                                </div>
                            </li>

                            </ng-container>

                            <ng-container *ngIf='catwithoutsub && catwithoutsub.length'>
                            <li class="mmenu-item--simple"><a href="javascript:void(0)" title="">More</a>
                                <div class="mmenu-submenu">
                                    <ul class="submenu-list">
                                        <li *ngFor='let s of catwithoutsub'><a href="javascript:void(0)" title="">{{s.category}}</a></li>
                                    </ul>
                                </div>
                            </li>
                            </ng-container>
                            <li class="mmenu-item--simple"><a href="javascript:void(0)" [routerLink]="['/blog']" title="">Blog</a>
                            </li>
                            <li class="mmenu-item--simple"><a href="javascript:void(0)" [routerLink]="['/bullion-dealers']" title="">Bullion Merchant</a>
                            </li>
                            
                        </ul>
                    </ul>
                        
            
                </div>
            </div>
            <div class="next-menu-scroll icon-angle-right next-menu-js"></div>
            
            <div *ngIf='drop' class="col-auto">
                <div class="minicart"><a href="javascript:void(0)" routerLink="/cart" class="minicart-link"><i class="icon icon-handbag"></i> <span class="minicart-qty">{{ProductsInCart()}}</span> <span class="minicart-title">Shopping Cart</span></a>
                </div>
            </div>
        </div>
    </div>
</div>