<div class="holder py-3 py-md-6 fullboxed aside--bg-none holder-bg-09 mt-0">
    <div class="container">
        <div class="text-center">
            <h2 class="h1-style">{{heading}}</h2>
            <!-- <div class="under-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper justo sed massa posuere.</div> -->
        </div>
        <div class="testimonials" *ngIf="input">
          <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" >
          <div ngxSlickItem *ngFor="let slide of input" class="slide">
          <img src="{{ url + slide.image }}" alt="" width="100%">
          </div>
          </ngx-slick-carousel>
    </div>
</div>
