<section class="banner-area common-banner" style="background-image:url('assets/images/blog.webp')">
</section>
<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-listing">
                    <div class="tab-heading-wrapper   bordershadow2">
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="tab-heading">LATEST <span>ARTICLES</span></div>
                            </div>
                            <div class="col-md-8">
                                <div class="tabs-area">
                                    <ul class="nav" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="showall-tab" data-toggle="pill" href="#showall" role="tab" aria-controls="showall" aria-selected="true">All</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link" id="Cars-tab" data-toggle="pill" href="#Fitness" role="tab" aria-controls="Cars" aria-selected="false">Fitness</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="City-tab" data-toggle="pill" href="#Travel" role="tab" aria-controls="City" aria-selected="false">Travel</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="Forest-tab" data-toggle="pill" href="#World" role="tab" aria-controls="Forest" aria-selected="false">World</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="showall" role="tabpanel" aria-labelledby="showall-tab">
                            <div class="row">
                                <div class="col-lg-6" *ngFor='let s of data'>
                                    <div class="each-blog">
                                        <div class="each-blog-image bordershadow2">
                                            <a href="javascript:void(0)" (click)='gotoblog(s)'>
                                                <img [src]="image +'/' + s.blog_image" border="0" alt="" class="w-100">
                                            </a>
                                        </div>
                                        <div class="each-blog-details">
                                            <h3><a href="javascript:void(0)" (click)='gotoblog(s)'>{{s.title}}</a></h3>
                                            <div class="cf listing-meta meta below"> 
                                            
                                            <time datetime="s.updated_at" class="meta-item">{{s.updated_at | date}}</time>
                                            
                                            </div>
                                            <p [innerHTML]='s.description | summary'></p>
                                            <a href="javascript:void(0)" (click)='gotoblog(s)'> read more</a>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                      
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-listing-left-part">
                    <div class="thumb-blog">
                        <div class="thumb-blog-heading">
                            <h3 class="h2-style">OUR PICKS</h3>
                        </div>
                        <div class="thumbs-gallery">
                            <ul>
                                <li *ngFor='let s of data'>
                                    <a href="javascript:void(0)" (click)='gotoblog(s)'><img class="bordershadow2" [src]="image +'/' + s.blog_image" border="0" alt=""></a>
                                    <div class="thumb-content">
                                        <a href="javascript:void(0)" (click)='gotoblog(s)'>{{s.title}}</a>
                                        <div class="cf listing-meta meta below"> <time class="meta-item">{{s.updated_at | date}}</time></div>
                                    </div>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="blog-social">
                        <div class="thumb-blog-heading">
                            <h2>OUR Social</h2>
                        </div>
                        <ul>
                            <li><a href="https://www.facebook.com/SavyaJewelsBusiness" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/savyajewelsbusiness/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/SavyaBusiness" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://in.linkedin.com/in/savya-jewels-business" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UC3Uvsiij6fpfzD8h01ildpA" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="blog-left-blog-list">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>