<div class="page-content" style="margin-bottom: 65px;">
    <div class="holder mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a routerLink="/">Home</a></li>
                <li><span>Shopping Cart</span></li>
            </ul>
        </div>
    </div>
    
    <div class="holder mt-0">
        <div class="container shopping-cart-item-details" *ngIf="page">
            <h1 class="text-center">Shopping Cart</h1>
            <div class="cart-table" *ngIf="div">
                <div class="cart-table-prd border bordershadow2"  *ngFor="let r of results;let i=index">
                    <div class="cart-table-prd-image"><a  (click)='go(r.product_id)'><img onerror="this.src='../../../../assets/images/logo-bw.png'" src="{{baseurl + r.image}}" alt=""></a></div>
                    <div class="cart-table-prd-name">
                        <h4><a  href="javascript:void(0)" (click)='go(r.product_id)'>{{r.productName}} &nbsp;&nbsp; size:&nbsp;({{r.product_size}})</a></h4>
                        <table>
                            <tbody>
                               <ng-container *ngFor="let a of r.assests;let i=index">
                                <tr>
                                    <td>{{a.metal}}</td>
                                    <td> &nbsp;&nbsp;&nbsp;&nbsp;<ng-container *ngIf='a.diamondType'>{{a.diamondType}}</ng-container>&nbsp;&nbsp;{{a.materialType}} &nbsp;&nbsp; &nbsp;&nbsp;</td>
                                    <td>{{a.weight* quantity(r.cart_id) | number : '1.3-3'}} &nbsp;<ng-container *ngIf='a.metal == "Diamond" || a.metal == "Stone"'>Ct</ng-container><ng-container *ngIf='a.metal != "Diamond" && a.metal != "Stone"'>g</ng-container>&nbsp;</td>
                                </tr>
                                </ng-container>
                                <tr>
                                    <td colspan="3"><h4>{{priceWeight[i].price * quantity(r.cart_id)  | INRCurrency}}</h4></td>
                                    <td>
                                        <div   *ngIf= "checkCart(r.product_id)" class="row no=gutters" >
                                            <div class="col-lg-12">
                                             <div class="item-plus-minus" >
                                                 <table>
                                                     <tr>
                                                         <td><button  (click)="qtyUpdate(r.cart_id,-1)" class="btn btn-secondary btn-block">-</button></td>
                                                         <td>{{quantity(r.cart_id)}}</td>
                                                         <td><button  (click)="qtyUpdate(r.cart_id,+1)" class="btn btn-secondary btn-block">+</button></td>
                                                     </tr>
                                                 </table>
                                             </div>
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="cart-table-prd-action" style="position: absolute;right: 10px;
                    top: 5px;"><a  (click)="deleteCart(r.cart_id)" class="icon-cross"></a></div>
                </div>
                <div class="card-body  border bordershadow2">
                    <h3>Your Bill </h3>
                    <p><strong>
                        <div>Total Price <span class="card-total-price"> {{total.price | INRCurrency}}</span></div>
                        <div>Total Gross Weight <span class="card-total-price"> {{totalw | number : '1.3-3'}} g</span></div>
                          Surcharge : {{total.price*0.01 | INRCurrency}}<br>
                          Sgst(1.5 %):  {{final*0.015 | INRCurrency}}<br>
                          Cgst(1.5 %):  {{final*0.015 | INRCurrency}}<br>
                          Delivery Charge:  {{ 800 | INRCurrency}}<br>
                        </strong>
                      </p>
                      <div class="card-total-sm">
                        <div class="float-right">Final Total <span class="card-total-price"> {{final + final *0.03 + 800| INRCurrency}}</span></div>
                    </div>
                </div>
                <div class="cart-table-total">
                    <div class="row">
                        <div class="col-sm" ><a *ngIf='totalw < 100' routerLink="/home" class="btn btn--alt"><i class="icon-angle-left"></i><span>continue shopping</span></a></div>
                        <div class="col-sm-auto"><a routerLink="/account/checkout" class="btn"><span>continue checkout</span> <i class="icon-angle-right"></i></a></div>
                    </div>
                </div>
            </div>
            <div *ngIf="alert">
                    <div class="row" style="margin:auto;">
                    <img src="../../../../assets/images/savya-jewels/empt-cart.png"  class="embed-responsive" alt="">
                    </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <button type="hidden" id='mClose' class="close" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body text-center">
                    <app-loader></app-loader>
                   <h3><strong>Please wait...</strong></h3> 
                </div> 
              </div>
            </div>
        </div>
       <div *ngIf="loader"> <app-loader></app-loader> </div>
    </div>
</div>
<simple-notifications [options]="{position: ['top', 'right']}"></simple-notifications>
<button [hidden]="true" id='openmodalbutton' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
</button>