<section class="bangle-guide">
    <div class="container-fluid">
        <div class="text-center">
            <h3>RING SIZE GUIDE</h3>
        </div>
        <div class="little-description">
            <h4>Ring sizing chart for measuring your finger size appropriately</h4>
            <p>This is a chart that will be extremely helpful for you to determine the ring size that you need. You can either make use of a tape or a small piece of string to measure the area that will be occupied by the ring. When it becomes a complete circle, make a mark on such string. This will be helpful for you to compare with the chart that is mentioned below. For extra width, you can add another size to accommodate.</p>
        </div>
        <div class="step-guide">
            <h3>Procedure #1</h3>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="guide-area">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="step-box"><span>Step<br> 01</span></div>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li>Cut a thin strip of paper or Thread</li>
                                    <li>Wrap the paper/Thread around your finger.</li>
                                    <li>Mark the spot where the paper/Thread meets</li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <div class="image-area">
                                    <img src="../../../../assets/images/RING-SIZE-01.webp" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="guide-area">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="step-box"><span>Step<br> 02</span></div>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li>Measure the lenght of the thread with your ruler.</li>
                                    <li>Use the following chart to determine your ring size.</li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <div class="image-area">
                                    <img src="../../../../assets/images/RING-SIZE-02.webp" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>Ring Size (Indian)</th>
                                <th colspan="2">Circumference</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Inches</td>
                                <td>MM</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1.61</td>
                                <td>41</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1.64</td>
                                <td>41.7</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>1.68</td>
                                <td>42.9</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>1.73</td>
                                <td>44.1</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>1.76</td>
                                <td>44.8</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>1.81</td>
                                <td>46.1</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>1.86</td>
                                <td>47.4</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>1.88</td>
                                <td>48</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>1.91</td>
                                <td>48.7</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>1.96</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>2.01</td>
                                <td>51.2</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>2.04</td>
                                <td>51.9</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>2.09</td>
                                <td>53.1</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>2.14</td>
                                <td>54.4</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>2.16</td>
                                <td>55.1</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>Ring Size (Indian)</th>
                                <th colspan="2">Circumference</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Inches</td>
                                <td>MM</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>2.21</td>
                                <td>56.3</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>2.24</td>
                                <td>57</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>2.29</td>
                                <td>58.3</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>2.31</td>
                                <td>58.9</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>2.37</td>
                                <td>60.2</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>2.39</td>
                                <td>60.8</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>2.44</td>
                                <td>62.1</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>2.46</td>
                                <td>62.7</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>2.51</td>
                                <td>64</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>2.54</td>
                                <td>64.6</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>2.59</td>
                                <td>65.9</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>2.64</td>
                                <td>67.2</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>2.66</td>
                                <td>67.8</td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>2.72</td>
                                <td>69.1</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>2.74</td>
                                <td>69.7</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-guide">
            <h3>Procedure #2</h3>
            <p>Here is another chart that can also be considered in determining the appropriate ring size. Measure the inside diameter of a ring that you already own. It measures inside the diameter of such ring in millimeters. This is normally used for double checking your results from the usual paper method. Apart from this, you can also make use of the ring that you wear daily and cross check the same with below chart.</p>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="guide-area">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="step-box"><span>Step<br> 01</span></div>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li>Take a Ring and place it on a scale</li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <div class="image-area">
                                    <img src="../../../../assets/images/RING-SIZE-02-03.webp" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>Ring Size (Indian)</th>
                                <th colspan="2">Diameter</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Inches</td>
                                <td>MM</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>0.51</td>
                                <td>13.1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>0.52</td>
                                <td>13.3</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>0.54</td>
                                <td>13.7</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>0.55</td>
                                <td>13.9</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>0.56</td>
                                <td>14.3</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>0.57</td>
                                <td>14.7</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>0.59</td>
                                <td>15.1</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>0.6</td>
                                <td>15.3</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>0.61</td>
                                <td>15.5</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>0.62</td>
                                <td>15.9</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>0.64</td>
                                <td>16.3</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>0.65</td>
                                <td>16.5</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>0.66</td>
                                <td>16.9</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>0.68</td>
                                <td>17.3</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>0.69</td>
                                <td>17.5</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>Ring Size (Indian)</th>
                                <th colspan="2">Diameter</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Inches</td>
                                <td>MM</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>0.7</td>
                                <td>17.9</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>0.71</td>
                                <td>18.1</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>0.72</td>
                                <td>18.5</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>0.73</td>
                                <td>18.7</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>0.75</td>
                                <td>19.1</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>0.76</td>
                                <td>19.3</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>0.77</td>
                                <td>19.7</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>0.78</td>
                                <td>19.9</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>0.8</td>
                                <td>20.4</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>0.81</td>
                                <td>20.6</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>0.82</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>0.84</td>
                                <td>21.4</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>0.85</td>
                                <td>21.6</td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>0.86</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>0.87</td>
                                <td>22.2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>