.youtube-video{
    background-color: #f9f9fa;
    margin-top:50px;
}
.youtube-heading{
    margin-bottom: 30px;
}
.floating-whatsaap-btn{
    position:fixed;
    bottom: 20%;
    right: 26px;
    z-index:9999;
}
.floating-whatsaap-btn img{
    max-width:50px;
    height: auto;;
}

.seller .embed-responsive{
    text-align:center;
}
.seller .embed-responsive .embed-responsive-item{
    width:100px;
    height: auto;
    margin:0px auto;
    left:50%;
    transform:translateX(-50%);
}
@media screen and (max-width: 767px){
    .seller .testimonials h2 {
        font-size: 14px;
    }
    .seller .embed-responsive .embed-responsive-item{
        width:70px;
    }
}
