<div class="page-content">

    
    <app-slider [slider_imgs] = 'slider_imgs' [url] = 'url'></app-slider>
    
   

    <!-- live rates area-->
    <app-liverates *ngIf="page"></app-liverates>
    <!-- live rates area-->
    
    <div class="holder py-3 py-md-6 fullboxed aside--bg-none holder-bg-09 mt-1 mb-1 ">
      <div class="container-fluid">
            <div class="text-center">

                <h2 class="h1-style">Our Associate Partners</h2>


         
          </div>
          <div class="testimonials seller" style="background-color:#f9f9fa;">
            <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig" >
            <ng-container *ngFor="let slide of manufacturer;let i = index">
                  <div (click)='openmodal(slide.name,slide.description)' [routerLink]='["/jewelry/manufacture",slide.name | slugify]' [queryParams]="{'manufacture_id': slide.manufacture_id}" ngxSlickItem class="slide he embed-responsive embed-responsive-16by9 border bordershadow">
                  <img (click)='openmodal(slide.name,slide.description)' [routerLink]='["/jewelry/manufacture",slide.name | slugify]' [queryParams]="{'manufacture_id': slide.manufacture_id}" src="{{ manufacture + slide.logo }}"  onerror="this.src='../../../../assets/images/logo-bw.png'"  class="embed-responsive-item mt-1"  alt="" width="100%">
                  <div class="overlay-effect mt-1">
                      <div (click)='openmodal(slide.name,slide.description)' [routerLink]='["/jewelry/manufacture",slide.name | slugify]' [queryParams]="{'manufacture_id': slide.manufacture_id}" *ngIf="slide.name" class="overlay-effect-content for-desktop hide-mobile">
                        <h4>{{ slide.name }}</h4>
                      </div>
                      <div (click)='openmodal(slide.name,slide.description)' [routerLink]='["/jewelry/manufacture",slide.name | slugify]' [queryParams]="{'manufacture_id': slide.manufacture_id}" *ngIf="slide.name" class="overlay-effect-content show-mobile">
                        <h6>{{ slide.name }}</h6>
                      </div>
                  </div>
                  </div>
            </ng-container>
              </ngx-slick-carousel>
           </div>
    <!--youtube-video-->
    <section class="youtube-video py-3 py-md-6" *ngIf="videos">
      <div class="container">
        <div class="row">
              <div class="col-md-12">
                <div class="youtube-heading text-center">
                    <h3 class="h2-style">We are the most trusted Brand in India</h3>
                </div>
            </div>
          <div *ngFor="let slide of videos;let i = index" class="row" style="align-items:center">
            <ng-container *ngIf="i%2==0">
            <div  class="col-lg-6">
                <video style="width:100%;max-height:100%;" controls>
                    <source [src]="base+'gallery/' + slide.file_name" type="video/mp4">
                </video>
            </div>
            <div class="col-lg-6">
                <div [innerHTML]='slide.web_content' class="video-content">
                </div>
            </div>
          </ng-container>
          <ng-container *ngIf="i%2==1">
            <div class="col-lg-6">
              <div [innerHTML]='slide.web_content' class="video-content">
              </div>
            </div>
            <div  class="col-lg-6">
                <video style="width:100%;max-height:100%;" controls>
                    <source [src]="base+'gallery/' + slide.file_name" type="video/mp4">
                </video>
            </div>
          </ng-container>
          </div>
        </div>
      </div>
    </section>

    <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig" >
                  <div ngxSlickItem *ngFor="let slide of gallery;let i = index" class="slide bordershadow">
                  <img  src="{{ base+'gallery/' + slide.image }}"  onerror="this.src='../../../../assets/images/logo-bw.png'" alt="" width="100%">
                  </div>
    </ngx-slick-carousel>

    <!-- Promotional Section -->
    <app-exclusive-banner [url2] = 'url' [exclusive] = 'exclusive' *ngIf="page"></app-exclusive-banner>
    <!--/Promotional section -->
   
    <!-- Mostselling Product -->
    <app-product-holder [redirect] = '0' [heading] = '"Most Selling Product"' [url3] = 'product' [mostselling] = 'mostselling' *ngIf="page"></app-product-holder>
    <!-- Mostselling Product -->


    <!-- Testimonials -->
    <app-testimonials [heading] = '"Events"' [isShowAll] = 'true' [redirect] = '"Y"' [slidetoshow] = '"2"' [input] = 'events'  [url] = 'event' *ngIf="page"></app-testimonials>
    <!--/Testimonial -->


    


     <div class="holder py-3 py-md-6 fullboxed aside--bg-none  mt-0" *ngIf="partner && partner.length">
          <div class="container">
              <div class="text-center">
                  <h3 class="h1-style">Partners</h3>
             
              </div>
              <div class="testimonials">
                  <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig" >
                  <div ngxSlickItem class="slide embed-responsive embed-responsive-16by9" *ngFor="let s of partner">
                    <img onerror="this.src='../../../../assets/images/logo-bw.png'" src="{{ base+'partner/' + s.image }}" class="embed-responsive-item"  alt="" width="100%" style="border:1px solid #c59f59">
                  </div>
                  
                  </ngx-slick-carousel>
              </div>
          </div>
    </div>
    <div *ngIf="loader"> <app-loader></app-loader> </div>
    <!-- modal start -->
    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLongTitle">Network Issue</h2>
              
            </div>
            <div class="modal-body">
              <h5>Check Your Internet Connection</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal end -->
<simple-notifications [options]="{position: ['top', 'right']}"></simple-notifications>
