<div class="page-content">
	
    <!-- BN Slider 1 -->
    <app-slider [slider_imgs] = 'slider_imgs' [url] = 'url'></app-slider>
    <!-- //BN Slider 1 -->

     <!-- Product Holder -->
     <app-best-seller-product [url3] = 'url3' [mostselling] = 'mostselling'></app-best-seller-product>
     <!--/Product Holder -->
    
    <!-- Product Holder -->
    <app-product-holder></app-product-holder>
    <!--/Product Holder -->
        
    <!-- Promotional Section -->
    <app-exclusive-banner [url2] = 'url2' [exclusive] = 'exclusive'></app-exclusive-banner>
    <!--/Promotional section -->
    
   

    <!-- Testimonials -->
    <app-testimonials [heading] = '"Events"' [input] = 'events'  [url] = 'url2'></app-testimonials>
    <!--/Testimonial -->
    



</div>
