<div class="hdr-content hide-mobile">
    <div class="container">
        <div class="row">
            <div class="col-auto"><h2>SUBCATEGORY</h2></div>
            
            <!--navigation-->
            <div class="nav-holder">
                
                <div class="hdr-nav">
                    <!--mmenu-->
                    <ul  class="mmenu mmenu-js">
                        
                        <ul class="mmenu mmenu-js">
                            <li *ngFor='let s of data' class="mmenu-item--simple"><a href="javascript:void(0)" title="">{{s.title}}<span class="menu-label menu-label--color1">NEW</span></a>

                            </li>
                        </ul>
                    </ul>  
                    <!--/mmenu-->
                </div>
            </div>
            <!--//navigation-->
        </div>
    </div>
</div>

<div class="holder py-3 py-md-6 fullboxed aside--bg-none holder-bg-09">
    <div class="container">
        <div class="text-center">
            <h2 class="h1-style">Product with side filter</h2>
        </div>
        
        <div class="row">
            <!-- Left column -->
            <div class="col-lg-3 aside aside--left fixed-col js-filter-col">
                <div class="fixed-col_container">
                    <div class="filter-close">CLOSE</div>
                    <div class="sidebar-block sidebar-block--mobile d-block d-lg-none">
                        <div class="d-flex align-items-center">
                            <div class="selected-label">(6) FILTER</div>
                            <div class="selected-count ml-auto">SELECTED <span><b>25 items</b></span></div>
                        </div>
                    </div>
                    <div class="sidebar-block filter-group-block open">
                        <div class="sidebar-block_title"><span>Current Selection</span>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="sidebar-block_content">
                            <div class="selected-filters-wrap">
                                <ul class="selected-filters">
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Silver</a></li>
                                    <li><a href="#">18K</a></li>
                                    <li><a href="#">Above ₹20,000</a></li>
                                    <li><a href="#">GOLD</a></li>
                                </ul>
                                <div class="d-flex align-items-center"><a href="#" class="clear-filters"><span>Clear All</span></a>
                                    <div class="selected-count ml-auto d-none d-lg-block">SELECTED<span><b>25 items</b></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="sidebar-block filter-group-block open">
                        <div class="sidebar-block_title"><span>Price</span>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="sidebar-block_content">
                            <ul class="category-list">
                                <li><a href="#">₹1000-₹200000</a></li>
                                <li class="active"><a href="#">Above ₹20,000</a></li>
                                <li><a href="#">Under ₹100000</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    
                    <div class="sidebar-block filter-group-block open">
                        <div class="sidebar-block_title"><span>Categories</span>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="sidebar-block_content">
                            <ul class="category-list">
                                <li class="active"><a href="#">Women</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Diamond & Gemstone</a></li>
                                <li><a href="#">Navaratna</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="sidebar-block filter-group-block open">
                        <div class="sidebar-block_title"><span>Colors</span>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="sidebar-block_content">
                            <ul class="color-list two-column">
                                <li><a href="#" data-tooltip="Yellow" title="Yellow"><span class="value"><img src="../../../../assets/images/colorswatch/color-yellow.png" alt=""></span><span class="colorname">Yellow (125)</span></a></li>

                                <li><a href="#" data-tooltip="Silver" title="Silver"><span class="value"><img src="../../../../assets/images/colorswatch/color-white.png" alt=""></span><span class="colorname">Silver (125)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="sidebar-block filter-group-block open">
                        <div class="sidebar-block_title"><span>Metal</span>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="sidebar-block_content">
                            <ul class="category-list">
                                <li class="active"><a href="#">Gold (200)</a></li>
                                <li><a href="#">White Gold (1200)</a></li>
                                <li><a href="#">Rose Gold</a></li>
                                <li><a href="#">Platinum</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="sidebar-block filter-group-block open">
                        <div class="sidebar-block_title"><span>Gold Purity</span>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="sidebar-block_content">
                            <ul class="category-list">
                                <li class="active"><a href="#">18K (2150)</a></li>
                                <li><a href="#">24K (1100)</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="sidebar-block filter-group-block open">
                        <div class="sidebar-block_title"><span>Size 2 Column</span>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="sidebar-block_content">
                            <ul class="size-list two-column" data-sort='["XXS","XS","S","M","L","XL","XXL","XXXL"]'>
                                <li data-value="L" class="active"><a href="#">L</a></li>
                                <li data-value="M"><a href="#">M</a></li>
                                <li data-value="S"><a href="#">S</a></li>
                                <li data-value="XL"><a href="#">XL</a></li>
                                <li data-value="XS"><a href="#">XS</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="sidebar-block filter-group-block open">
                        <div class="sidebar-block_title"><span>Size 1 Column</span>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="sidebar-block_content">
                            <ul class="size-list" data-sort='["XXS","XS","S","M","L","XL","XXL","XXXL"]'>
                                <li data-value="L" class="active"><a href="#">L</a></li>
                                <li data-value="XL"><a href="#">XL</a></li>
                                <li data-value="XXS"><a href="#">XXS</a></li>
                                <li data-value="XS"><a href="#">XS</a></li>
                                <li data-value="S"><a href="#">S</a></li>
                                <li data-value="XXL"><a href="#">XXL</a></li>
                                <li data-value="XXXL"><a href="#">XXXL</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- /Left column -->
            
            <!-- Center column -->
            <div class="col-lg aside">
                <div class="prd-grid-wrap">
                    <!-- Filter Row -->
                    <div class="filter-row invisible">
                        <div class="row row-1 d-lg-none align-items-center">
                            <div class="col">
                                <h1 class="category-title">WOMEN’S</h1>
                            </div>
                            <div class="col-auto ml-auto">
                                <div class="view-in-row d-md-none"><span data-view="data-to-show-sm-1"><i class="icon icon-view-1"></i></span> <span data-view="data-to-show-sm-2"><i class="icon icon-view-2"></i></span></div>
                                <div class="view-in-row d-none d-md-inline"><span data-view="data-to-show-md-2"><i class="icon icon-view-2"></i></span> <span data-view="data-to-show-md-3"><i class="icon icon-view-3"></i></span></div>
                            </div>
                        </div>
                        <div class="row row-2">
                            <div class="col-left d-flex align-items-center">
                                <div class="sort-by-holder">
                                    <div class="select-label d-none d-lg-inline">Sort by:</div>
                                    <div class="select-wrapper-sm d-none d-lg-inline-block"><select class="form-control input-sm">
                                            <option value="featured">Featured</option>
                                            <option value="rating">Rating</option>
                                            <option value="price">Price</option>
                                        </select></div>
                                    <div class="select-directions d-none d-lg-inline"><span><i class="icon icon-arrow-down"></i></span> <span><i class="icon icon-arrow-up"></i></span></div>
                                    <div class="dropdown d-flex d-lg-none align-items-center justify-content-center"><span class="select-label">Sort By</span>
                                        <div class="select-wrapper-sm"><select class="form-control input-sm">
                                                <option value="featured">Featured</option>
                                                <option value="rating">Rating</option>
                                                <option value="price">Price</option>
                                            </select></div>
                                    </div>
                                </div>
                                <div class="filter-button d-lg-none"><a href="#" class="fixed-col-toggle">FILTER</a></div>
                            </div>
                            <div class="col col-center d-none d-lg-flex align-items-center justify-content-center">
                                <div class="view-label">View:</div>
                                <div class="view-in-row"><span data-view="data-to-show-3"><i class="icon icon-view-3"></i></span> <span data-view="data-to-show-4"><i class="icon icon-view-4"></i></span></div>
                            </div>
                            <div class="col-right ml-auto d-none d-lg-flex align-items-center">
                                <div class="items-count">35 item(s)</div>
                                <div class="show-count-holder">
                                    <div class="select-label">Show:</div>
                                    <div class="select-wrapper-sm"><select class="form-control input-sm">
                                            <option value="featured">12</option>
                                            <option value="rating">36</option>
                                            <option value="price">100</option>
                                        </select></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Filter Row -->
                    
                    <!-- Products Grid -->
                    <div class="prd-grid product-listing data-to-show-3 data-to-show-md-3 data-to-show-sm-2 js-category-grid">
                    
                        <div class="prd prd-has-loader prd-new prd-popular">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-01.jpg" alt="" class="js-prd-img lazyload"></a>
                                    <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                                    <h2 class="prd-title"><a href="product.html">Lorem Ipsum Sit</a></h2>
                                    <div class="prd-rating prd-hidemobile">
                                        <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                                    </div>
                                    <div class="prd-price">
                                        <div class="price-new">₹ 34,000</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Custom Fields:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-new">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-02.jpg" alt="Long top with print" class="js-prd-img lazyload"></a>
                                    <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                    <div class="prd-rating prd-hidemobile">
                                        <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                                    </div>
                                    <div class="prd-price">
                                        <div class="price-new">₹20,000</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Custom Field:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-sale prd-popular prd-has-countdown">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-03.jpg" alt="Tie with texture" class="js-prd-img lazyload"></a>
                                    <div class="label-sale">-51%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    <div class="countdown-box">
                                        <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                    </div>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                    <div class="prd-rating prd-hidemobile">
                                        <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                                    </div>
                                    <div class="prd-price">
                                        <div class="price-new">₹ 15,000</div>
                                        <div class="price-old">₹ 17,000</div>
                                        <div class="price-comment">You save ₹ 2000</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Custom Field:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-popular prd-outstock">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-04.jpg" alt="Fashionable jacket" class="js-prd-img lazyload"></a>
                                    <div class="label-outstock">OUT OF STOCK</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                    <div class="prd-rating prd-hidemobile">
                                        <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                                    </div>
                                    <div class="prd-price">
                                        <div class="price-new">₹28,000</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Custom Field:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-sale prd-new prd-has-countdown">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-05.jpg" alt="Checkered shirt" class="js-prd-img lazyload"></a>
                                    <div class="label-sale">-62%</div>
                                    <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    <div class="countdown-box">
                                        <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                    </div>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Lorem Category</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                    <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                    <div class="prd-price">
                                        <div class="price-new">₹75.00</div>
                                        <div class="price-old">₹200.00</div>
                                        <div class="price-comment">You save ₹125.00</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-popular">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-10.jpg" alt="Louboutin" class="js-prd-img lazyload"> </a><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                    <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                    <div class="prd-price">
                                        <div class="price-new">₹11.00</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-sale prd-has-countdown">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-07.jpg" alt="Long shirts" class="js-prd-img lazyload"></a>
                                    <div class="label-sale">-31%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    
                                    <div class="countdown-box">
                                        <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                    </div>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Cat</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product</a></h2>
                                    <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                    <div class="prd-price">
                                        <div class="price-new">₹110.00</div>
                                        <div class="price-old">₹160.00</div>
                                        <div class="price-comment">You save ₹50.00</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-sale prd-new prd-has-countdown">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-08.jpg" alt="Office bag" class="js-prd-img lazyload"></a>
                                    <div class="label-sale">-30%</div>
                                    <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    
                                    <div class="countdown-box">
                                        <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                    </div>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                    <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                    <div class="prd-price">
                                        <div class="price-new">₹21000</div>
                                        <div class="price-old">₹30000</div>
                                        <div class="price-comment">You save ₹9000</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-new prd-popular">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-01.jpg" alt="" class="js-prd-img lazyload"></a>
                                    <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                                    <h2 class="prd-title"><a href="product.html">Lorem Ipsum Sit</a></h2>
                                    <div class="prd-rating prd-hidemobile">
                                        <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                                    </div>
                                    <div class="prd-price">
                                        <div class="price-new">₹ 34,000</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Custom Fields:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-new">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-02.jpg" alt="Long top with print" class="js-prd-img lazyload"></a>
                                    <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                    <div class="prd-rating prd-hidemobile">
                                        <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                                    </div>
                                    <div class="prd-price">
                                        <div class="price-new">₹20,000</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Custom Field:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-sale prd-popular prd-has-countdown">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-03.jpg" alt="Tie with texture" class="js-prd-img lazyload"></a>
                                    <div class="label-sale">-51%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    <div class="countdown-box">
                                        <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                    </div>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                    <div class="prd-rating prd-hidemobile">
                                        <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                                    </div>
                                    <div class="prd-price">
                                        <div class="price-new">₹ 15,000</div>
                                        <div class="price-old">₹ 17,000</div>
                                        <div class="price-comment">You save ₹ 2000</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Custom Field:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="prd prd-has-loader prd-popular prd-outstock">
                            <div class="prd-inside">
                                <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-04.jpg" alt="Fashionable jacket" class="js-prd-img lazyload"></a>
                                    <div class="label-outstock">OUT OF STOCK</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                                    <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                                    <div class="prd-rating prd-hidemobile">
                                        <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                                    </div>
                                    <div class="prd-price">
                                        <div class="price-new">₹28,000</div>
                                    </div>
                                    <div class="prd-hover">
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                            <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                        </div>
                                        <div class="prd-options prd-hidemobile"><span class="label-options">Custom Field:</span>
                                            <ul class="list-options size-swatch">
                                                <li class="active"><span>1</span></li>
                                                <li><span>2</span></li>
                                                <li><span>3</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="loader-wrap">
                        <div class="dots">
                            <div class="dot one"></div>
                            <div class="dot two"></div>
                            <div class="dot three"></div>
                        </div>
                    </div>
                    <!-- /Products Grid -->
                    <div class="show-more d-flex mt-4 mt-md-6 justify-content-center align-items-start"><a href="#" class="btn btn--alt js-product-show-more" data-load="ajax-products-load.html">show more</a>
                    </div>
                </div>
            </div>
            <!-- /Center column -->
        </div>
        <!-- /Two columns -->
    </div>
