
 <!-- modal start -->

   <!-- modal end -->
  
   <app-filter-nav-bar></app-filter-nav-bar>
  <div class="holder py-3 py-md-6 fullboxed aside--bg-none holder-bg-09">
   <div class="container">
      
    <div class="text-center">
        <h2>{{subsubcategory.title}}</h2>
    </div>
       <div class="row" >
           
            <div class="col-lg aside">
                <div class="prd-grid-wrap">
                    <app-loader  *ngIf="loader"></app-loader>
                    <div *ngIf="page">
                        
                            <div  class="prd-grid product-listing data-to-show-4 data-to-show-md-3 data-to-show-sm-2 js-category-grid" *ngIf="div" >
                                
                                        <div class="prd" *ngFor="let s of products"  >
                                                <div class="prd-inside product-border" >
                                                    <div class="prd-img-area"><a (click)='go(s.product_id)' class="prd-img"><img onerror="this.src='../../../../assets/images/logo-bw.png'" [src]="url + s.image" alt="Tyssot 1853"></a>
                                                        <a href="javascript:void(0)" (click)="wishlist(s.product_id)" *ngIf="!checkHeart(s.product_id)" class="label-wishlist icon-heart js-label-wishlist"></a>
                                                        <a href="javascript:void(0)" (click)="deleteWishlist(s.product_id)"  *ngIf="checkHeart(s.product_id)" class="label-wishlist icon-heart-fill js-label-wishlist"></a>
                                                        <div class="gdw-loader"></div>
                                                    </div>
                                                    <div class="prd-info text-center">
                                                     
                                                        <div class="prd-tag prd-hidemobile" *ngIf="s.weight.Gold && s.product_category == 'GOLD'">

                                                            <table style="width:100%;">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:25%;">
                                                                        <ng-container *ngIf='s.weight.Diamond'>
                                                                                <a (click)='go(s.product_id)'>{{s.weight.Diamond   | number : '1.3-3'}} <span style="text-transform: initial;"> ct</span></a>
                                                                        </ng-container>
                                                                        </th>
                                                                        <th style="width:50%;"></th>
                                                                        <th style="width:25%;">
                                                                            <ng-container *ngIf='s.weight.Gold'>
                                                                                <a (click)='go(s.product_id)'>{{s.weight.Gold   | number : '1.3-3'}} <span style="text-transform: initial;"> g</span></a>
                                                                            </ng-container>
                                                                        </th>  
                                                                    </tr>
                                                                </thead>
                                                                <th></th>
                                                            </table>
                                                        </div>
                            
                                                        <div class="prd-tag prd-hidemobile" *ngIf="s.weight.Gold && s.product_category == 'DIAMOND'">
                                                            <table style="width:100%;">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:25%;">
                                                                        <ng-container *ngIf='s.weight.Diamond'>
                                                                                <a (click)='go(s.product_id)'>{{s.weight.Diamond   | number : '1.3-3'}} <span style="text-transform: initial;"> ct</span></a>
                                                                        </ng-container>
                                                                        </th>
                                                                        <th style="width:50%;"></th>
                                                                        <th style="width:25%;">
                                                                            <ng-container *ngIf='s.weight.Gold'>
                                                                                <a (click)='go(s.product_id)'>{{s.weight.Gold   | number : '1.3-3'}} <span style="text-transform: initial;"> g</span></a>
                                                                            </ng-container>
                                                                        </th>  
                                                                    </tr>
                                                                </thead>
                                                                <th></th>
                                                            </table>
                                                        </div>
                            
                                                        <div class="prd-tag prd-hidemobile" *ngIf="s.weight.Platinum && s.product_category == 'PLATINUM'">
                            
                                                            <table style="width:100%;">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:25%;">
                                                                        <ng-container *ngIf='s.weight.Diamond'>
                                                                                <a (click)='go(s.product_id)'>{{s.weight.Diamond   | number : '1.3-3'}} <span style="text-transform: initial;"> ct</span></a>
                                                                        </ng-container>
                                                                        </th>
                                                                        <th style="width:50%;"></th>
                                                                        <th style="width:25%;">
                                                                            <ng-container *ngIf='s.weight.Platinum'>
                                                                                <a (click)='go(s.product_id)'>{{s.weight.Platinum   | number : '1.3-3'}} <span style="text-transform: initial;"> g</span></a>
                                                                            </ng-container>
                                                                        </th>  
                                                                    </tr>
                                                                </thead>
                                                                <th></th>
                                                            </table>
                                                            
                                                           
                                                        </div>
                                                            <div class="prd-action">
                                                                <input type="hidden">
                                                                <button class="btn middle-button"    (click)='go(s.product_id)'><i class="icon icon-handbag"></i><span>View Details</span></button>
                                                             </div>
                                                     </div>
                                                    
                                                </div>
                                        </div>
                           </div>
                          
                                <div *ngIf="!products.length">
                                    <div class="row" style="margin:auto;">
                                    <img src="../../../../assets/images/savya-jewels/no-product-show-category.png"  class="embed-responsive" alt="">
                                    </div>
                                </div>
                            
                            <div *ngIf='pages'  class="col-4 mx-auto" style="padding-top:2vh;">
                            <ng-container *ngIf='!manufacture'>
                                <ngb-pagination [collectionSize]="pages*10" [(page)]="current_page" (pageChange)='pagechanged()' [maxSize]="5" [rotate]="true"></ngb-pagination>
                            </ng-container>
                            <ng-container *ngIf='manufacture'>
                                <ngb-pagination [collectionSize]="pages*10" [(page)]="current_page" (pageChange)='pagechanged()' [maxSize]="5" [rotate]="true"></ngb-pagination>
                            </ng-container>
                             </div>
                    </div>
                    
                </div>
            </div>
            <!-- /Center column -->
        </div>
        <simple-notifications [options]="{position: ['top', 'right']}"></simple-notifications>
        <!-- /Two columns -->
    </div>