<div class="holder most-selling-product">

    <div class="container-fluid" *ngIf='mostselling && mostselling.length'>
        <div class="title-with-center text-center">
            <h2 class="h1-style">{{heading}}</h2>
            
        </div>
        
      
            <ngx-slick-carousel class="carousel"  #slickModal="slick-carousel"  [config]="slideConfig" >

                <div ngxSlickItem  class="prd prd-new prd-popular" *ngFor="let s of mostselling">
                    <div class="prd-inside product-border" style="min-height:90%;">
                        <div class="prd-img-area"><a (click)='go(s.product_id)' class="prd-img"><img [src]="url3 + s.image" onerror="this.src='../../../../assets/images/logo-bw.png'" alt="Tyssot 1853"></a>
                            <a href="javascript:void(0)" (click)="wishlist(s.product_id)" *ngIf="!checkHeart(s.product_id)" class="label-wishlist icon-heart js-label-wishlist"></a>
                            <a href="javascript:void(0)" (click)="deleteWishlist(s.product_id)"  *ngIf="checkHeart(s.product_id)" class="label-wishlist icon-heart-fill js-label-wishlist"></a>
                            <div class="gdw-loader"></div>
                        </div>
                        <div class="prd-info text-center">
                                                

                            <div class="prd-tag prd-hidemobile">

                                <table style="width:100%;">
                                    <thead><th colspan="3">{{s.product_name}}</th></thead>
                                    <tbody>
                                        <tr>
                                            <th style="width:25%;">
                                            <ng-container *ngIf='s.weight.Diamond'>
                                                    <a (click)='go(s.product_id)'>{{s.weight.Diamond   | number : '1.3-3'}} <span style="text-transform: initial;"> Ct</span></a>
                                            </ng-container>
                                            </th>
                                            <th style="width:40%;"></th>
                                            <th style="width:35%;">
                                                
                                                    <a (click)='go(s.product_id)'>{{s.gross   | number : '1.3-3'}} g<span style="text-transform: initial;">
                                                    <ng-container *ngIf="s.product_category == 'PLATINUM JEWELLERY'">/{{s.quality.Platinum}}</ng-container>
                                                    <ng-container *ngIf="s.product_category == 'GOLD JEWELLERY' || s.product_category == 'DIAMOND JEWELLERY' || s.product_category == 'GOLD CHAINS'">/{{s.quality.Gold}}

                                                    </ng-container></span></a>
                                                
                                            </th>  
                                        </tr>
                                    </tbody>
                                    <th></th>
                                </table>
                                
                               
                            </div>
                                <div class="prd-action">
                                    <input type="hidden">
                                    <button class="btn middle-button"    (click)='go(s.product_id)'><i class="icon icon-handbag"></i><span>View Details</span></button>
                                 </div>
                         </div>
                    </div>
                </div>
               
            </ngx-slick-carousel>
        <div *ngIf='redirect' class="more-link-wrapper text-center"><a routerLink='/filter/{{redirect}}' href="javascript:void(0)" class="btn-decor">show all</a></div>
        
    </div>
</div>
