<div class="holder">
    <div class="container">
        <div class="title-with-right">
            <h2 class="h1-style">Recomended Products</h2>
            <div class="prd-carousel-tabs js-filters-prd d-none d-md-flex" data-grid="tabCarousel-01">
                <span class="active" data-filter="prd">All</span> <span data-filter="prd-popular">Popular</span> <span data-filter="prd-sale">Sale</span> <span data-filter="prd-new">New</span>
            </div>
            <div class="prd-carousel-tabs js-filters-prd-sm d-md-none">
                <span class="filters-label active" data-filter=".prd">All</span> <span class="filters-label" data-filter=".prd-popular">Popular</span> <span class="filters-label" data-filter=".prd-sale">Sale</span> <span class="filters-label" data-filter=".prd-new">New</span>
            </div>
        </div>
        
        <div class="prd-grid prd-carousel js-prd-carousel-tab slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-2 data-to-show-xs-2 js-product-isotope-sm" id="tabCarousel-01" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
        
            <div class="prd prd-has-loader prd-new prd-popular">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-01.jpg" alt="" class="js-prd-img lazyload"></a>
                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                        <h2 class="prd-title"><a href="product.html">Lorem Ipsum Sit</a></h2>
                        <div class="prd-rating prd-hidemobile">
                            <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                        </div>
                        <div class="prd-price">
                            <div class="price-new">₹ 34,000</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                
                                <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Custom Fields:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>1</span></li>
                                    <li><span>2</span></li>
                                    <li><span>3</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="prd prd-has-loader prd-new">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-02.jpg" alt="Long top with print" class="js-prd-img lazyload"></a>
                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                        <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                        <div class="prd-rating prd-hidemobile">
                            <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                        </div>
                        <div class="prd-price">
                            <div class="price-new">₹20,000</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Custom Field:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>1</span></li>
                                    <li><span>2</span></li>
                                    <li><span>3</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="prd prd-has-loader prd-sale prd-popular prd-has-countdown">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-03.jpg" alt="Tie with texture" class="js-prd-img lazyload"></a>
                        <div class="label-sale">-51%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="countdown-box">
                            <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                        </div>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                        <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                        <div class="prd-rating prd-hidemobile">
                            <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                        </div>
                        <div class="prd-price">
                            <div class="price-new">₹ 15,000</div>
                            <div class="price-old">₹ 17,000</div>
                            <div class="price-comment">You save ₹ 2000</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Custom Field:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>1</span></li>
                                    <li><span>2</span></li>
                                    <li><span>3</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="prd prd-has-loader prd-popular prd-outstock">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-04.jpg" alt="Fashionable jacket" class="js-prd-img lazyload"></a>
                        <div class="label-outstock">OUT OF STOCK</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                        <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                        <div class="prd-rating prd-hidemobile">
                            <i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i>
                        </div>
                        <div class="prd-price">
                            <div class="price-new">₹28,000</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Custom Field:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>1</span></li>
                                    <li><span>2</span></li>
                                    <li><span>3</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="prd prd-has-loader prd-sale prd-new prd-has-countdown">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-05.jpg" alt="Checkered shirt" class="js-prd-img lazyload"></a>
                        <div class="label-sale">-62%</div>
                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        <div class="countdown-box">
                            <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                        </div>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">Lorem Category</a></div>
                        <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">₹75.00</div>
                            <div class="price-old">₹200.00</div>
                            <div class="price-comment">You save ₹125.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>1</span></li>
                                    <li><span>2</span></li>
                                    <li><span>3</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="prd prd-has-loader prd-popular">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-10.jpg" alt="Louboutin" class="js-prd-img lazyload"> </a><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">Category Name</a></div>
                        <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">₹11.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>1</span></li>
                                    <li><span>2</span></li>
                                    <li><span>3</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="prd prd-has-loader prd-sale prd-has-countdown">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-07.jpg" alt="Long shirts" class="js-prd-img lazyload"></a>
                        <div class="label-sale">-31%</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        
                        <div class="countdown-box">
                            <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                        </div>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">Cat</a></div>
                        <h2 class="prd-title"><a href="product.html">Product</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">₹110.00</div>
                            <div class="price-old">₹160.00</div>
                            <div class="price-comment">You save ₹50.00</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>1</span></li>
                                    <li><span>2</span></li>
                                    <li><span>3</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="prd prd-has-loader prd-sale prd-new prd-has-countdown">
                <div class="prd-inside">
                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="../../../../assets/images/products/product-placeholder.png" data-srcset="../../../../assets/images/products/product-08.jpg" alt="Office bag" class="js-prd-img lazyload"></a>
                        <div class="label-sale">-30%</div>
                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                        
                        <div class="countdown-box">
                            <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                        </div>
                        <div class="gdw-loader"></div>
                    </div>
                    <div class="prd-info">
                        <div class="prd-tag prd-hidemobile"><a href="#">Category</a></div>
                        <h2 class="prd-title"><a href="product.html">Product Name</a></h2>
                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                        <div class="prd-price">
                            <div class="price-new">₹21000</div>
                            <div class="price-old">₹30000</div>
                            <div class="price-comment">You save ₹9000</div>
                        </div>
                        <div class="prd-hover">
                            <div class="prd-action">
                                <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                <div class="prd-links hide-mobile"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                            </div>
                            <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                <ul class="list-options size-swatch">
                                    <li class="active"><span>1</span></li>
                                    <li><span>2</span></li>
                                    <li><span>3</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="more-link-wrapper text-center"><a href="#" class="btn-decor">show all</a></div>
    </div>
</div>
