<div class="holder most-selling-product">
    <!-- modal start -->
    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLongTitle">You are not logged in.</h2>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
              <h5>Please Login first</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary" (click)="goLogin()">Go</button> -->
            </div>
          </div>
        </div>
      </div>
      <!-- modal end -->
    <div class="container">
        <div class="title-with-center text-center">
            <h2 class="h1-style">{{heading}}</h2>
            <!-- <div class="prd-carousel-tabs js-filters-prd d-none d-md-flex" data-grid="tabCarousel-01">
                <span class="active" data-filter="prd">All</span> <span data-filter="prd-popular">Popular</span> <span data-filter="prd-sale">Sale</span> <span data-filter="prd-new">New</span>
            </div>
            <div class="prd-carousel-tabs js-filters-prd-sm d-md-none">
                <span class="filters-label active" data-filter=".prd">All</span> <span class="filters-label" data-filter=".prd-popular">Popular</span> <span class="filters-label" data-filter=".prd-sale">Sale</span> <span class="filters-label" data-filter=".prd-new">New</span>
            </div> -->
        </div>
        
        <!-- <div class="prd-grid prd-carousel js-prd-carousel-tab slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-2 data-to-show-xs-2 js-product-isotope-sm" id="tabCarousel-01" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'> -->
            <ngx-slick-carousel class="carousel"  #slickModal="slick-carousel"  [config]="slideConfig" >

                <div ngxSlickItem  class="prd prd-new prd-popular" *ngFor="let s of mostselling">
                    <div class="prd-inside product-border" >
                        <div class="prd-img-area"><a (click)='go(s.product_id)' class="prd-img"><img [src]="url3 + s.image" onerror="this.src='../../../../assets/images/logo-bw.png'" alt="Tyssot 1853"></a>
                            <a href="javascript:void(0)" (click)="wishlist(s.product_id)" *ngIf="!checkHeart(s.product_id)" class="label-wishlist icon-heart js-label-wishlist"></a>
                            <a href="javascript:void(0)" (click)="deleteWishlist(s.product_id)"  *ngIf="checkHeart(s.product_id)" class="label-wishlist icon-heart-fill js-label-wishlist"></a>
                            <div class="gdw-loader"></div>
                        </div>
                        <div class="prd-info text-center">
                            <h2 class="prd-title"><a (click)='go(s.product_id)'>{{s.productname}}</a></h2>
                            <div class="prd-tag prd-hidemobile"><a (click)='go(s.product_id)'>{{s.gold.goldweight}}g / {{s.gold.goldquality}}</a></div>
                            <div class="prd-hover">
                                <div class="prd-action">
                                    <!-- <div   *ngIf= "checkCart(s.product_id)"  >
                                      <button class="btn middle-button" routerLink="/cart" class="btn"><i class="icon icon-handbag"></i><span>Go to Cart</span></button>
                                        <div class="col-2">
                                            <button  (click)="qtyUpdate(s.product_id,-1)" class="btn btn-secondary btn-block">-</button>
                                        </div>
        
                                        <div class="col-4 text-right">{{quantity(s.product_id)}}</div>
        
                                        <div class="col-2">
                                            <button  (click)="qtyUpdate(s.product_id,+1)" class="btn btn-secondary btn-block">+</button>
                                        </div>
                                    </div> -->

                                    <!-- data-src="#modalCheckOut" -->
                                    <input type="hidden"> <button class="btn middle-button"  *ngIf= "checkCart(s.product_id)"  routerLink="/cart"><i class="icon icon-handbag"></i><span>Go to Cart</span></button>  <button class="btn middle-button"  *ngIf= "!checkCart(s.product_id)"  (click)='go(s.product_id)'><i class="icon icon-handbag"></i><span>View Details</span></button> 
                                    <div class="prd-links hide-mobile d-none"><a  (click)="wishlist(s.product_id)" *ngIf="!checkHeart(s.product_id)"  class="label-wishlist icon-heart js-label-wishlist"></a><a  (click)="deleteWishlist(s.product_id)"  *ngIf="checkHeart(s.product_id)" class="label-wishlist icon-heart-fill js-label-wishlist"></a></div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </ngx-slick-carousel>
        <div *ngIf='redirect' class="more-link-wrapper text-center"><a routerLink='/filter/{{redirect}}' href="javascript:void(0)" class="btn-decor">show all</a></div>
        <div *ngIf='!redirect'  class="more-link-wrapper text-center"><a href="javascript:void(0)" class="btn-decor">show all</a></div>
    </div>
</div>
