<div class="page-content"  style="margin-bottom: 65px;">
    <div class="holder mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a routerLink="/home">Home</a></li>
                <li><span>My Account</span></li>
            </ul>
        </div>
    </div>

    <div class="holder mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-3 aside aside--left">
                    <div class="list-group"><a routerLink="/account-details" class="list-group-item ">Account Details</a> <a routerLink="/account-addresses" class="list-group-item">My Addresses</a> <a routerLink="/account-wishlist" class="list-group-item">My Wishlist</a><a routerLink="/offers" class="list-group-item">My Offers</a><a routerLink="/account-history" class="list-group-item active">My Order History</a><a routerLink="/event-history" class="list-group-item">My Event History</a><a routerLink="/kycpending" class="list-group-item">Upload KYC</a></div>
                </div>
                <div class="col-md-9 aside">
                    <h2>Order History</h2>
                    <div class="table-responsive" *ngIf="page">
                        <table class="table table-bordered table-striped table-order-history">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Order Number</th>
                                    <th scope="col">Order Date</th>
                                    <th scope="col">Payment Mode</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr *ngFor="let o of orders ;let i=index">
                                    <td>{{i+1}}</td>
                                    <td><b>{{o.Order_id}}</b> <a href="javascript:void(0)" (click)="orderDetail(o.Order_id)" class="ml-1">View Details</a></td>
                                    <td>{{o.created_at | date}}</td>
                                    <td>{{o.payment_mode}}</td>
                                    <td><span class="color">{{o.order_status}}</span></td>
                                    <td>{{o.totalamount  | INRCurrency}}</td>
                                    <td><a (click)="orderDetail(o.Order_id)" href="javascript:void(0)" class="btn">Track My Order</a></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="loader"><app-loader  ></app-loader></div>
                    <div *ngIf="alert">
                        
      
                            <div class="row" style="margin:auto;">
                            <img src="../../../../assets/images/savya-jewels/nothing-in-history.png"  class="embed-responsive" alt="">
                            </div>
                          
                     
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>