<div class="page-content" style="margin-bottom: 65px;">
    <div class="holder mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a routerLink="/home">Home</a></li>
                <li><span>My Account</span></li>
            </ul>
        </div>
    </div>
    
    <div class="holder mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-3 aside aside--left">
                    <div class="list-group"><a routerLink="/account-details" class="list-group-item ">Account Details</a> <a routerLink="/account-addresses" class="list-group-item">My Addresses</a> <a routerLink="/account-wishlist" class="list-group-item active">My Wishlist</a> <a routerLink="/account-history" class="list-group-item">My Order History</a><a routerLink="/event-history" class="list-group-item">My Event History</a></div>
                </div>
                <div class="col-md-9 aside">
                    <h2>My Wishlist</h2>
                    <div class="cart-table cart-table--wishlist">
                        <div class="cart-table-prd">
                            <div class="cart-table-prd-image"><a href="#"><img src="../../../../assets/images/products/product-05.jpg" alt=""></a></div>
                            <div class="cart-table-prd-name">
                                <h5><a href="#">Pendents</a></h5>
                                <h2><a href="#">Lorem ipsum product</a></h2>
                            </div>
                            <div class="cart-table-prd-price"><span>price:</span> <b>₹ 75.00</b></div>
                            <div class="cart-table-addtocart"><a href="#" class="btn">Add To Cart</a> <a href="#" class="icon-cross delete-from-wishlist" title="Remove from wishlist"></a></div>
                        </div>
                        <div class="cart-table-prd">
                            <div class="cart-table-prd-image"><a href="#"><img src="../../../../assets/images/products/product-02.jpg" alt=""></a></div>
                            <div class="cart-table-prd-name">
                                <h5><a href="#">Rings</a></h5>
                                <h2><a href="#">Lorem ipsum</a></h2>
                            </div>
                            <div class="cart-table-prd-price"><span>price:</span> <b>₹ 20.00</b></div>
                            <div class="cart-table-addtocart"><a href="#" class="btn">Add To Cart</a> <a href="#" class="icon-cross delete-from-wishlist" title="Remove from wishlist"></a></div>
                        </div>
                        <div class="cart-table-prd">
                            <div class="cart-table-prd-image"><a href="#"><img src="../../../../assets/images/products/product-10.jpg" alt=""></a></div>
                            <div class="cart-table-prd-name">
                                <h5><a href="#">Gold</a></h5>
                                <h2><a href="#">Gold Lorem Ipsum</a></h2>
                            </div>
                            <div class="cart-table-prd-price"><span>price:</span> <b>₹ 199.00</b></div>
                            <div class="cart-table-addtocart"><a href="#" class="btn">Add To Cart</a> <a href="#" class="icon-cross delete-from-wishlist" title="Remove from wishlist"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>