<app-slider [slider_imgs] = '{}' [url] = '"url"'></app-slider>
<app-liverates></app-liverates>
<div class="container">
    <div class="text-center" style='padding:3vh;'>
        <h2>Our Bullion Merchant</h2>
    </div>
    <div class="card-group">
        <div class="row">
            <div *ngFor="let slide of city" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card  border" [routerLink]="['/bullion/', slide.id]" [ngClass]="{shadow:callshadow==slide.id}" (mouseover)="callshadow=slide.id" (mouseout)="callshadow='a'" style="min-width: 100%;margin-top: 1vh;margin-bottom: 1vh;">
                <img class="card-img-top" style="min-width: 100%;max-height:25vh;" onerror="this.src='../../../../assets/images/logo-bw.png'" [src]="image + slide.image" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center"><strong>{{slide.city}}</strong></h5>
                 </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container border" style='padding:3vh;'>
    <div class="text-center" style='padding:3vh;'>
        <h2>Other States</h2>
    </div>
    <div class="list-group">
        <a href="javascript:void(0)"  *ngFor="let slide of state" [ngClass]="{active:selectedState == slide.name}" (click) = 'selectSta(slide.id,slide.name)' class="list-group-item list-group-item-action border">
          {{slide.name}}
        </a>
    </div>
</div>

<button type="button"[hidden]='true' id='openmodalbutton' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><strong>Our Bullion Merchant Cities in {{selectedState}}</strong></h5>
        </div>
        <div *ngIf="statecities" class="modal-body">
            <div class="list-group">
                <a href="javascript:void(0)" [routerLink]="['/bullion/', slide.id]" *ngFor="let slide of statecities" [ngClass]="{active:s == slide.id}" (mouseover)="s=slide.id" (mouseout)="s='a'" class="list-group-item list-group-item-action border">
                  {{slide.city}}
                </a>
            </div>
        </div>
        <div *ngIf="!statecities" class="modal-body">
            <app-loader></app-loader>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>