<div class="holder fullwidth full-nopad mt-0">
    <div class="container">
        <div class="bnslider-wrapper">
            <div class="bnslider bnslider--lg bnslider--darkarrows keep-scale" id="bnslider-001" data-slick='{"arrows": true, "dots": true}' data-autoplay="true" data-speed="5000" data-start-width="1920" data-start-height="815" data-start-mwidth="480" data-start-mheight="578">
                <div class="bnslider-slide bnslide-fashion-4">
                    <div class="bnslider-image-mobile" style="background-image: url('https://i.pinimg.com/originals/b1/b5/63/b1b5635bf02da35042eea2e150a9c97f.jpg');"></div>
                    <div class="bnslider-image" style="background-image: url('https://i.pinimg.com/originals/b1/b5/63/b1b5635bf02da35042eea2e150a9c97f.jpg');"></div>
                    <div class="bnslider-text-wrap bnslider-overlay">
                        <div class="bnslider-text-content txt-middle txt-left">
                            <div class="bnslider-text-content-flex">
                                <div class="bnslider-vert w-50 mx-0">
                                    <div class="bnslider-text bnslider-text--lg text-center" data-animation="popIn" data-animation-delay=".8s" style="color: #ffc501;">50% OFF</div>
                                    <div class="bnslider-text bnslider-text--xxs text-center" data-animation="fadeInUp" data-animation-delay="1s" style="color: #000; font-weight: 300;">TILL JUNE 13</div>
                                    <div class="bnslider-text bnslider-text--xs text-center" data-animation="zoomIn" data-animation-delay="1.6s" style="color: #ffc501;">FINAL CLEARANCE</div>
                                    <div class="btn-wrap double-mt text-center" data-animation="fadeInUp" data-animation-delay="2s"><a href="#" class="btn-decor" style="color: #000;">shop now<span class="btn-line" style="background-color: #ffc501;"></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bnslider-slide bnslide-fashion-3">
                    <div class="bnslider-image-mobile" style="background-image: url('../../../../assets/images/slider/800x400.png');"></div>
                    <div class="bnslider-image" style="background-image: url('../../../../assets/images/slider/800x400.png');"></div>
                    <div class="bnslider-text-wrap bnslider-overlay d-none">
                        <div class="bnslider-text-content txt-middle txt-center">
                            <div class="bnslider-text-content-flex container">
                                <div class="bnslider-vert border-half" data-animation="zoomIn" data-animation-delay="0s">
                                    <div class="bnslider-text bnslider-text--xxs text-center" data-animation="fadeInUp" data-animation-delay=".5s">LOOK HUN-REAL IN THE HEAT IN OUR</div>
                                    <div class="bnslider-text bnslider-text--sm text-center" data-animation="fadeInUp" data-animation-delay="1s" style="color: #000;">URBAN STYLES</div>
                                    <div class="bnslider-text bnslider-text--xxs text-center" data-animation="fadeInUp" data-animation-delay="1.5s">OUTFIT ALL IN ONE</div>
                                    <div class="btn-wrap double-mt text-center" data-animation="fadeInUp" data-animation-delay="2s"><a href="#" class="btn-decor" style="color: #000;">shop now<span class="btn-line" style="background-color: #fff;"></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bnslider-slide bnslide-fashion-1">
                    <div class="bnslider-image-mobile" style="background-image: url('../../../../assets/images/slider/DSC_6018.jpg');"></div>
                    <div class="bnslider-image" style="background-image: url('../../../../assets/images/slider/DSC_6018.jpg');"></div>
                    <div class="bnslider-text-wrap bnslider-overlay d-none">
                        <div class="bnslider-text-content txt-middle txt-left">
                            <div class="bnslider-text-content-flex container">
                                <div class="bnslider-vert border-half mx-0" data-animation="fadeIn" data-animation-delay="0.5s">
                                    <div class="bnslider-text bnslider-text--xxs text-center" data-animation="fadeInUp" data-animation-delay="0.8s" style="color: #000;">LOOK HUN-REAL IN THE HEAT IN OUR</div>
                                    <div class="bnslider-text bnslider-text--sm text-center" data-animation="fadeInUp" data-animation-delay="1s" style="color: #000;">URBAN STYLES</div>
                                    <div class="bnslider-text bnslider-text--xxs text-center" data-animation="fadeInUp" data-animation-delay="1.6s" style="color: #000;">OUTFIT ALL IN ONE</div>
                                    <div class="btn-wrap double-mt text-center" data-animation="fadeInUp" data-animation-delay="2s"><a href="#" class="btn-decor" style="color: #000;">shop now<span class="btn-line" style="background-color: #000;"></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bnslider-loader">
                <div class="loader-wrap">
                    <div class="dots">
                        <div class="dot one"></div>
                        <div class="dot two"></div>
                        <div class="dot three"></div>
                    </div>
                </div>
            </div>
            <div class="bnslider-arrows container-fluid">
                <div></div>
            </div>
            <div class="bnslider-dots vert-dots container-fluid"></div>
        </div>
    </div>
</div>
