<div class="page-content" style="margin-bottom: 65px;">
    <div class="holder mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a routerLink="/home">Home</a></li>
                <li><span>My Account</span></li>
            </ul>
        </div>
    </div>
    
    <div class="holder mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-3 aside aside--left">
                    <div class="list-group"><a routerLink="/account-details" class="list-group-item active">Account Details</a> <a routerLink="/account-addresses" class="list-group-item">My Addresses</a> <a routerLink="/account-wishlist" class="list-group-item">My Wishlist</a> <a routerLink="/account-history" class="list-group-item">My Order History</a><a routerLink="/event-history" class="list-group-item">My Event History</a><a routerLink="/kyc" class="list-group-item">KYC</a></div>
                </div>
                <div class="col-md-9 aside">
                    <h2>Account Details</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body" *ngIf="page">
                                    <h3>Personal Info</h3>
                                    <p><b>First Name:</b>{{data.name}}<br><b>E-mail:</b> {{data.email}}<br><b>Phone:</b> {{data.mobile_no}}<br><b *ngIf="data.register_type">Register Type:</b> {{data.register_type}}
                                        <br><b *ngIf="data.address">Address:</b>{{data.address}}<br><b *ngIf="data.city">City:</b>{{data.city}}<br><b *ngIf="data.pincode">Pin Code:</b>{{data.pincode}}<br><b *ngIf="data.state">State:</b>{{data.state}}<br><b *ngIf="data.designation">Designation:</b>{{data.designation}}
                                        <br><b *ngIf="data.company_name">Company Name:</b>{{data.company_name}}<br><b *ngIf="data.gst_no">Gst No:</b>{{data.gst_no}}<br><b *ngIf="data.pan_no">Pan No:</b>{{data.pan_no}}</p>
                                    
                                    <div class="mt-2 clearfix"><a routerLink="/changeProfile" class="link-icn js-show-form" data-form="#updateDetails"><i class="icon-pencil"></i>Edit</a></div>
                                </div>
                                <div  style="padding: 200px;" *ngIf="loader"><app-loader  ></app-loader></div>
                                <!-- <div class="text-center" *ngIf="loader">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-secondary" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-warning" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-info" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-light" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                      <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3 d-none" id="updateDetails">
                        <div class="card-body">
                            <h3>Update Account Details</h3>
                            <div class="row mt-2">
                                <div class="col-sm-6"><label class="text-uppercase">First Name:</label>
                                    <div class="form-group"><input type="text" class="form-control" placeholder="Jenny"></div>
                                </div>
                                <div class="col-sm-6"><label class="text-uppercase">Last Name:</label>
                                    <div class="form-group"><input type="text" class="form-control" placeholder="Raider"></div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6"><label class="text-uppercase">E-mail:</label>
                                    <div class="form-group"><input type="email" class="form-control" placeholder="jennyraider@hotmail.com"></div>
                                </div>
                                <div class="col-sm-6"><label class="text-uppercase">Phone:</label>
                                    <div class="form-group"><input type="text" class="form-control" placeholder="876-432-4323"></div>
                                </div>
                            </div>
                            <div class="mt-2"><button type="reset" class="btn btn--alt js-close-form" data-form="#updateDetails">Cancel</button> <button type="submit" class="btn ml-1">Update</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
