<ng-container *ngIf='slider_imgs && slider_imgs[0].category'>
    <ngb-carousel *ngIf="slider_imgs">
        <ng-template *ngFor="let slide of slider_imgs" ngbSlide>
          <div class="picsum-img-wrapper bordershadow">
            <img [routerLink]='["/machinery",slide.category | slugify]' [queryParams]="{'page' :1 ,'subcategory_id': slide.category_id}" onerror="this.src='../../../../assets/images/logo-bw.png'" [src]="url + slide.image" alt="Random first slide" >
          </div>
        </ng-template>
    </ngb-carousel>
</ng-container>

<div class="card-deck" style="margin-top: 3vh;padding: 2vh;">
    <div class="row">

        <div class="row">
            <div *ngFor="let slide of categories" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div (click)='go(slide,1)' class="card border bordershadow" style="min-width: 100%;margin-top: 1vh;margin-bottom: 1vh;">
                    <img class="card-img-top" style="min-width: 100%;max-height:25vh;" onerror="this.src='../../../../assets/images/logo-bw.png'" [src]="img_url + 'subcategory/' + slide.image" alt="Card image cap">
                    <div class="card-body text-center">
                    <h4 class="card-title" style="margin-bottom: 0px;">{{slide.subcategory}}</h4>
                    </div>
                </div>
            </div>
         </div>


         <!-- <ngx-slick-carousel class="carousel"  #slickModal="slick-carousel"  [config]="slideConfig" >
             <div class="row">
                <div ngxSlickItem  class="prd prd-new prd-popular" *ngFor="let slide of manufacturer">
                    <div class="prd-inside product-border" >
                        <div class="prd-img-area"><a [routerLink]="['/manufacture/', slide.manufacture_id]" class="prd-img"><img src="{{ manufacture + slide.logo }}" onerror="this.src='../../../../assets/images/logo-bw.png'" alt="Tyssot 1853"></a>
                        </div>
                        <div class="prd-info text-center">
                            <h2 class="prd-title"><a [routerLink]="['/manufacture/', slide.manufacture_id]">{{slide.name}}</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel> -->


         <div class="testimonials seller bordershadow2" style="background-color:#f9f9fa;">
            <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig" >
                  <div ngxSlickItem *ngFor="let slide of manufacturer;let i = index" style="background-color: white;" class="slide embed-responsive he embed-responsive-16by9 border bordershadow">
                  <img (click)="go(slide,0)" src="{{ manufacture + slide.logo }}"  onerror="this.src='../../../../assets/images/logo-bw.png'" class="embed-responsive-item child"  alt="" width="100%"><br>
                  <div (click)="go(slide,0)" *ngIf="slide.name" class="mt-1 for-desktop hide-mobile">
                    <h4>{{ slide.name }}</h4>
                  </div>
                  <div (click)="go(slide,0)" *ngIf="slide.name" class="mt-1 show-mobile">
                    <h6>{{ slide.name }}</h6>
                  </div>
                  </div>
              </ngx-slick-carousel>
           </div>


         


    <!-- <div *ngFor="let slide of data" class="card col-3 border" [ngClass]="{shadow:callshadow==slide.id}" (mouseover)="callshadow=slide.id" (mouseout)="callshadow='a'" style="width: 15rem;">
        <img class="card-img-top" [src]="img_url + 'subcategory/' + slide.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{slide.subcategory}}</h5>
         </div>
      </div> -->
    </div>
</div>
<div class="testimonials bordershadow2" style="background-color:#f9f9fa;">
    <ngx-slick-carousel class="carousel" 
              #slickModal="slick-carousel" 
              [config]="slideConfig3" >
    <div ngxSlickItem *ngFor="let slide of models;let i = index"class="slide embed-responsive border bordershadow2 embed-responsive-4by3">
    <img src="{{ imagemodel + slide.file_name }}" onerror="this.src='../../../../assets/images/logo-bw.png'" class="embed-responsive-item"  alt="" width="100%">
    <div class="overlay-effect">
        <div class="overlay-effect-content">
          
        </div>
    </div>
    </div>
    </ngx-slick-carousel>
</div>


<!-- <div class="testimonials seller">
    <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" >
          <div ngxSlickItem *ngFor="let slide of categories;let i = index" class="slide">
          <img [src]="bypass(slide.image)" alt="" width="50%">
          <div class="overlay-effect">
              <div *ngIf="slide.name" class="overlay-effect-content">
                <h2>{{ slide.name }}</h2>
              </div>
          </div>
          </div>
          </ngx-slick-carousel>
</div> -->

<!-- <div class="row">
    <div class="col-6" *ngFor="let slide of videos">
        <video width="100%" poster="{{slide.imagePreview}}" style="padding:3vh;" controls>
            <source [src]="bypass(slide.image)" type="video/mp4">
        </video>
    </div>
</div> -->
<ng-container *ngIf="exclusive && exclusive.length">
<app-exclusive-banner [url2] = '""' [exclusive] = 'exclusive'></app-exclusive-banner>
</ng-container>
<app-machinery-holder [heading]="'Most Selling'" [mostselling] = 'mostselling' ></app-machinery-holder>
  