<div class="welcome-section-wrapper">
    <div class="container">
        <div class="welcome-content-wrapper">
            <div class="row no-gutters">
                <div class="col-lg-8">
                    <div class="sign-up-area">
                        <div class="social-sign-up text-center">
                            <ul>
                                <!-- <li><a href=""><img  border="0" alt=""></a></li>
                                <li><a href=""><img  border="0" alt=""></a></li> -->
                            </ul>
                        </div>
                        <form #f="ngForm" (ngSubmit)="SignUp(f.value)">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group p-relative mb-2">
                                        <div class="each-feild-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                        <input type="text" [readonly]='!mobile'  #name="ngModel"  ngModel  name="name" class="form-control name-feild" placeholder="Your Name" required/>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-12" >
                                    <div class="form-group p-relative mb-2">
                                        <div class="each-feild-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                        <input type="text" [readonly]='!mobile' #email="ngModel"  ngModel  name="email" class="form-control name-feild" placeholder="Your Email" required/>
                                        
                                    </div>
                                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid" >
                                        <div *ngIf="email.errors.required">Email is required.</div>
                                        <div *ngIf="email.errors.email">Please enter a valid Email</div>
                                    </div>
                                </div>
                                <div class="col-lg-12" >
                                    <div class="form-group p-relative mb-2">
                                        <div class="each-feild-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                        <input type="text" [readonly]='!mobile' #mobile_no="ngModel"  ngModel  name="mobile_no" class="form-control name-feild" (ngModelChange)="changeNumber($event)" placeholder="Mobile Number" required/>
                                        
                                    </div>
                                    <div class="alert alert-danger" *ngIf="mobile_no.touched && mobile_no.invalid">
                                        <div *ngIf="mobile_no.errors.required">Mobile No. is required.</div>
                                    </div>
                                   <div *ngIf="mob" class="alert alert-danger">Mobile no. should be atleast 10 digits</div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group p-relative mb-2">
                                        <div class="each-feild-icon"><i class="icon-location1" aria-hidden="true"></i></div>
                                        <textarea type="text" [readonly]='!mobile' #address="ngModel"  ngModel class="form-control name-feild" placeholder="Address"></textarea>
                                        
                                    </div>
                                    <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
                                        <div *ngIf="address.errors.required">address is required.</div>
                                    </div>
                                </div>
                                <div class="col-lg-12" *ngIf="mobile">
                                    <div class="form-group p-relative mb-2">
                                        <input type="text" [readonly]='!mobile' #referal="ngModel"  ngModel  name="referal" class="form-control name-feild" placeholder="Referral Code"/>
                                    </div>
                                </div>
                                <div class="col-lg-12" *ngIf="!mobile">
                                    <div class="form-group p-relative mb-2">
                                        <div class="each-feild-icon"><i class="fa fa-lock" aria-hidden="true"></i></div>
                                        <input type="password"  #password="ngModel"  name="password" ngModel class="form-control name-feild" placeholder="Enter Otp"/>
                                        
                                    </div>
                                    <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                                        otp is required.
                                     </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-button">
                                        <button [disabled]='!f.value.mobile_no || !f.value.email || !f.value.name' *ngIf="sign" type="submit"> Sign Up</button>
                                        <button  *ngIf="loading" type="submit">Loading...</button>
                                        <button  [disabled]='!f.value.password' type="submit" *ngIf="otpcheck">Verify Otp</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="log-in-area h-100 d-table w-100">
                        <div class="log-in-content d-table-cell">
                            <div class="log-in-content-heading mb-4 text-center">
                                <h2>Login</h2>
                            </div>
                            <div *ngIf="alert2">
                                <p>
                                    <ngb-alert [dismissible]="false" type="danger" >
                                      <strong>{{message2}}</strong> .
                                    </ngb-alert>
                                  </p>
                            </div>
                            <form  #o="ngForm" (ngSubmit)="otpGenerate(o.value)">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group p-relative mb-4">
                                            <div class="each-feild-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                            <input type="text" [readonly]='!mobile2' #mobile_no2="ngModel"  name="mobile_no2" ngModel class="form-control name-feild" placeholder="Phone No" required/>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="mobile_no2.touched && mobile_no2.invalid">
                                            Mobile number is required.
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-4" *ngIf="!mobile2">
                                        <div class="form-group p-relative">
                                            <div class="each-feild-icon"><i class="fa fa-lock" aria-hidden="true"></i></div>
                                            <input type="password"  #password2="ngModel"  name="password2" ngModel class="form-control name-feild" placeholder="OTP" required/>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="password2.touched && password2.invalid">
                                            otp is required.
                                         </div>
                                    </div>
                                    
                                    <div class="col-lg-12">
                                        <div class="form-button mb-4">
                                            <button type="submit" [disabled]="!o.value.mobile_no2"  *ngIf="sign2" class="btn">Login in</button>
                                            <button type="submit" *ngIf="loading2"  class="btn">Loading...</button>
                                            <button type="submit" [disabled]="!o.value.password2" *ngIf="otpcheck2" class="btn">Verify Otp</button>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>