<div *ngIf="page">
      <div class="card-deck" style="padding: 3vh;" *ngIf="products">
        <div class="row">
          <div  class="card border col-sm-3" style="width: 15rem;" *ngFor="let r of products">
            <img src="{{ baseurl + r.image }}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h3 class="card-title">{{r.productName}}</h3>
              <h4 class="card-title">qty:{{r.count}}</h4>
              <h4 class="card-title">Total Price:<strong>{{r.productTotal}}</strong></h4>
              <p class="card-text" *ngFor="let a of r.assests">METAL: {{a.metal}} <br><span >Purity:</span> {{a.materialType}}</p>
            </div>
          </div>
        </div>
      </div>
        <ngb-alert [dismissible]="false" *ngIf="alert">
          <strong>No products to show</strong> 
        </ngb-alert> 
</div>
<div class="text-center" *ngIf="loader">
  <app-loader></app-loader>
</div>