<div class=" page-content"  *ngIf="page">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a  routerLink="/">Home</a></li>
                    <li *ngIf='subcategory'><a  routerLink="/subsub/{{data['subcategory_id']}}">{{subcategory}}</a></li>
                    <li *ngIf='subsubcategory'><a routerLink="/filter/{{data['subsubcategory_id']}}">{{subsubcategory}}</a></li>
                </ul>
            </div>
        </div>
              <!-- modal start -->
 <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#exampleModal">Open Modal</button>

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <button type="hidden" id='mClose' class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body text-center">
            <app-loader></app-loader>
           <h3><strong>Please Wait...</strong></h3> 
        </div> 
      </div>
    </div>
</div>


<button id="openModalButton2" [hidden]="true" data-toggle="modal" data-target="#exampleModal2">Open Modal</button>

 <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button id='mClose' class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body text-center">
           <h3><strong>{{message}}</strong></h3> 
           <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="close">Close</button>
          </div>
        </div> 
      </div>
    </div>
</div>
   <!-- modal end -->
   <ng-container *ngIf='data && pricelist && viewdone == 1'>
        <div class="holder mt-0">
            <div class="container">
                <div class="row prd-block prd-block--mobile-image-first js-prd-gallery" id="prdGallery100">
                    <div class="col-md-6 col-xl-5">
                        <div class="prd-block_main-image main-image--slide js-main-image--slide">
                            <div class="prd-block_main-image-holder js-main-image-zoom" data-zoomtype="inner">
                                <ngx-slick-carousel class="carousel" 
                                            #slickModal="slick-carousel" 
                                            [config]="slideConfig" >
                                            <div ngxSlickItem class="slide">
                                                <lib-ngx-image-zoom
                                                            [thumbImage]="url+'product'+'/'+data.image"
                                                            [magnification]=2
                                                ></lib-ngx-image-zoom>
                                            </div>
                                <div ngxSlickItem *ngFor="let slide of prd_img;let i = index"  class="slide">
                                    <ng-container *ngIf='slide.type == 1'>
                                        <lib-ngx-image-zoom
                                                [thumbImage]="url+'product'+'/'+slide.image"
                                                [magnification]=2
                                            ></lib-ngx-image-zoom>
                                        </ng-container>
                                        <ng-container *ngIf='slide.type == 2'>
                                            <video width="100%" controls>
                                                <source [src]="url+'product'+'/'+slide.image" type="video/mp4">
                                            </video>
                                        </ng-container>
                                </div>
                                </ngx-slick-carousel>
                                <span>
                                    <img (click)="slickModal.slickGoTo(0)" src="{{ url+'product'+'/' + data.image }}" class="thumbnail" style="max-height: 100px;" alt="" height="100px" width="100px">
                                </span>
                                <span *ngFor="let slide of prd_img;let i = index">
                                   
                                    <img (click)="slickModal.slickGoTo(i+1)" src="{{ url+'product'+'/' + slide.image }}" class="thumbnail" style="max-height: 100px;" alt="" height="100px" width="100px">
                                </span>
                                

                            </div>
                        </div>
                       
                        <!-- /Product Gallery -->
                        <div class="prd-safecheckout topline slider-bottom-support-image">
                        <div *ngIf='certificate && certificate.length>0' > 
                            <h3 class="h2-style">certified by:</h3>
                            <img [src]="url+ 'certificate/' + certificate[0].image" onerror="this.src='../../../../assets/images/logo-bw.png'"> </div>
                        
                            <h3 class="h2-style">Manufactured by:</h3>
                            <img [src]="url+ 'users/' + manufacture.logo" onerror="this.src='../../../../assets/images/logo-bw.png'"><h3 class="h2-style">{{data.company_name}}</h3>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="prd-block_info">
                            <div class="js-prd-d-holder prd-holder product-name-details">
                                <div class="prd-block_title-wrap">
                                    <h1 class="prd-block_title product-details-item-heading">{{data.productname}}</h1>
                                </div>
                                <div class="prd-block_info-top">
                                    <div *ngIf='value>0' class="product-sku product-price">Rs: {{totalprice * value}}<span *ngIf='gold && goldlist.length' class="product-size">( {{gold.jwellery_size}} )</span></div>
                                    <div class="product-weight">Gross Weight: &nbsp;&nbsp; {{gross}}</div>
                                </div>
                            </div>   
                            <ng-container   *ngIf='data.jwellery_type == "Ring" || data.jwellery_type == "Chain"'>
                                <div *ngIf="data.default_size != 'None'" class="product-size-box">
                                    <label for="id_select" class="option-label"> Select {{data.jwellery_type}} Size </label>
                                    <select *ngIf="data.size_type != '' && data.size_type != 'None' " id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                        <option *ngFor="let option of sizes" [value]="option" [selected]="option === defaultsize">
                                        {{option}}
                                        </option>
                                    </select>
                                    <select *ngIf="data.size_type == ''" id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                        <option [value]="defaultsize" [selected]>
                                        {{defaultsize}}
                                        </option>
                                    </select>
                                </div>
                            </ng-container>
                            <ng-container   *ngIf='data.jwellery_type == "Bangles"'>
                                <div *ngIf="data.default_size != 'None'" class="product-size-box">
                                    <label for="id_select" class="option-label"> Select {{data.jwellery_type}} Size </label>
                                    <select *ngIf="data.size_type != '' && data.size_type != 'None' " id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                        <option *ngFor="let option of sizelist" [value]="option.sizes" [selected]="option.sizes === defaultsize">
                                        {{option.bangle_size}}
                                        </option>
                                    </select>
                                    <select *ngIf="data.size_type == ''" id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                        <option [value]="defaultsize" [selected]>
                                        {{defaultsize}}
                                        </option>
                                    </select>
                                </div>
                            </ng-container>
                            <div  *ngIf="metalcolour && metalcolour.length" class="color-chose-box d-table">
                                <div class="color-text d-table-cell option-label"><p>Choose Color:</p></div>
                                <div class="sample-box"> 
                                    <ul>
                                        <li *ngFor="let option of metalcolour"><a href="javascript:void(0)" (click)="colormetal(option)" [ngClass]="{focus: colvalue==option,'btn-danger': 'Rose'==option, 'btn-warning': 'Yellow'==option, 'btn-outline-secondary': 'White'==option}" >{{option}}</a></li>                                       
                                    </ul>
                                </div>
                            </div>
                            <div  class="prd-block_options topline ">
                                <div *ngIf='gold && goldlist.length' class="prd-size swatches">
                                    <span class="option-label">Gold:</span>
                                    <div class="radio-group">
                                        <ng-container *ngFor='let s of goldlist;let i = index'>
                                            <input [checked]='(i==0) ? true:false' class='radio-control' (change)='getgold(s)' type="radio" id="{{s.jwellery_size}}" name="gold">
                                            <label for="{{s.jwellery_size}}">{{s.jwellery_size}}</label></ng-container>
                                    </div>
                                </div>
                                        
                                    <div class="product-code" class="option-label">Product Code: {{data.productcode}}</div>
                                    <div *ngIf='gold && pricegold'>
                                        <div *ngIf=(gold.weight) class="option-label">Gold (weight):  {{gold.weight}} gram</div>

                                        <div *ngIf="gold.charges_option != 'Percentage' && pricegold" class="option-label">Gold Rate: Rs. {{pricegold.price}} Per gram</div>
                                        <div *ngIf="gold.charges_option == 'Percentage' && pricegold2" class="option-label">Gold Rate: Rs. {{pricegold2.price}} Per gram</div>
                                        <div *ngIf="gold.wastage && pricegold" class="option-label">Gold wastage:  {{gold.wastage}} %</div>
                                        <div *ngIf="gold.charges_option == 'Percentage' && pricegold" class="option-label">Gold wastage:  {{gold.making_charge}} %</div>
                                        <div *ngIf="gold.charges_option != 'Percentage' && pricegold" class="option-label">Making Charges: Rs.  {{gold.making_charge}}</div>
                                        <div *ngIf="gold.charges_option == 'Percentage' && pricegold" class="option-label">Fine Gold Weight:  {{finegold}} gram</div>
                                        <div *ngIf="gold.charges_option!= 'Percentage' && pricegold" class="option-label">Gold Charges Type:  {{gold.charges_option}}</div>
                                        <div class="option-label">Total Gold Price: Rs. {{totalgold}}</div>

                                    </div>

                                    <div *ngIf=(silver)>
                                        <div class="option-label">Silver(weight): {{silver.weight}} gram</div>
                                        <div class="option-label">Silver Rate: {{pricelist.silver[0].price}} gram</div>
                                        <div *ngIf=(silver.wastage) class="option-label">Silver wastage:  {{silver.wastage}} %</div>
                                        <div class="option-label">Making Charges: {{silver.making_charge}}</div>
                                        <div class="option-label">Charges Type: {{silver.charges_option}}</div>
                                        <div class="option-label">Total Silver Price: Rs. {{totalsilver}}</div>
                                    </div>

                                    <div *ngIf=(diamond) class="choose-diamond">
                                        <label for="id_select" class="option-label"> Diamond: </label>
                                        <div class="diamond-selectbox">
                                            <select class="product-size-select" (change)="diamondchange($event.target.value)">
                                                <option *ngFor='let s of diamondlist;let i = index' [value]="s.jwellery_size" [selected]="(i==0) ? true:false">{{s.jwellery_size}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div *ngIf=(diamond)  class="prd-size">
                                        <span class="option-label">Diamond Color:</span>
                                            <div class="radio-group">
                                                <ng-container *ngFor='let s of diamondcolour;let i = index'>
                                                    <input [disabled]='discol[i]==1' [checked]='(s==defaultdiamond[0]) ? true:false' class='radio-control' (change)='colorClarity(s,0)' type="radio" id="{{s}}" name="diamondcolour">
                                                    <label for="{{s}}">{{s}}</label>
                                                </ng-container>
                                            </div>
                                    </div>
                                    <div *ngIf=(diamond)  class="prd-size">
                                        <span for="id_select" class="option-label"> Diamond Clarity:</span>
                                            <div class="radio-group">
                                                <ng-container *ngFor='let s of diamondclarity;let i = index'>
                                                    <input [disabled]='discla[i]==1' [checked]='(s==defaultdiamond[1]) ? true:false' class='radio-control' (change)='colorClarity(0,s)' type="radio" id="{{s}}" name="diamondclarity">
                                                    <label for="{{s}}">{{s}}</label>
                                                </ng-container>
                                            </div>
                                    </div>

                                    <div *ngIf='diamond && pricediamond'>
                                        <div class="option-label">Name: {{diamond.jwellery_size}}</div>
                                        <div *ngIf=(diamond.weight) class="option-label">Weight:  {{diamond.weight}} ct</div>
                                        <div *ngIf=(pricediamond) class="option-label">Diamond Price:Rs. {{pricediamond.price}}/ct</div>
                                        <div *ngIf=(diamond.quantity) class="option-label">No of Diamond:  {{diamond.quantity}} pc</div>
                                        <div *ngIf=(diamond.making_charge) class="option-label">Making Charges: Rs. {{diamond.making_charge}}</div>
                                        <div *ngIf=(diamond.charges_option) class="option-label">Charges Type:  {{diamond.charges_option}}</div> 
                                        <div class="option-label">Diamond Total:Rs. {{totaldiamond}} </div>
                                        <div class="option-label">Diamond Color/Clarity: {{this.defaultdiamond[0] + '/' + this.defaultdiamond[1]}}</div>
                                    </div>

                                    <div *ngIf=(platinum) >
                                        <div *ngIf=(platinum.weight) class="option-label">Platinum (weight):  {{platinum.weight}} gram</div>
                                        <div *ngIf=(platinum.weight) class="option-label">Platinum Rate:  {{this.pricelist.platinum[0].price}} Per gram</div>
                                        <div *ngIf=(platinum.wastage) class="option-label">Planitum wastage:  {{platinum.wastage}} %</div>
                                        <div *ngIf=(!platinum.wastage) class="option-label">Planitum wastage:  0 %</div>
                                        <div *ngIf="platinum.charges_option != 'Percentage'" class="option-label">Making Charges: Rs. {{platinum.making_charge}}</div>
                                        <div *ngIf="platinum.charges_option != 'Percentage'" class="option-label">Charges Type:  {{platinum.charges_option}}</div>
                                        <div class="option-label">Total Platinum Price: Rs. {{totalplat}}</div> 
                                    </div>
                                
                                <div *ngIf='stone && stonelist.length' class="prd-size swatches">
                                    <span class="option-label">Stone:</span>
                                    <div class="radio-group">
                                        <ng-container *ngFor='let s of stonelist;let i = index'><input [checked]='(i==0) ? true:false' class='radio-control' (change)='getstone(s)' type="radio" id="{{s.jwellery_size}}" name="stone"><label for="{{s.jwellery_size}}">{{s.jwellery_size}}</label></ng-container>
                                        </div>
                                </div>

                                <div *ngIf=(stone)>
                                    <div class="option-label">Stone (weight):  {{stone.weight}} ct</div>
                                    <div *ngIf=(pricestone) class="option-label">Fine Stone Rate:Rs. {{pricestone.price}}/ct</div>
                                    <div class="option-label">No Stone:  {{stone.quantity}} pc</div>
                                    <div class="option-label">Making Charges: Rs. {{stone.making_charge}}</div>
                                    <div class="option-label">Charges Type:  {{stone.charges_option}}</div> 
                                    <div class="option-label" *ngIf=(pricestone)>Stone Total:Rs. {{totalstone}} </div>
                                </div>

                            </div>
                            <div class="prd-block_actions topline">
                                <div class="prd-hover">
                                    <div class="prd-action button-margin-none">

                                        <!-- <div   *ngIf= "checkCart(data.id)" class="row no=gutters" >
                                            <button routerLink="/cart" class="btn"><i class="icon icon-handbag"></i><span>Go to Cart</span></button>
                                            <div class="col-2">
                                                <button  (click)="qtyUpdate(data.id,-1)" class="btn btn-secondary btn-block">-</button>
                                            </div>
            
                                            <div class="col-4 text-right">{{quantity(data.id)}}</div>
            
                                            <div class="col-2">
                                                <button  (click)="qtyUpdate(data.id,+1)" class="btn btn-secondary btn-block">+</button>
                                            </div>
                                        </div> -->
                                        <input type="hidden"> <button class="btn" [disabled]="btn==0" (click)="createjson()"><i class="icon icon-handbag"></i><span>Add To Cart</span></button> 
                                          <!-- <button  *ngIf="loading==true"  class="btn">Loading...</button> -->
                                        <div style="padding-left:15px;" class="prd-links hide-mobile"><a (click)="wishlist(data.id)" *ngIf="!checkHeart(data.id)"  class="label-wishlist icon-heart js-label-wishlist"></a><a (click)="deleteWishlist(data.id)"  *ngIf="checkHeart(data.id)" class="label-wishlist icon-heart-fill js-label-wishlist"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 mt-3 mt-xl-0 sidebar-product">
                        <div class="shop-features-style4"><a href="#" class="shop-feature">
                                <div class="shop-feature-icon"><i class="icon-box3"></i></div>
                                <div class="shop-feature-text">
                                    <div class="text1">Worlwide delivery</div>
                                </div>
                            </a><a href="#" class="shop-feature">
                                <div class="shop-feature-icon"><i class="icon-arrow-left-circle"></i></div>
                                <div class="shop-feature-text">
                                    <div class="text1">100% money back guarantee</div>
                                </div>
                            </a><a href="#" class="shop-feature">
                                <div class="shop-feature-icon"><i class="icon-call"></i></div>
                                <div class="shop-feature-text">
                                    <div class="text1">24/7 customer support</div>
                                </div>
                            </a></div>
                    </div>
                    <div class="prd-block-prevnext"><a href="#" class="prd-block-prevnext-arrow js-prd-block-next"><i class="icon-angle-right"></i></a>
                        <div class="prd-next">
                            <div class="prd-next-img"><img src="images/products/xsmall/product-02.jpg" alt=""></div>
                            <div class="prd-next-info">
                                <div class="prd-next-tag"><a href="#">canverse</a></div>
                                <h2 class="prd-next-title"><a href="#">Long top with print</a></h2>
                                <div class="prd-prevnext-price">
                                    <div class="price-new">₹ 20.00</div>
                                </div>
                            </div>
                        </div><a href="#" class="prd-block-prevnext-arrow js-prd-block-prev"><i class="icon-angle-left"></i></a>
                        <div class="prd-prev">
                            <div class="prd-next-img"><img src="images/products/xsmall/product-03.jpg" alt=""></div>
                            <div class="prd-next-info">
                                <div class="prd-next-tag"><a href="#">colvin klein</a></div>
                                <h2 class="prd-next-title"><a href="#">Tie with texture</a></h2>
                                <div class="prd-prevnext-price">
                                    <div class="price-new">₹ 34.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="holder mt-2 mt-sm-5">
                <div class="container">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs product-tab">
                        <li class="nav-item"><a href="#Tab1" class="nav-link active show" data-toggle="tab">Description</a></li>
                        <li class="nav-item"><a href="#Tab4" class="nav-link" data-toggle="tab">Sizing Guide</a></li>
                    </ul><!-- Tab panes -->
                    <div class="tab-content">
                    
                        <div role="tabpanel" class="tab-pane fade active show" [innerHTML]="data.description" id="Tab1">
                            
                        </div>
                    
                        <div role="tabpanel" class="tab-pane fade" id="Tab4">
                            <h3>Single Size Conversion</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table--size">
                                    <tr>
                                        <th scope="row">US Sizes</th>
                                        <td>6</td>
                                        <td>6,5</td>
                                        <td>7</td>
                                        <td>7,5</td>
                                        <td>8</td>
                                        <td>8,5</td>
                                        <td>9</td>
                                        <td>9,5</td>
                                        <td>10</td>
                                        <td>10,5</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Euro Sizes</th>
                                        <td>39</td>
                                        <td>39</td>
                                        <td>40</td>
                                        <td>40-41</td>
                                        <td>41</td>
                                        <td>41-42</td>
                                        <td>42</td>
                                        <td>42-43</td>
                                        <td>43</td>
                                        <td>43-44</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">UK Sizes</th>
                                        <td>5,5</td>
                                        <td>6</td>
                                        <td>6,5</td>
                                        <td>7</td>
                                        <td>7,5</td>
                                        <td>8</td>
                                        <td>8,5</td>
                                        <td>9</td>
                                        <td>9,5</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Inches</th>
                                        <td>9.25&quot;</td>
                                        <td>9.5&quot;</td>
                                        <td>9.625&quot;</td>
                                        <td>9.75&quot;</td>
                                        <td>9.9375&quot;</td>
                                        <td>10.125&quot;</td>
                                        <td>10.25&quot;</td>
                                        <td>10.5&quot;</td>
                                        <td>10.625&quot;</td>
                                        <td>10.75&quot;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CM</th>
                                        <td>23,5</td>
                                        <td>24,1</td>
                                        <td>24,4</td>
                                        <td>24,8</td>
                                        <td>25,4</td>
                                        <td>25,7</td>
                                        <td>26</td>
                                        <td>26,7</td>
                                        <td>27</td>
                                        <td>27,3</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
            <!-- Recent Products -->
        <app-product-holder [redirect] = "data['subsubcategory_id']" [heading] = '"Related Product"' [url3] = 'url+"product/"' [mostselling] = 'recents'></app-product-holder>
        <simple-notifications [options]="{position: ['top', 'right']}"></simple-notifications>
    </ng-container>
</div>
<div style="padding:200px" *ngIf="loader || viewdone == 0">  <app-loader  ></app-loader></div>

