<section class="banner-area common-banner" style="background-image:url('assets/images/blog.webp')">
</section>
<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details">
                    <h1>{{current.title}}</h1>
                    <div class="cf listing-meta meta below"> 
                        <!-- <span class="meta-item author">By <a href="" title="Posts by Kate Hanson" rel="author">Kate Hanson</a></span> -->
                        <time datetime="current.updated_at" class="meta-item">{{current.updated_at | date}}</time>
                        <!-- <span class="meta-item comments"><a href=""><i class="fa fa-comments-o"></i> 3</a></span> -->
                    </div>
                    <div class="image-blog bordershadow2">
                        <img [src]="image +'/' + current.blog_image" border="0" alt="" class="w-100">
                    </div>
                    <div [innerHTML]='current.description' class="blog-details-content">
                        
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-listing-left-part">
                    <div class="thumb-blog">
                        <div class="thumb-blog-heading">
                            <h2>OUR PICKS</h2>
                        </div>
                        <div class="thumbs-gallery">
                            <ul>
                                <li *ngFor='let s of other'>
                                    <a href="javascript:void(0)" (click)='gotoblog(s)'><img class="bordershadow2" [src]="image +'/' + s.blog_image" border="0" alt=""></a>
                                    <div class="thumb-content">
                                        <a href="javascript:void(0)" (click)='gotoblog(s)'>{{s.title}}</a>
                                        <div class="cf listing-meta meta below"> <time class="meta-item">{{s.updated_at | date}}</time></div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="blog-social">
                        <div class="thumb-blog-heading">
                            <h2>OUR Social</h2>
                        </div>
                        <ul>
                            <li><a href="https://www.facebook.com/SavyaJewelsBusiness" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/savyajewelsbusiness/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/SavyaBusiness" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://in.linkedin.com/in/savya-jewels-business" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UC3Uvsiij6fpfzD8h01ildpA" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="blog-left-blog-list">
                       
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>