<div class="page-content" style="margin-bottom: 65px;">
    <div class="holder mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li><span>Checkout</span></li>
            </ul>
        </div>
    </div>
    
    <div class="holder mt-0">
        <div class="container">
            <h1 class="text-center">Checkout page</h1>
            <div class="clearfix"></div>
            <form action="#">
                <div class="row">
                    <div class="col-md-6" style='min-height:100%'>
                        <div class="card card--grey">
                            <div class="card-body">
                                <h2>SHIPPING ADDRESS</h2>
                                <div class="col-lg-12 col-md-12 col-sm-12 card">
                                    <div *ngIf='currentAddress' class="card-body">
                                        <p>{{currentAddress.first}} {{currentAddress.last}}<br>
                                            {{currentAddress.address}}<br>
                                            {{currentAddress.city}}  {{currentAddress.pincode}}<br>
                                            {{currentAddress.region}}<br>
                                            {{currentAddress.country}}<br>
                                            {{currentAddress.mobileno}}</p>
                                    </div>
                                    <app-loader *ngIf='!currentAddress'></app-loader>
                                </div>
                                <div class="mt-2"></div>
                                <button type="button" id='openmodalbutton' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Change Address
                                </button>
                                <div class="mt-2"></div>
                                <div class="card card--grey">
                                    <div class="card-body">
                                        <h3>ORDER COMMENT</h3><label class="text-uppercase">Write a comment here:</label> <textarea name='feedback' [(ngModel)]='feedback' class="form-control textarea--height-200"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-md-6 mt-2 mt-md-0" style='min-height:100%'>
                       
                        <h2 class="custom-color">ORDER SUMMARY</h2>
                        <app-loader *ngIf="!priceWeight"></app-loader>
                        <ng-container *ngIf="priceWeight">
                        <div class="cart-table cart-table--sm">
                            <div class="cart-table-prd cart-table-prd-headings d-none d-lg-table">
                                <div class="cart-table-prd-image"></div>
                                <div class="cart-table-prd-image"></div>
                                <div class="cart-table-prd-name"><b>ITEM</b></div>
                                <div class="cart-table-prd-qty"><b>QTY</b></div>
                                <div class="cart-table-prd-price"><b>PRICE</b></div>
                            </div>
                            <div *ngFor="let r of products;let i = index" class="cart-table-prd">
                                <div class="cart-table-prd-image"><b>{{i+1}}</b></div>
                                <div class="cart-table-prd-image"><a [routerLink]="['/product-details/', r.product_id]"><img onerror="this.src='../../../../assets/images/logo-bw.png'" src="{{baseurl + r.image}}"  alt=""></a></div>
                                <div class="cart-table-prd-name">
                                    <h2><a [routerLink]="['/product-details/', r.product_id]">{{r.productName}}</a></h2><br>
                                    Gold &ensp; {{priceWeight[i].goldcat}} &ensp; {{priceWeight[i].weight * r.count}}
                                </div>
                                <div class="cart-table-prd-qty"><b>{{r.count}}</b></div>
                                <div class="cart-table-prd-price"><b>₹ {{priceWeight[i].price * r.count}}</b></div>
                            </div>
                        </div>
                        <div class="card-total-sm">
                            <div class="float-right">Total Price <span class="card-total-price">₹ {{total.price}}</span></div>
                        </div>
                        <div class="mt-2"></div>
                        <div class="card card--grey">
                            <div class="card-body">
                                <form #f="ngForm" (ngSubmit)="check(f.value)">
                                <h3>APPLY Voucher</h3><label class="text-uppercase">promo/voucher code:</label>
                                <div class="form-flex">
                                    <div class="form-group"><input #discoun="ngModel" name='discountname' [(ngModel)]='discount' type="text" class="form-control"></div><button type="submit" [disabled]='!discount' class="btn btn--form btn--alt">Apply</button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>Your Bill </h3>
                            <p><strong>
                                <div>Total Price <span class="card-total-price">₹ {{total.price}}</span></div>
                                <div>Total Gross Weight <span class="card-total-price"> {{total.weight}} g</span></div>
                                  Sgst(1.5 %): ₹ {{total.price*0.015}}<br>
                                  Cgst(1.5 %): ₹ {{total.price*0.015}}<br>
                                  Igst(1.5 %): ₹ {{total.price*0.015}}<br>
                                  <ng-container *ngIf='discountamount'>Total(after GST): ₹ {{final+disamt}}<br></ng-container>
                                  <ng-container *ngIf='discountamount'>
                                      DISCOUNT COUPAN :{{discountamount.coupan}} <br>
                                      <ng-container *ngIf='discountamount.offertype == "Fixed"'>DISCOUNT :  ₹ {{discountamount.value}} off </ng-container>
                                      <ng-container *ngIf='discountamount.offertype == "Percentage"'> DISCOUNT :{{discountamount.value}} % off</ng-container><br>
                                      DISCOUNT AMOUNT : ₹ {{disamt}} off
                                  </ng-container>
                                </strong>
                              </p>
                              <div class="card-total-sm">
                                <div class="float-right">Final Total <span class="card-total-price">₹ {{final}}</span></div>
                            </div>
                            
                        </div>
                        <div class="mt-2"></div>
                        <div class="clearfix"><button type="submit" (click)="createjson()" class="btn btn--lg w-100">Place Order</button></div></ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel"><strong>Select Address</strong></h3>
          <button type="button" id='mClose' class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="addresses" class="modal-body">
            <div class="row">
            <div class="col-sm-4" *ngFor='let s of addresses;let i = index'>
                <div class="card" [ngClass]="{shadow:callshadow==s.id || clicked==s.id}" (click)="getadd(s.id)" (mouseover)="callshadow=s.id" (mouseout)="callshadow='a'">
                    <div class="card-body">
                        <p>{{s.first}} {{s.last}}<br>{{s.address}}<br>{{s.city}}  {{s.pincode}}<br>{{s.region}}<br>{{s.country}}<br>{{s.mobileno}}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div *ngIf="!addresses" class="modal-body">
            <app-loader></app-loader>
        </div>
        <div class="modal-footer">
          <button type="button" (click)='setadd()' class="btn btn-primary">Set Address</button>
        </div>
      </div>
    </div>
  </div>
