<div class=" page-content"  *ngIf="page">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a  routerLink="/">Home</a></li>
                    <li *ngIf='subcategory'><a  routerLink="/jewelry/{{category  | category}}/{{subcategory | subcategory}}" [queryParams]="{ 'subcategory': data.subcategory_id}">{{subcategory}}</a></li>
                    <li *ngIf='subsubcategory'><a routerLink="/jewelry/{{category | category}}/{{subcategory | subcategory}}/{{subsubcategory | subcategory}}" [queryParams]="{ 'subsubcategory': data.subsubcategory_id}">{{subsubcategory}}</a></li>
                </ul>
            </div>
        </div>
              <!-- modal start -->
 <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#exampleModal">Open Modal</button>

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <button type="hidden" id='mClose' class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body text-center">
            <app-loader></app-loader>
           <h3><strong>Please Wait...</strong></h3> 
        </div> 
      </div>
    </div>
</div>


<button id="openModalButton2" [hidden]="true" data-toggle="modal" data-target="#exampleModal2">Open Modal</button>

 <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button id='mClose' class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body text-center">
           <h3><strong>{{message}}</strong></h3> 
           <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="close">Close</button>
          </div>
        </div> 
      </div>
    </div>
</div>
   <!-- modal end -->
   <ng-container *ngIf='data && pricelist'>
        <div class="holder mt-0">
            <div class="container">
                <div class="row prd-block prd-block--mobile-image-first js-prd-gallery" id="prdGallery100">
                    <div  class="col-md-6 col-xl-5">
                        <div class="prd-block_main-image main-image--slide js-main-image--slide">
                            <div #slidez class="prd-block_main-image-holder js-main-image-zoom" data-zoomtype="inner">
                                
                                            <div class="slide active">
                                                <lib-ngx-image-zoom
                                                [thumbImage]="url+'product'+'/'+data.image"
                                                            [magnification]=2>
                                                </lib-ngx-image-zoom>
                                            </div>
                                <div *ngFor="let slide of prd_img;let i = index"  class="slide">
                                    <ng-container *ngIf='slide.type == 1'>
                                        <lib-ngx-image-zoom
                                        [thumbImage]="url+'product'+'/'+slide.image"
                                                            [magnification]=2>
                                            </lib-ngx-image-zoom>
                                        </ng-container>
                                        <ng-container *ngIf='slide.type == 2'>
                                            <video width="100%" controls>
                                                <source [src]="url+'product'+'/'+slide.image" type="video/mp4">
                                            </video>
                                        </ng-container>
                                </div> 
                            </div>
                            <span (click)="indicateSlide(0)">
                                <img src="{{ url+'product'+'/' + data.image }}" class="thumbnail" style="max-height: 100px;" alt="" height="100px" width="100px">
                            </span>
                            <span (click)="indicateSlide(i+1)" *ngFor="let slide of prd_img;let i = index">
                               
                                <img src="{{ url+'product'+'/' + slide.image }}" class="thumbnail" style="max-height: 100px;" alt="" height="100px" width="100px">
                            </span>
                        </div>
                       
                        <!-- /Product Gallery -->
                        <div class="prd-safecheckout topline slider-bottom-support-image">
                        <div class="row" *ngIf='certificate && certificate.length>0' > 
                            <div class="col-auto">
                            <h6>certified by:</h6>
                            <img class="bordershadow2" style="width:50px;height:auto" [src]="url+ 'certificate/' + certificate[0].image" onerror="this.src='../../../../assets/images/logo-bw.png'"> 
                        </div>
                        <div class='col-auto'>
                            <h6>Company by:</h6>
                            <img class="bordershadow2" style="width:50px;height:auto" [src]="url+ 'users/' + manufacture.logo" onerror="this.src='../../../../assets/images/logo-bw.png'">
                          <br>  <h6>{{manufacture.company_name}}</h6>
                        </div>
                        </div>
                        
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="prd-block_info">
                            <div class="js-prd-d-holder prd-holder product-name-details">
                                <div class="prd-block_title-wrap">
                                    <h1 class="prd-block_title product-details-item-heading">{{data.productname}}</h1>
                                </div>
                                <div class="prd-block_info-top">
                                    <div *ngIf='value>0' class="product-sku product-price">{{totalprice | INRCurrency}}<span *ngIf='gold && goldlist.length' class="product-size">( {{gold.jwellery_size}} )</span></div>
                                    <div class="product-weight"><strong> <span style="font-weight:700px !important"> Gross Weight: &nbsp;&nbsp; {{gross  | number : '1.3-3'}}</span> <span style="text-transform: initial;"> g</span></strong></div>
                                </div>
                            </div>   
                            <ng-container *ngIf='!cid'>
                            <ng-container   *ngIf='data.jwellery_type == "Ring" || data.jwellery_type == "Chain"'>
                                <div *ngIf="data.default_size != 'None'" class="product-size-box">
                                    <label for="id_select" class="option-label"> Select {{data.jwellery_type}} 
                                        <ng-container *ngIf='data.jwellery_type == "Ring"'>Size</ng-container>
                                        <ng-container *ngIf='data.jwellery_type == "Chain"'>Length</ng-container>
                                    </label>
                                    <select *ngIf="data.size_type != '' && data.size_type != 'None' " id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                        <option *ngFor="let option of sizes" [value]="option" [selected]="option === defaultsize">
                                        {{option}}
                                        </option>
                                    </select>
                                    <select *ngIf="data.size_type == ''" id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                        <option [value]="defaultsize" [selected]>
                                        {{defaultsize}}
                                        </option>
                                    </select>
                                    <ng-container *ngIf='data.jwellery_type == "Ring"'><a href="javascript:void(0)" routerLink='/page/ring'> Ring Size ?</a></ng-container>
                                </div>
                            </ng-container>
                            <ng-container   *ngIf='data.jwellery_type == "Bangles"'>
                                <div *ngIf="data.default_size != 'None'" class="product-size-box">
                                    <label for="id_select" class="option-label"> Select {{data.jwellery_type}} Size </label>
                                    <select *ngIf="data.size_type != '' && data.size_type != 'None' " id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                        <option *ngFor="let option of sizelist" [value]="option.sizes" [selected]="option.sizes === defaultsize">
                                        {{option.bangle_size}}
                                        </option>
                                    </select>
                                    <select *ngIf="data.size_type == ''" id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                        <option [value]="defaultsize" [selected]>
                                        {{defaultsize}}
                                        </option>
                                    </select>
                                    <ng-container *ngIf='data.jwellery_type == "Bangles"'><a href="javascript:void(0)" routerLink='/page/bangle'> Bangle Size ?</a></ng-container>
                                </div>
                            </ng-container>
                            </ng-container>

                            <ng-container *ngIf='cid && cart'>
                                <ng-container   *ngIf='data.jwellery_type == "Ring" || data.jwellery_type == "Chain"'>
                                    <div *ngIf="data.default_size != 'None'" class="product-size-box">
                                        <label for="id_select" class="option-label"> Select {{data.jwellery_type}} 
                                            <ng-container *ngIf='data.jwellery_type == "Ring"'>Size</ng-container>
                                            <ng-container *ngIf='data.jwellery_type == "Chain"'>Length</ng-container>
                                        </label>
                                        <select *ngIf="data.size_type != '' && data.size_type != 'None' " id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                            <option *ngFor="let option of sizes" [value]="option" [selected]="option === cart.product_size">
                                            {{option}}
                                            </option>
                                        </select>
                                        <select *ngIf="data.size_type == ''" id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                            <option [value]="defaultsize" [selected]>
                                            {{defaultsize}}
                                            </option>
                                        </select>
                                        <ng-container *ngIf='data.jwellery_type == "Ring"'><a href="javascript:void(0)" routerLink='/page/ring'> Ring Size ?</a></ng-container>
                                    </div>
                                </ng-container>
                                <ng-container   *ngIf='data.jwellery_type == "Bangles"'>
                                    <div *ngIf="data.default_size != 'None'" class="product-size-box">
                                        <label for="id_select" class="option-label"> Select {{data.jwellery_type}} Size </label>
                                        <select *ngIf="data.size_type != '' && data.size_type != 'None' " id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                            <option *ngFor="let option of sizelist" [value]="option.sizes" [selected]="option.sizes === cart.product_size">
                                            {{option.bangle_size}}
                                            </option>
                                        </select>
                                        <select *ngIf="data.size_type == ''" id="id_select" (change)="sizechange($event.target.value)" autofocus="true" placeholder="Select Size" class="product-size-select">
                                            <option [value]="defaultsize" [selected]>
                                            {{defaultsize}}
                                            </option>
                                        </select>
                                        <ng-container *ngIf='data.jwellery_type == "Bangles"'><a href="javascript:void(0)" routerLink='/page/bangle'> Bangle Size ?</a></ng-container>
                                    </div>
                                </ng-container>
                                </ng-container>
                            <div  *ngIf="metalcolour && metalcolour.length" class="color-chose-box d-table">
                                <div class="color-text d-table-cell option-label"><p>Choose Color:</p></div>
                                <div class="sample-box"> 
                                    <ul>
                                        <li *ngFor="let option of metalcolour"><a href="javascript:void(0)" (click)="colormetal(option)" [ngClass]="{focus: colvalue==option,'btn-danger': 'Rose'==option, 'btn-warning': 'Yellow'==option, 'btn-outline-secondary': 'White'==option}" >{{option}}</a></li>                                       
                                    </ul>
                                </div>
                            </div>
                            <div  class="prd-block_options topline">
                                <div *ngIf=(platinum)  >

                                    <div class="prd-size swatches">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top;">
                                       <strong><span style="font-weight:700px !important;">Platinum Type:&nbsp;</span></strong>
                                                </td>
                                                <td>
                                        <div class="radio-group">
                                                <input [checked]='true' class='radio-control' type="radio" id="{{platinum.jwellery_size}}" name="Platinum">
                                                <label for="{{platinum.jwellery_size}}">{{platinum.jwellery_size}}</label>
                                        </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <table>
                                        <tr class="product-code" class="option-label"><td> Product Code</td><td>&nbsp;:&nbsp; {{data.productcode}}</td></tr>
                                    <tr *ngIf=(platinum.weight) class="option-label"><td> Platinum Price</td><td>&nbsp;:&nbsp;  {{this.pricelist.platinum[0].price | INRCurrency}} / <span style="text-transform: initial;"> g</span></td></tr>
                                    <tr *ngIf=(platinum.weight) class="option-label"><td>Platinum Weight</td><td>&nbsp;:&nbsp;  {{platinum.weight | number : '1.3-3'}} <span style="text-transform: initial;"> g</span></td></tr>
                                    <tr *ngIf=(platinum.purity) class="option-label"><td>Platinum Purity</td><td>&nbsp;:&nbsp;  {{platinum.purity}} <span style="text-transform: initial;"> %</span></td></tr>
                                    <tr *ngIf=(platinum.wastage) class="option-label"><td>Planitum wastage</td><td>&nbsp;:&nbsp;  {{platinum.wastage}} %</td></tr>
                                    <tr *ngIf="platinum.charges_option != 'Percentage'  && platinum.making_charge !=0" class="option-label"><td>Making Charges</td><td>&nbsp;:&nbsp; {{platinum.making_charge| INRCurrency}}<span *ngIf='platinum.charges_option=="PerGram"'>/ g</span><span *ngIf='platinum.charges_option=="Fixed"'>(Fixed)</span></td></tr>
                                    <tr *ngIf="platinum.charges_option!= 'Percentage' && platinum.making_charge !=0" class="option-label"><td>Total Making Charge</td> 
                                        <ng-container *ngIf='platinum.charges_option=="Fixed"'><td>&nbsp;:&nbsp; {{platinum.making_charge| INRCurrency}}</td></ng-container>
                                        <ng-container *ngIf='platinum.charges_option=="PerGram"'><td>&nbsp;:&nbsp;{{platinum.making_charge*1*platinum.weight*1| INRCurrency}} </td></ng-container>
                                    </tr>
                                    <tr class="option-label"><td>Total Platinum Price</td><td>&nbsp;:&nbsp;{{totalplat | INRCurrency}}</td></tr>
                                </table>
                                </div>


                                <div *ngIf='gold && goldlist.length' class="prd-size swatches">
                                    <table>
                                        <tr>
                                            <td style="vertical-align: top;">
                                   <strong><span style="font-weight:700px !important;vertical-align:top;">Gold Type:&nbsp;</span></strong>
                                            </td>
                                            <td>
                                    <div class="radio-group">
                                        <ng-container *ngFor='let s of goldlist;let i = index'>
                                            <ng-container *ngIf='!cid'>
                                            <input [checked]='(i==0) ? true:false' class='radio-control' (change)='getgold(s.jwellery_size)' type="radio" id="{{s.jwellery_size}}" name="gold">
                                            <label for="{{s.jwellery_size}}">{{s.jwellery_size}}</label>
                                        </ng-container>
                                        <ng-container *ngIf='cid && cart'>
                                            <input [checked]='(s.jwellery_size==cartassests["gold"].materialType) ? true:false' class='radio-control' (change)='getgold(s.jwellery_size)' type="radio" id="{{s.jwellery_size}}" name="gold">
                                            <label for="{{s.jwellery_size}}">{{s.jwellery_size}}</label>
                                        </ng-container>
                                        </ng-container>
                                    </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                    <div *ngIf='gold && pricegold'>
                                        <table>
                                        <tr class="product-code" class="option-label"><td> Product Code</td><td>&nbsp;:&nbsp; {{data.productcode}}</td></tr>
                                        <tr  class="option-label"><td>Gold Purity</td><td>&nbsp;:&nbsp; {{pricegold.value_in}} %</td></tr>
                                        <tr *ngIf=(gold.weight) class="option-label"><td>Net Gold Weight</td><td>&nbsp;:&nbsp;  {{gold.weight| number : '1.3-3'}} <span style="text-transform: initial;"> g</span></td></tr>
                                        <tr *ngIf="gold.wastage && gold.wastage != 0  && gold.charges_option != 'Percentage'" class="option-label"><td>Gold wastage</td><td>&nbsp;:&nbsp; {{gold.wastage}} %</td></tr>
                                        <tr *ngIf="gold.charges_option == 'Percentage'" class="option-label"><td>Gold wastage</td><td>&nbsp;:&nbsp; {{gold.making_charge*1 + gold.wastage*1}} %</td></tr>
                                        <tr *ngIf="gold.charges_option != 'Percentage'  && gold.making_charge !=0" class="option-label"><td>Making Charges</td><td>&nbsp;:&nbsp;  {{gold.making_charge| INRCurrency}} 
                                            <span *ngIf='gold.charges_option == "Fixed"'>(Fixed)</span>
                                            <span *ngIf='gold.charges_option == "PerGram"'>/ g</span>
                                        </td></tr>
                                        <tr class="option-label"><td>Fine Gold Weight</td><td>&nbsp;:&nbsp;  {{finegold| number : '1.3-3'}} <span style="text-transform: initial;"> g</span></td></tr>
                                        <tr *ngIf="pricegold2" class="option-label"><td>Fine Gold Rate</td><td>&nbsp;:&nbsp;  {{pricegold2.price| INRCurrency}} <span style="text-transform: initial;">/ g</span></td></tr>
                                        <tr *ngIf="gold.charges_option!= 'Percentage' && gold.making_charge !=0" class="option-label"><td>Total Making Charge</td>
                                             <ng-container *ngIf='gold.charges_option=="Fixed"'> <td>&nbsp;:&nbsp;{{gold.making_charge| INRCurrency}}</td></ng-container>
                                            <ng-container *ngIf='gold.charges_option=="PerGram"'><td>&nbsp;:&nbsp;{{gold.making_charge*1*gold.weight*1| INRCurrency}} </td></ng-container></tr>
                                        <tr *ngIf="gold.meenacost_option == 'PerGram' && gold.meena_cost!=0" class="option-label"><td>Meena Cost</td><td>&nbsp;:&nbsp;  {{gold.weight * gold.meena_cost | INRCurrency}}</td></tr>
                                        <tr class="option-label"><td>Total Amount</td><td>&nbsp;:&nbsp;  {{totalgold| INRCurrency}}</td></tr>
                                    </table>
                                    </div>

                                    <div *ngIf=(silver)>
                                    <table>
                                        <tr class="option-label"><td> Silver Weight</td><td>&nbsp;:&nbsp;  {{silver.weight| number : '1.3-3'}} <span style="text-transform: initial;"> g</span></td></tr>
                                        <tr class="option-label"><td>Silver Rate</td><td>&nbsp;:&nbsp;  {{pricelist.silver[0].price | INRCurrency}} <span style="text-transform: initial;">/ g</span></td></tr>
                                        <tr *ngIf=(silver.wastage) class="option-label"><td>Silver wastage</td><td>&nbsp;:&nbsp;  {{silver.wastage}} %</td></tr>
                                        <tr class="option-label"><td>Making Charges</td><td>&nbsp;:&nbsp;  {{silver.making_charge}}</td></tr>
                                        <tr class="option-label"><td>Charges Type</td><td>&nbsp;:&nbsp;  {{silver.charges_option}}</td></tr>
                                        <tr class="option-label"><td>Total Silver Price</td><td>&nbsp;:&nbsp;  {{totalsilver | INRCurrency}}</td></tr>
                                    </table>
                                    </div>

                                    <div *ngIf=(diamond) class="choose-diamond">
                                       
                                       <strong>
                                           <label for="id_select">
                                               <span style="font-weight:700px !important">Diamond:</span>
                                            </label>
                                        </strong>
                                               
                                        <div class="diamond-selectbox">
                                            <select class="product-size-select" (change)="diamondchange(1,$event.target.value)">
                                                <option *ngFor="let dia of diamondlist1" [value]="dia.jwellery_size">{{dia.jwellery_size}}</option>
                                            </select>
                                        </div>
                                                
                                    </div>
                                    <div *ngIf=(diamond)  class="prd-size">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top;">
                                      <strong>  <span style="font-weight:700px !important">Diamond Color:&nbsp;</span> </strong>
                                                </td>
                                                <td>
                                            <div class="radio-group">
                                                <ng-container *ngFor='let s of diamondcolour;let i = index'>
                                                    <input [disabled]='discol[i]==1' [checked]='(s==defaultdiamond[0]) ? true:false' class='radio-control' (change)='colorClarity(s,0)' type="radio" id="{{s}}" name="diamondcolour">
                                                    <label for="{{s}}">{{s}}</label>
                                                </ng-container>
                                            </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div *ngIf=(diamond)  class="prd-size">
                                        <tr>
                                            <td style="vertical-align: top;">
                                    <strong><span for="id_select" style="font-weight:700px !important"> Diamond Clarity:&nbsp;</span> </strong>
                                            </td>
                                            <td>
                                            <div class="radio-group">
                                                <ng-container *ngFor='let s of diamondclarity;let i = index'>
                                                    <input [disabled]='discla[i]==1' [checked]='(s==defaultdiamond[1]) ? true:false' class='radio-control' (change)='colorClarity(0,s)' type="radio" id="{{s}}" name="diamondclarity">
                                                    <label for="{{s}}">{{s}}</label>
                                                </ng-container>
                                            </div>
                                            </td>
                                        </tr>
                                    </div>

                                    <div *ngIf='diamond && pricediamond'>
                                    <table>
                                        <tr class="option-label"><td> Name</td><td>&nbsp;:&nbsp; {{diamond.jwellery_size}}</td></tr>
                                        <tr *ngIf=(diamond.weight) class="option-label"><td> Weight</td><td>&nbsp;:&nbsp;  {{diamond.weight | number : '1.3-3'}} <span style="text-transform: initial;"> Ct</span></td></tr>
                                        <tr *ngIf=(pricediamond) class="option-label"><td> Diamond Price</td><td>&nbsp;:&nbsp; {{pricediamond.price  | INRCurrency}}/<span style="text-transform: initial;"> Ct</span></td></tr>
                                        <tr *ngIf=(diamond.quantity) class="option-label"><td> No of Diamond</td><td>&nbsp;:&nbsp;  {{diamond.quantity}} <span style="text-transform: initial;"> Pc</span></td></tr> 
                                        <tr *ngIf='diamond.certification_cost && diamond.certification_cost!=0' class="option-label"><td> Certificate Charges</td><td>&nbsp;:&nbsp; {{diamond.certification_cost  | INRCurrency}}<span *ngIf='diamond.crtcost_option == "PerCarat"' style="text-transform: initial;">/ Ct</span></td></tr>
                                        <tr *ngIf='diamond.crtcost_option == "PerCarat"  && diamond.certification_cost!=0' class="option-label"><td> Total Certificate Charges</td><td>&nbsp;:&nbsp;  {{diamond.certification_cost * diamond.weight | INRCurrency}}</td></tr>
                                        <tr *ngIf='diamond.crtcost_option == "Fixed" && diamond.certification_cost!=0' class="option-label"><td> Total Certificate Charges</td><td>&nbsp;:&nbsp;  {{diamond.certification_cost * diamond.weight | INRCurrency}}</td></tr>
                                        <tr class="option-label"><td> Diamond Total</td><td>&nbsp;:&nbsp;{{totaldiamond   | INRCurrency}} </td></tr>
                                        <tr class="option-label"><td> Diamond Color/Clarity</td><td>&nbsp;:&nbsp; {{this.defaultdiamond[0] + '/' + this.defaultdiamond[1]}}</td></tr>
                                    </table>
                                    </div>



                                    <div *ngIf='diamond2 && defaultdiamond2' class="choose-diamond">
                                        
                                        <strong>
                                            <label for="id_select" style="font-weight:700px !important">
                                                <span style="font-weight:700px !important">Diamond:</span>
                                            </label>
                                        </strong>
                                            
                                        <div class="diamond-selectbox">
                                            <select class="product-size-select" (change)="diamondchange(2,$event.target.value)">
                                                <option *ngFor="let dia of diamondlist2" [value]="dia.jwellery_size">{{dia.jwellery_size}}</option>
                                            </select>
                                        </div>
                                            
                                    </div>
                                    <div *ngIf='diamond2  && defaultdiamond2'  class="prd-size">
                                        <table>
                                            <tr>
                                            <td style="vertical-align: top;">
                                       <strong> <span style="font-weight:700px !important">Diamond Color:&nbsp;</span></strong>
                                            </td>
                                            <td>
                                            <div class="radio-group">
                                                <ng-container *ngFor='let s of diamondcolour2;let i = index'>
                                                    <input [disabled]='discol2[i]==1' [checked]='(s==defaultdiamond2[0]) ? true:false' class='radio-control' (change)='colorClarity(s,0,2)' type="radio" id="{{s+'d'}}" name="diamondcolour2">
                                                    <label for="{{s+'d'}}">{{s}}</label>
                                                </ng-container>
                                            </div>
                                            </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div *ngIf='diamond2  && defaultdiamond2'  class="prd-size">
                                        <table>
                                            <tr>
                                            <td style="vertical-align: top;"> 
                                    <strong>
                                        <span for="id_select" class="option-label"> Diamond Clarity:&nbsp;</span>
                                    </strong>
                                            </td>
                                            <td>
                                            <div class="radio-group">
                                                <ng-container *ngFor='let s of diamondclarity2;let i = index'>
                                                    <input [disabled]='discla2[i]==1' [checked]='(s==defaultdiamond2[1]) ? true:false' class='radio-control' (change)='colorClarity(0,s,2)' type="radio" id="{{s+'d'}}" name="diamondclarity2">
                                                    <label for="{{s+'d'}}">{{s}}</label>
                                                </ng-container>
                                            </div>
                                            </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div *ngIf='diamond2 && pricediamond2 && defaultdiamond2'>
                                        <tr class="option-label"><td> Name</td><td>&nbsp;:&nbsp; {{diamond2.jwellery_size}}</tr>
                                        <tr *ngIf=(diamond2.weight) class="option-label"><td> Weight</td><td>&nbsp;:&nbsp;  {{diamond2.weight | number : '1.3-3'}} <span style="text-transform: initial;"> Ct</span></td></tr>
                                        <tr *ngIf=(pricediamond2) class="option-label"><td> Diamond Price</td><td>&nbsp;:&nbsp; {{pricediamond2.price  | INRCurrency}}/<span style="text-transform: initial;"> Ct</span></td></tr>
                                        <tr *ngIf=(diamond2.quantity) class="option-label"><td> No of Diamond</td><td>&nbsp;:&nbsp;  {{diamond2.quantity}} <span style="text-transform: initial;"> Pc</span></td></tr> 
                                        <tr *ngIf="diamond2.certification_cost && diamond2.certification_cost!=0" class="option-label"><td> Certificate Charges</td><td>&nbsp;:&nbsp; {{diamond2.certification_cost  | INRCurrency}}<span *ngIf='diamond2.crtcost_option == "PerCarat"' style="text-transform: initial;">/ Ct</span></td></tr>
                                        <tr *ngIf='diamond2.crtcost_option == "PerCarat"  && diamond2.certification_cost!=0' class="option-label"><td> Total Certificate Charges</td><td>&nbsp;:&nbsp;  {{diamond2.certification_cost * diamond2.weight | INRCurrency}}</td></tr>
                                        <tr *ngIf='diamond2.crtcost_option == "Fixed"  && diamond2.certification_cost!=0' class="option-label"><td> Total Certificate Charges</td><td>&nbsp;:&nbsp;  {{diamond2.certification_cost * diamond2.weight | INRCurrency}}</td></tr>  
                                        <tr *ngIf='totaldiamond2' class="option-label"><td> Diamond Total</td><td>&nbsp;:&nbsp;{{totaldiamond2   | INRCurrency}} </td></tr>
                                        <tr class="option-label"><td> Diamond Color/Clarity</td><td>&nbsp;:&nbsp; {{this.defaultdiamond2[0] + '/' + this.defaultdiamond2[1]}}</td></tr>
                                    </div>

                                    
                                <ng-container *ngIf='stone.length && stone_index.length'>
                                    <ng-container *ngFor='let b of stone;let i=index'>

                                    <!-- <strong>
                                        <label for="'id_select'+{{i}}" style="font-weight:700px !important">
                                            <span style="font-weight:700px !important">Stone:</span>
                                        </label>
                                    </strong>
                                        
                                    <div *ngIf='!cid' class="diamond-selectbox">
                                        <select class="product-size-select" id="id_select'+{{i}}" (change)="getstone($event.target.value,i)">
                                            <option *ngFor="let s of stone_index[i];let j = index" id="" [value]="s.jwellery_size" [selected]="j == 0">{{s.jwellery_size}}</option>
                                        </select>
                                    </div>
                                    <div *ngIf='cid' id="id_select'+{{i}}" class="diamond-selectbox">
                                        <select class="product-size-select" (change)="getstone($event.target.value,i)">
                                            
                                            <option *ngFor="let s of stone_index[i];let j = index" [value]="s.jwellery_size" [selected]='s.jwellery_size===cartassests["stone"][i].materialType'>{{s.jwellery_size}}</option>
                                        </select>
                                    </div> -->
   
                                <div *ngIf='stone_index[i].length' class="prd-size swatches">
                                    <table>
                                        <tr>
                                            <td style="vertical-align: top;">
                                   <span style="font-weight:700px !important"><strong> Stone: &nbsp;</strong></span>
                                            </td>
                                            <td>
                                    <div *ngFor='let s of stone_index[i];let j = index' class="radio-group">
                                        
                                            <ng-container *ngIf='!cid'>
                                          <a><input  [checked]='(j==0) ? true:false' class='radio-control' (change)='getstone(s.jwellery_size,i,j+"stone"+i)' type="radio" id="{{j+'stone'+i}}" [name]="'stone'+i">
                                                <label for="{{j+'stone'+i}}">{{s.jwellery_size}}</label></a>
                                            </ng-container>
                                            <ng-container *ngIf='cid'>
                                                <input [checked]='(s.jwellery_size==cartassests["stone"][i].materialType) ? true:false' class='radio-control' (change)='getstone(s.jwellery_size,i,j+"stone"+i)' type="radio" id="{{j+'stone'+i}}" [name]="'stone'+i">
                                                <label for="{{j+'stone'+i}}">{{s.jwellery_size}}</label>
                                            </ng-container>
                                        
                                    </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                
                                <div>
                                <table>
                                    <tr class="option-label"><td> No Stone</td><td>&nbsp;:&nbsp;  {{b.quantity}} <span style="text-transform: initial;"> Pc</span></td></tr>
                                    <tr class="option-label"><td> Stone Weight</td><td>&nbsp;:&nbsp;  {{b.weight | number : '1.3-3'}} <span style="text-transform: initial;"> Ct</span></td></tr>
                                    <tr *ngIf=(pricestone[i]) class="option-label"><td> Stone Rate</td><td>&nbsp;:&nbsp;{{pricestone[i].price| INRCurrency}}/<span style="text-transform: initial;"> Ct</span></td></tr>
                                    <tr class="option-label" *ngIf=(pricestone[i])><td> Stone Total</td><td>&nbsp;:&nbsp; {{totalstone[i] | INRCurrency}}</td></tr>
                                </table>
                                </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            
                            <div class="prd-block_actions topline">
                                <div class="item-plus-minus" >
                                    <table>
                                        <tr>
                                            <td><button [disabled]='value==1'  (click)="valuec(-1)" class="btn btn-secondary btn-block">-</button></td>
                                            <td>{{value}}</td>
                                            <td><button  (click)="valuec(1)" class="btn btn-secondary btn-block">+</button></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="prd-hover">

                                    <div class="prd-action button-margin-none">
                                       
                                        
                                        
                                        <input type="hidden"> <button class="btn" [disabled]="btn==0" (click)="createjson()"><i class="icon icon-handbag"></i><span *ngIf='cid'>Save Changes To Cart</span><span *ngIf='!cid'>Add To Cart</span></button> 
                                    
                                        <div style="padding-left:15px;" class="prd-links"><a (click)="wishlist(data.id)" *ngIf="!checkHeart(data.id)"  class="label-wishlist icon-heart js-label-wishlist"></a><a (click)="deleteWishlist(data.id)"  *ngIf="checkHeart(data.id)" class="label-wishlist icon-heart-fill js-label-wishlist"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 mt-3 mt-xl-0 sidebar-product">
                        <div class="shop-features-style4"><a class="shop-feature">
                                <div class="shop-feature-icon"><i class="icon-box3"></i></div>
                                <div class="shop-feature-text">
                                    <div class="text1">Worlwide delivery</div>
                                </div>
                            </a><a class="shop-feature">
                                <div class="shop-feature-icon"><i class="icon-arrow-left-circle"></i></div>
                                <div class="shop-feature-text">
                                    <div class="text1">100% money back guarantee</div>
                                </div>
                            </a><a class="shop-feature">
                                <div class="shop-feature-icon"><i class="icon-call"></i></div>
                                <div class="shop-feature-text">
                                    <div class="text1">24/7 customer support</div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
            
            <div class="holder mt-2 mt-sm-5">
                <div class="container">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs product-tab">
                        <li class="nav-item"><a href="#Tab1" class="nav-link active show" data-toggle="tab">Description</a></li>
                    </ul><!-- Tab panes -->
                    <div class="tab-content">
                    
                        <div role="tabpanel" class="tab-pane fade active show" [innerHTML]="data.description" id="Tab1">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
            <!-- Recent Products -->
        <app-product-holder [redirect] = "0" [heading] = '"Related Product"' [url3] = 'url+"product/"' [mostselling] = 'recents'></app-product-holder>
        <simple-notifications [options]="{position: ['top', 'right']}"></simple-notifications>
    </ng-container>
</div>
<div *ngIf="loader"><app-loader></app-loader></div>

