      <!-- modal start -->
 <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLongTitle"></h5>
           <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button> -->
         </div>
         <div class="modal-body">
             <h3>You are not logged in.</h3><br><h5>(Please Login first)</h5>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <!-- <button type="button" class="btn btn-primary" (click)="goLogin()">Go</button> -->
         </div>
       </div>
     </div>
   </div>
   <!-- modal end -->
<div  *ngIf="page">     
      <div class="prd-grid product-listing data-to-show-3 data-to-show-md-3 data-to-show-sm-2 js-category-grid" *ngIf="div" >

                  <div class="prd" *ngFor="let s of products"  >
                          <div class="prd-inside" >
                              <div class="prd-img-area"><a (click)='go(s.product_id)' class="prd-img"><img [src]="url + s.image" onerror="this.src='../../../../assets/images/logo-bw.png'" alt="Tyssot 1853"></a>
                                  <a href="javascript:void(0)" (click)="wishlist(s.product_id)" *ngIf="!checkHeart(s.product_id)" class="label-wishlist icon-heart js-label-wishlist"></a>
                                  <a href="javascript:void(0)" (click)="deleteWishlist(s.product_id)"  *ngIf="checkHeart(s.product_id)" class="label-wishlist icon-heart-fill js-label-wishlist"></a>
                                  <div class="gdw-loader"></div>
                              </div>
                              <div class="prd-info">

                                  <div class="prd-tag prd-hidemobile"><a href="javascript:void(0)">{{s.size}}</a></div>
                                  <h2 class="prd-title"><a (click)='go(s.product_id)'>{{s.productname}}</a></h2>

                                  <div class="prd-hover">
                                      <div class="prd-action">


                                    <div   *ngIf= "checkCart(s.product_id)" class="row no=gutters" >
                                      <button routerLink="/cart" class="btn"><i class="icon icon-handbag"></i><span>Go to Cart</span></button>
                                        <!-- <div class="col-2">
                                            <button  (click)="qtyUpdate(s.product_id,-1)" class="btn btn-secondary btn-block">-</button>
                                        </div>
                                          <div   *ngIf= "checkCart(s.product_id)" class="row no=gutters" >
                                              <div class="col-2">
                                                  <button  (click)="qtyUpdate(s.product_id,-1)" class="btn btn-secondary btn-block">-</button>
                                              </div>
              
                                              <div class="col-4 text-right">{{quantity(s.product_id)}}</div>
              
                                         
                                        <div class="col-2">
                                            <button  (click)="qtyUpdate(s.product_id,+1)" class="btn btn-secondary btn-block">+</button>
                                        </div> -->
                                    </div>
                                    <form action="#"><input type="hidden"> <button class="btn" *ngIf= "!checkCart(s.product_id)"  (click)="go(s.product_id)" ><i class="icon icon-handbag"></i><span>View Detail</span></button></form> 
                                    <!-- <div class="prd-links hide-mobile"><a  (click)="wishlist(s.product_id)" *ngIf="!checkHeart(s.product_id)"  class="label-wishlist icon-heart js-label-wishlist"></a><a  (click)="deleteWishlist(s.product_id)"  *ngIf="checkHeart(s.product_id)"  class="label-wishlist icon-heart-fill js-label-wishlist"></a></div> -->

                                </div>
                            </div>
                        </div>
                    </div>
                  </div> 
      </div>
<simple-notifications></simple-notifications>
</div>
      <div  *ngIf="alert" style="padding: 200px;">
          <ngb-alert [dismissible]="false" >
              <strong>{{message}}</strong> 
          </ngb-alert>
      </div>  
<div style="padding: 200px;" *ngIf="loader"><app-loader  ></app-loader></div>
